openapi: 3.0.1
info:
  contact:
    email: help@accentvoice.io
    name: Accent Team
    url: https://accentvoice.io/
  description: |-
    Confd exposes an API for managing core resources on a Accent server such as users, extensions, devices, voicemails, queues, etc. Resources can be associated together to provide additional functionality. For example: By associating a voicemail with a user, calls will automatically fallback on to the voicemail when the user cannot answer.

    Implementation notes
    ====================

    Errors
    ------

    Responses containing errors will have a status code in the 400 or 500 class. A list of error messages will be returned in the body of the response as a JSON-encoded array:

    ~~~
    [
        "Input error - User not found",
        "Resource error - User not associated to a line"
    ]
    ~~~


    Updating resources via PUT
    --------------------------

    When updating a resource, all fields become optional. In other words, only values that have been changed need to be sent to the server. Please note that this behavior may change in future versions of the API.
  license:
    name: GPL v3
    url: http://www.gnu.org/licenses/gpl.txt
  title: accent-confd
  version: "1.1"
  x-logo:
    altText: Accent Logo
    backgroundColor: '#FAFAFA'
    url: https://accentvoice.io/images/logo-black.svg
servers:
- url: http://api.accentvoice.io/1.1
- url: https://api.accentvoice.io/1.1
security:
- accent_auth_token: []
tags:
- externalDocs:
    description: Documentation on function key models
    url: https://accentvoice.io/uc-doc/api_sdk/rest_api/confd/func_keys
  name: funckeys
paths:
  /access_features:
    get:
      description: '**Required ACL:** `confd.access_features.read`'
      operationId: list_access_features
      parameters:
      - description: Name of the field to use for sorting the list of items returned.
        in: query
        name: order
        schema:
          type: string
      - description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
          order
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Maximum number of items to return in the list
        in: query
        name: limit
        schema:
          type: integer
      - description: Number of items to skip over in the list. Useful for pagination.
        in: query
        name: offset
        schema:
          type: integer
      - description: Search term for filtering a list of items. Only items with a
          field containing the search term will be returned.
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessFeatureItems'
          description: AccessFeatures list
      summary: List access features
      tags:
      - access_features
    post:
      description: '**Required ACL:** `confd.access_features.create`'
      operationId: create_access_feature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessFeature'
        description: Access feature to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessFeature'
          description: AccessFeature created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when creating the resource
      summary: Create access_feature
      tags:
      - access_features
      x-codegen-request-body-name: body
  /access_features/{access_feature_id}:
    delete:
      description: "**Required ACL:** `confd.access_features.{access_feature_id}.delete`"
      operationId: delete_access_feature
      parameters:
      - description: Access feature ID
        in: path
        name: access_feature_id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Resource was deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when deleting the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Delete access feature
      tags:
      - access_features
    get:
      description: "**Required ACL:** `confd.access_features.{access_feature_id}.read`"
      operationId: get_access_feature
      parameters:
      - description: Access feature ID
        in: path
        name: access_feature_id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessFeature'
          description: AccessFeature
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Get access_feature
      tags:
      - access_features
    put:
      description: "**Required ACL:** `confd.access_features.{access_feature_id}.update`"
      operationId: update_access_feature
      parameters:
      - description: Access feature ID
        in: path
        name: access_feature_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessFeature'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update access_feature
      tags:
      - access_features
      x-codegen-request-body-name: body
  /agents:
    get:
      description: '**Required ACL:** `confd.agents.read`'
      operationId: list_agents
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Should the query include sub-tenants
        in: query
        name: recurse
        schema:
          default: false
          type: boolean
      - description: Name of the field to use for sorting the list of items returned.
        in: query
        name: order
        schema:
          type: string
      - description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
          order
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Maximum number of items to return in the list
        in: query
        name: limit
        schema:
          type: integer
      - description: Number of items to skip over in the list. Useful for pagination.
        in: query
        name: offset
        schema:
          type: integer
      - description: Search term for filtering a list of items. Only items with a
          field containing the search term will be returned.
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentItems'
          description: Agents list
      summary: List agents
      tags:
      - agents
    post:
      description: '**Required ACL:** `confd.agents.create`'
      operationId: create_agent
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Agent'
        description: Agent to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
          description: Agent created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when creating the resource
      summary: Create agent
      tags:
      - agents
      x-codegen-request-body-name: body
  /agents/skills:
    get:
      description: '**Required ACL:** `confd.agents.skills.read`'
      operationId: list_skills
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Should the query include sub-tenants
        in: query
        name: recurse
        schema:
          default: false
          type: boolean
      - description: Name of the field to use for sorting the list of items returned.
        in: query
        name: order
        schema:
          type: string
      - description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
          order
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Maximum number of items to return in the list
        in: query
        name: limit
        schema:
          type: integer
      - description: Number of items to skip over in the list. Useful for pagination.
        in: query
        name: offset
        schema:
          type: integer
      - description: Search term for filtering a list of items. Only items with a
          field containing the search term will be returned.
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillItems'
          description: Skills list
      summary: List skill
      tags:
      - agents
      - skills
    post:
      description: '**Required ACL:** `confd.agents.skills.create`'
      operationId: create_skill
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skill'
        description: Skill to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
          description: Skill created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when creating the resource
      summary: Create skill
      tags:
      - agents
      - skills
      x-codegen-request-body-name: body
  /agents/skills/{skill_id}:
    delete:
      description: "**Required ACL:** `confd.agents.skills.{skill_id}.delete`"
      operationId: delete_skill
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Skill's ID
        in: path
        name: skill_id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Resource was deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when deleting the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Delete skill
      tags:
      - skills
    get:
      description: "**Required ACL:** `confd.agents.skills.{skill_id}.read`"
      operationId: get_skill
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Skill's ID
        in: path
        name: skill_id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
          description: Skill
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Get skill
      tags:
      - agents
      - skills
    put:
      description: "**Required ACL:** `confd.agents.skills.{skill_id}.update`"
      operationId: update_skill
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Skill's ID
        in: path
        name: skill_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skill'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update skill
      tags:
      - skills
      x-codegen-request-body-name: body
  /agents/{agent_id}:
    delete:
      description: "**Required ACL:** `confd.agents.{agent_id}.delete`"
      operationId: delete_agent
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Agent’s ID
        in: path
        name: agent_id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Resource was deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when deleting the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Delete agent
      tags:
      - agents
    get:
      description: "**Required ACL:** `confd.agents.{agent_id}.read`"
      operationId: get_agent
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Agent’s ID
        in: path
        name: agent_id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
          description: Agent
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Get agent
      tags:
      - agents
    put:
      description: "**Required ACL:** `confd.agents.{agent_id}.update`"
      operationId: update_agent
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Agent’s ID
        in: path
        name: agent_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Agent'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update agent
      tags:
      - agents
      x-codegen-request-body-name: body
  /agents/{agent_id}/skills/{skill_id}:
    delete:
      description: "**Required ACL:** `confd.agents.{agent_id}.skills.{skill_id}.delete`"
      operationId: dissociate_agent_skill
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Agent’s ID
        in: path
        name: agent_id
        required: true
        schema:
          type: integer
      - description: Skill's ID
        in: path
        name: skill_id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Skill and Agent dissociated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred during the operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Dissociate agent and skill
      tags:
      - skills
      - agents
    put:
      description: "**Required ACL:** `confd.agents.{agent_id}.skills.{skill_id}.update`"
      operationId: associate_agent_skill
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Agent’s ID
        in: path
        name: agent_id
        required: true
        schema:
          type: integer
      - description: Skill's ID
        in: path
        name: skill_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentSkill'
        required: false
      responses:
        "204":
          content: {}
          description: Association updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Associate agent and skill
      tags:
      - skills
      - agents
      x-codegen-request-body-name: body
  /applications:
    get:
      description: '**Required ACL:** `confd.applications.read`'
      operationId: list_applications
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Should the query include sub-tenants
        in: query
        name: recurse
        schema:
          default: false
          type: boolean
      - description: Name of the field to use for sorting the list of items returned.
        in: query
        name: order
        schema:
          type: string
      - description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
          order
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Maximum number of items to return in the list
        in: query
        name: limit
        schema:
          type: integer
      - description: Number of items to skip over in the list. Useful for pagination.
        in: query
        name: offset
        schema:
          type: integer
      - description: Search term for filtering a list of items. Only items with a
          field containing the search term will be returned.
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationItems'
          description: Applications list
      summary: List application
      tags:
      - applications
    post:
      description: '**Required ACL:** `confd.applications.create`'
      operationId: create_application
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        description: Application parameters
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: The Application has been created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when creating the resource
      summary: Create application
      tags:
      - applications
      x-codegen-request-body-name: body
  /applications/{application_uuid}:
    delete:
      description: "**Required ACL:** `confd.applications.{application_uuid}.delete`"
      operationId: delete_application
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Application's UUID
        in: path
        name: application_uuid
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Resource was deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when deleting the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Delete application
      tags:
      - applications
    get:
      description: "**Required ACL:** `confd.applications.{application_uuid}.read`"
      operationId: get_application
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Application's UUID
        in: path
        name: application_uuid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: Application
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Get application
      tags:
      - applications
    put:
      description: "**Required ACL:** `confd.applications.{application_uuid}.update`"
      operationId: update_application
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Application's UUID
        in: path
        name: application_uuid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update application
      tags:
      - applications
      x-codegen-request-body-name: body
  /asterisk/confbridge/accent_default_bridge:
    get:
      description: '**Required ACL:** `confd.asterisk.confbridge.accent_default_bridge.read`'
      operationId: list_asterisk_confbridge_accent_default_bridge
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfBridgeConfiguration'
          description: ConfBridge accent_default_bridge
      summary: List ConfBridge accent_default_bridge options
      tags:
      - asterisk
      - conferences
    put:
      description: "**Required ACL:** `confd.asterisk.confbridge.accent_default_bridge.update`\
        \ **WARNING** This endpoint restore to default value or delete all fields\
        \ that are not defined. All available configuration options are listed in\
        \ the [sample](https://raw.githubusercontent.com/asterisk/asterisk/master/configs/samples/confbridge.conf.sample)\
        \ Asterisk configuration file. "
      operationId: update_asterisk_confbridge_accent_default_bridge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfBridgeConfiguration'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update ConfBridge accent_default_bridge option
      tags:
      - asterisk
      - conferences
      x-codegen-request-body-name: body
  /asterisk/confbridge/accent_default_user:
    get:
      description: '**Required ACL:** `confd.asterisk.confbridge.accent_default_user.read`'
      operationId: list_asterisk_confbridge_accent_default_user
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfBridgeConfiguration'
          description: ConfBridge accent_default_user
      summary: List ConfBridge accent_default_user options
      tags:
      - asterisk
      - conferences
    put:
      description: "**Required ACL:** `confd.asterisk.confbridge.accent_default_user.update`\
        \ **WARNING** This endpoint restore to default value or delete all fields\
        \ that are not defined. All available configuration options are listed in\
        \ the [sample](https://raw.githubusercontent.com/asterisk/asterisk/master/configs/samples/confbridge.conf.sample)\
        \ Asterisk configuration file. "
      operationId: update_asterisk_confbridge_accent_default_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfBridgeConfiguration'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update ConfBridge accent_default_user option
      tags:
      - asterisk
      - conferences
      x-codegen-request-body-name: body
  /asterisk/features/applicationmap:
    get:
      description: '**Required ACL:** `confd.asterisk.features.applicationmap.read`'
      operationId: list_asterisk_features_applicationmap
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesConfiguration'
          description: Features applicationmap
      summary: List Features applicationmap options
      tags:
      - asterisk
    put:
      description: '**Required ACL:** `confd.asterisk.features.applicationmap.update`
        **WARNING** This endpoint restore to default value or delete all fields that
        are not defined.'
      operationId: update_asterisk_features_applicationmap
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeaturesConfiguration'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update Features applicationmap option
      tags:
      - asterisk
      x-codegen-request-body-name: body
  /asterisk/features/featuremap:
    get:
      description: '**Required ACL:** `confd.asterisk.features.featuremap.read`'
      operationId: list_asterisk_features_featuremap
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesConfiguration'
          description: Features featuremap
      summary: List Features featuremap options
      tags:
      - asterisk
    put:
      description: '**Required ACL:** `confd.asterisk.features.featuremap.update`
        **WARNING** This endpoint restore to default value or delete all fields that
        are not defined.'
      operationId: update_asterisk_features_featuremap
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeaturesConfiguration'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update Features featuremap option
      tags:
      - asterisk
      x-codegen-request-body-name: body
  /asterisk/features/general:
    get:
      description: '**Required ACL:** `confd.asterisk.features.general.read`'
      operationId: list_asterisk_features_general
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesConfiguration'
          description: Features general
      summary: List Features general options
      tags:
      - asterisk
    put:
      description: '**Required ACL:** `confd.asterisk.features.general.update` **WARNING**
        This endpoint restore to default value or delete all fields that are not defined.'
      operationId: update_asterisk_features_general
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeaturesConfiguration'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update Features general option
      tags:
      - asterisk
      x-codegen-request-body-name: body
  /asterisk/hep/general:
    get:
      description: '**Required ACL:** `confd.asterisk.hep.general.read`'
      operationId: list_asterisk_hep_general
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HEPConfiguration'
          description: HEP general
      summary: List HEP general options
      tags:
      - asterisk
    put:
      description: |-
        **Required ACL:** `confd.asterisk.hep.general.update`

        **WARNING** This endpoint restore to default value or delete all fields that are not defined.
      operationId: update_asterisk_hep_general
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HEPConfiguration'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
      summary: Update HEP general option
      tags:
      - asterisk
      x-codegen-request-body-name: body
  /asterisk/iax/callnumberlimits:
    get:
      description: '**Required ACL:** `confd.asterisk.iax.callnumberlimits.read`'
      operationId: list_asterisk_iax_callnumberlimits
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IAXCallNumberLimitss'
          description: IAX callnumberlimits
      summary: List IAX callnumberlimits options
      tags:
      - asterisk
      - iax
    put:
      description: '**Required ACL:** `confd.asterisk.iax.callnumberlimits.update`
        **WARNING** This endpoint restore to default value or delete all fields that
        are not defined.'
      operationId: update_asterisk_iax_callnumberlimits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IAXCallNumberLimitss'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update IAX callnumberlimits option
      tags:
      - asterisk
      - iax
      x-codegen-request-body-name: body
  /asterisk/iax/general:
    get:
      description: '**Required ACL:** `confd.asterisk.iax.general.read`'
      operationId: list_asterisk_iax_general
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IAXGeneral'
          description: IAX general
      summary: List IAX general options
      tags:
      - asterisk
    put:
      description: '**Required ACL:** `confd.asterisk.iax.general.update` **WARNING**
        This endpoint restore to default value or delete all fields that are not defined.'
      operationId: update_asterisk_iax_general
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IAXGeneral'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update IAX general option
      tags:
      - asterisk
      x-codegen-request-body-name: body
  /asterisk/pjsip/doc:
    get:
      description: "**Required ACL:**: `confd.asterisk.pjsip.doc.read` List all available\
        \ configuration options for PJSIP, those values are used to validate to content\
        \ of POST and PUT requests. "
      operationId: show_pjsip_doc
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PJSIPConfigurationOptions'
          description: A list of all PJSIP configuration options
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: accent-confd could not read the PJSIP documentation file
      summary: List all PJSIP configuration options
      tags:
      - asterisk
      - sip
  /asterisk/pjsip/global:
    get:
      description: '**Required ACL:** `confd.asterisk.pjsip.global.read`'
      operationId: list_asterisk_pjsip_global
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PJSIPGlobal'
          description: SIP global
      summary: List of PJSIP options for the `global` section
      tags:
      - asterisk
      - sip
    put:
      description: '**Required ACL:** `confd.asterisk.pjsip.global.update` The PJSIP
        global configuration is shared among all tenants of an instance. **WARNING**
        This endpoint restore to default value or delete all fields that are not defined. '
      operationId: update_asterisk_pjsip_global
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PJSIPGlobal'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update PJSIP section options
      tags:
      - sip
      - asterisk
      x-codegen-request-body-name: body
  /asterisk/pjsip/system:
    get:
      description: '**Required ACL:** `confd.asterisk.pjsip.system.read`'
      operationId: list_asterisk_pjsip_system
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PJSIPSystem'
          description: SIP system
      summary: List of PJSIP options for the `system` section
      tags:
      - asterisk
      - sip
    put:
      description: '**Required ACL:** `confd.asterisk.pjsip.system.update` The PJSIP
        system configuration is shared among all tenants of an instance. **WARNING**
        This endpoint restore to default value or delete all fields that are not defined. '
      operationId: update_asterisk_pjsip_system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PJSIPSystem'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update PJSIP section options
      tags:
      - sip
      - asterisk
      x-codegen-request-body-name: body
  /asterisk/queues/general:
    get:
      description: '**Required ACL:** `confd.asterisk.queue.general.read`'
      operationId: list_asterisk_queue_general
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueGeneral'
          description: Queue general
      summary: List Queue general options
      tags:
      - asterisk
    put:
      description: '**Required ACL:** `confd.asterisk.queue.general.update` **WARNING**
        This endpoint restore to default value or delete all fields that are not defined.'
      operationId: update_asterisk_queue_general
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueGeneral'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update Queue general option
      tags:
      - asterisk
      x-codegen-request-body-name: body
  /asterisk/rtp/general:
    get:
      description: '**Required ACL:** `confd.asterisk.rtp.general.read`'
      operationId: list_asterisk_rtp_general
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RTPConfiguration'
          description: RTP general
      summary: List RTP general options
      tags:
      - asterisk
    put:
      description: '**Required ACL:** `confd.asterisk.rtp.general.update` **WARNING**
        This endpoint restore to default value or delete all fields that are not defined.'
      operationId: update_asterisk_rtp_general
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RTPConfiguration'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update RTP general option
      tags:
      - asterisk
      x-codegen-request-body-name: body
  /asterisk/rtp/ice_host_candidates:
    get:
      description: '**Required ACL:** `confd.asterisk.rtp.ice_host_candidates.read`'
      operationId: list_asterisk_rtp_ice_host_candidates
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RTPConfiguration'
          description: RTP ice_host_candidates
      summary: List RTP ice_host_candidates options
      tags:
      - asterisk
    put:
      description: '**Required ACL:** `confd.asterisk.rtp.ice_host_candidates.update`
        **WARNING** This endpoint restore to default value or delete all fields that
        are not defined.'
      operationId: update_asterisk_rtp_ice_host_candidates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RTPConfiguration'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update RTP ice_host_candidates option
      tags:
      - asterisk
      x-codegen-request-body-name: body
  /asterisk/sccp/general:
    get:
      description: '**Required ACL:** `confd.asterisk.sccp.general.read`'
      operationId: list_asterisk_sccp_general
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SCCPGeneral'
          description: SCCP general
      summary: List SCCP general options
      tags:
      - asterisk
      - sccp
    put:
      description: '**Required ACL:** `confd.asterisk.sccp.general.update` **WARNING**
        This endpoint restore to default value or delete all fields that are not defined.'
      operationId: update_asterisk_sccp_general
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SCCPGeneral'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update SCCP general option
      tags:
      - asterisk
      - sccp
      x-codegen-request-body-name: body
  /asterisk/voicemail/general:
    get:
      description: '**Required ACL:** `confd.asterisk.voicemail.general.read`'
      operationId: list_asterisk_voicemail_general
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicemailGeneral'
          description: Voicemail general
      summary: List Voicemail general options
      tags:
      - asterisk
    put:
      description: '**Required ACL:** `confd.asterisk.voicemail.general.update` **WARNING**
        This endpoint restore to default value or delete all fields that are not defined.'
      operationId: update_asterisk_voicemail_general
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoicemailGeneral'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update Voicemail general option
      tags:
      - asterisk
      x-codegen-request-body-name: body
  /asterisk/voicemail/zonemessages:
    get:
      description: '**Required ACL:** `confd.asterisk.voicemail.zonemessages.read`'
      operationId: list_asterisk_voicemail_zonemessages
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicemailZoneMessages'
          description: Voicemail zonemessages
      summary: List Voicemail zonemessages options
      tags:
      - asterisk
      - voicemails
    put:
      description: '**Required ACL:** `confd.asterisk.voicemail.zonemessages.update`
        **WARNING** This endpoint restore to default value or delete all fields that
        are not defined.'
      operationId: update_asterisk_voicemail_zonemessages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoicemailZoneMessages'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update Voicemail zonemessages option
      tags:
      - asterisk
      - voicemails
      x-codegen-request-body-name: body
  /callfilters:
    get:
      description: '**Required ACL:** `confd.callfilters.read`'
      operationId: list_call_filters
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Should the query include sub-tenants
        in: query
        name: recurse
        schema:
          default: false
          type: boolean
      - description: Name of the field to use for sorting the list of items returned.
        in: query
        name: order
        schema:
          type: string
      - description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
          order
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Maximum number of items to return in the list
        in: query
        name: limit
        schema:
          type: integer
      - description: Number of items to skip over in the list. Useful for pagination.
        in: query
        name: offset
        schema:
          type: integer
      - description: Search term for filtering a list of items. Only items with a
          field containing the search term will be returned.
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallFilterItems'
          description: Call Filters list
      summary: List call filters
      tags:
      - callfilters
    post:
      description: '**Required ACL:** `confd.callfilters.create`'
      operationId: create_callfilter
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallFilter'
        description: Call Filter to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallFilter'
          description: Call Filter created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when creating the resource
      summary: Create call filter
      tags:
      - callfilters
      x-codegen-request-body-name: body
  /callfilters/{callfilter_id}:
    delete:
      description: "**Required ACL:** `confd.callfilters.{callfilter_id}.delete` .\
        \ The call filter will also be removed from all users, groups, incoming calls\
        \ and outgoing calls."
      operationId: delete_callfilter
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Call Filter's ID
        in: path
        name: callfilter_id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Resource was deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when deleting the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Delete call filter
      tags:
      - callfilters
    get:
      description: "**Required ACL:** `confd.callfilters.{callfilter_id}.read`"
      operationId: get_callfilter
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Call Filter's ID
        in: path
        name: callfilter_id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallFilter'
          description: Call Filter
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Get call filter
      tags:
      - callfilters
    put:
      description: "**Required ACL:** `confd.callfilters.{callfilter_id}.update`"
      operationId: update_callfilter
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Call Filter's ID
        in: path
        name: callfilter_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallFilter'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update call filter
      tags:
      - callfilters
      x-codegen-request-body-name: body
  /callfilters/{callfilter_id}/fallbacks:
    get:
      description: "**Required ACL:** `confd.callfilters.{callfilter_id}.fallbacks.read`"
      operationId: get_call_filter_fallback
      parameters:
      - description: Call Filter's ID
        in: path
        name: callfilter_id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallFilterFallbacks'
          description: Fallbacks for call filter
      summary: List all fallbacks for call filter
      tags:
      - callfilters
    put:
      description: "**Required ACL:** `confd.callfilters.{callfilter_id}.fallbacks.update`\
        \ **WARNING** This endpoint delete all fields that are not defined."
      operationId: update_call_filter_fallback
      parameters:
      - description: Call Filter's ID
        in: path
        name: callfilter_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallFilterFallbacks'
        description: Fallbacks for call filter
        required: false
      responses:
        "204":
          content: {}
          description: CallFilter's fallbacks updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred during the operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update call filter's fallbacks
      tags:
      - callfilters
      x-codegen-request-body-name: body
  /callfilters/{callfilter_id}/recipients/users:
    put:
      description: "**Required ACL:** `confd.callfilters.{callfilter_id}.recipients.users.update`\
        \ **WARNING** This endpoint remove all recipients which are not defined. "
      operationId: update_call_filter_caller_users
      parameters:
      - description: Call Filter's ID
        in: path
        name: callfilter_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallFilterRecipientUsersUuid'
        description: Users to associated
        required: true
      responses:
        "204":
          content: {}
          description: Call Filter and Users associated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred during the operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update call filter and recipients
      tags:
      - callfilters
      - users
      x-codegen-request-body-name: body
  /callfilters/{callfilter_id}/surrogates/users:
    put:
      description: "**Required ACL:** `confd.callfilters.{callfilter_id}.surrogates.users.update`\
        \ **WARNING** This endpoint remove all surrogates which are not defined. "
      operationId: update_call_filter_member_users
      parameters:
      - description: Call Filter's ID
        in: path
        name: callfilter_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersUuid'
        description: Users to associated
        required: true
      responses:
        "204":
          content: {}
          description: Call Filter and Users associated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred during the operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update call filter and surrogates
      tags:
      - callfilters
      - users
      x-codegen-request-body-name: body
  /callpermissions:
    get:
      description: '**Required ACL:** `confd.callpermissions.read`'
      operationId: list_callpermissions
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Should the query include sub-tenants
        in: query
        name: recurse
        schema:
          default: false
          type: boolean
      - description: Name of the field to use for sorting the list of items returned.
        in: query
        name: order
        schema:
          type: string
      - description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
          order
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Maximum number of items to return in the list
        in: query
        name: limit
        schema:
          type: integer
      - description: Number of items to skip over in the list. Useful for pagination.
        in: query
        name: offset
        schema:
          type: integer
      - description: Search term for filtering a list of items. Only items with a
          field containing the search term will be returned.
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallPermissionItems'
          description: Call Permissions list
      summary: List call permissions
      tags:
      - callpermissions
    post:
      description: '**Required ACL:** `confd.callpermissions.create`'
      operationId: create_callpermission
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallPermission'
        description: Call Permission to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallPermission'
          description: Call Permission created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when creating the resource
      summary: Create call permission
      tags:
      - callpermissions
      x-codegen-request-body-name: body
  /callpermissions/{callpermission_id}:
    delete:
      description: "**Required ACL:** `confd.callpermissions.{callpermission_id}.delete`\
        \ . The call permission will also be removed from all users, groups, incoming\
        \ calls and outgoing calls."
      operationId: delete_callpermission
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Call Permission's ID
        in: path
        name: callpermission_id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Resource was deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when deleting the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Delete call permission
      tags:
      - callpermissions
    get:
      description: "**Required ACL:** `confd.callpermissions.{callpermission_id}.read`"
      operationId: get_callpermission
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Call Permission's ID
        in: path
        name: callpermission_id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallPermission'
          description: Call Permission
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Get call permission
      tags:
      - callpermissions
    put:
      description: "**Required ACL:** `confd.callpermissions.{callpermission_id}.update`"
      operationId: update_callpermission
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Call Permission's ID
        in: path
        name: callpermission_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallPermission'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update call permission
      tags:
      - callpermissions
      x-codegen-request-body-name: body
  /callpickups:
    get:
      description: '**Required ACL:** `confd.callpickups.read`'
      operationId: list_call_pickups
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Should the query include sub-tenants
        in: query
        name: recurse
        schema:
          default: false
          type: boolean
      - description: Name of the field to use for sorting the list of items returned.
        in: query
        name: order
        schema:
          type: string
      - description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
          order
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Maximum number of items to return in the list
        in: query
        name: limit
        schema:
          type: integer
      - description: Number of items to skip over in the list. Useful for pagination.
        in: query
        name: offset
        schema:
          type: integer
      - description: Search term for filtering a list of items. Only items with a
          field containing the search term will be returned.
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallPickupItems'
          description: Call Pickups list
      summary: List call pickups
      tags:
      - callpickups
    post:
      description: '**Required ACL:** `confd.callpickups.create`'
      operationId: create_callpickup
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallPickup'
        description: Call Pickup to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallPickup'
          description: Call Pickup created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when creating the resource
      summary: Create call pickup
      tags:
      - callpickups
      x-codegen-request-body-name: body
  /callpickups/{callpickup_id}:
    delete:
      description: "**Required ACL:** `confd.callpickups.{callpickup_id}.delete`"
      operationId: delete_callpickup
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Call Pickup's ID
        in: path
        name: callpickup_id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Resource was deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when deleting the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Delete call pickup
      tags:
      - callpickups
    get:
      description: "**Required ACL:** `confd.callpickups.{callpickup_id}.read`"
      operationId: get_callpickup
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Call Pickup's ID
        in: path
        name: callpickup_id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallPickup'
          description: Call Pickup
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Get call pickup
      tags:
      - callpickups
    put:
      description: "**Required ACL:** `confd.callpickups.{callpickup_id}.update`"
      operationId: update_callpickup
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Call Pickup's ID
        in: path
        name: callpickup_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallPickup'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update call pickup
      tags:
      - callpickups
      x-codegen-request-body-name: body
  /callpickups/{callpickup_id}/interceptors/groups:
    put:
      description: "**Required ACL:** `confd.callpickups.{callpickup_id}.interceptors.groups.update`\
        \ **WARNING** This endpoint remove all interceptors which are not defined. "
      operationId: update_call_pickup_interceptor_groups
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Call Pickup's ID
        in: path
        name: callpickup_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupsID'
        description: Groups to associated
        required: true
      responses:
        "204":
          content: {}
          description: Call Filter and Groups associated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred during the operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update call pickup and interceptors
      tags:
      - callpickups
      - groups
      x-codegen-request-body-name: body
  /callpickups/{callpickup_id}/interceptors/users:
    put:
      description: "**Required ACL:** `confd.callpickups.{callpickup_id}.interceptors.users.update`\
        \ **WARNING** This endpoint remove all interceptors which are not defined. "
      operationId: update_call_pickup_interceptor_users
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Call Pickup's ID
        in: path
        name: callpickup_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersUuid'
        description: Users to associated
        required: true
      responses:
        "204":
          content: {}
          description: Call Filter and Users associated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred during the operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update call pickup and interceptors
      tags:
      - callpickups
      - users
      x-codegen-request-body-name: body
  /callpickups/{callpickup_id}/targets/groups:
    put:
      description: "**Required ACL:** `confd.callpickups.{callpickup_id}.targets.groups.update`\
        \ **WARNING** This endpoint remove all targets which are not defined. "
      operationId: update_call_pickup_target_groups
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Call Pickup's ID
        in: path
        name: callpickup_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupsID'
        description: Groups to associated
        required: true
      responses:
        "204":
          content: {}
          description: Call Filter and Groups associated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred during the operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update call pickup and targets
      tags:
      - callpickups
      - groups
      x-codegen-request-body-name: body
  /callpickups/{callpickup_id}/targets/users:
    put:
      description: "**Required ACL:** `confd.callpickups.{callpickup_id}.targets.users.update`\
        \ **WARNING** This endpoint remove all targets which are not defined. "
      operationId: update_call_pickup_target_users
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Call Pickup's ID
        in: path
        name: callpickup_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersUuid'
        description: Users to associated
        required: true
      responses:
        "204":
          content: {}
          description: Call Filter and Users associated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred during the operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update call pickup and targets
      tags:
      - callpickups
      - users
      x-codegen-request-body-name: body
  /conferences:
    get:
      description: '**Required ACL:** `confd.conferences.read`'
      operationId: list_conferences
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Should the query include sub-tenants
        in: query
        name: recurse
        schema:
          default: false
          type: boolean
      - description: Name of the field to use for sorting the list of items returned.
        in: query
        name: order
        schema:
          type: string
      - description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
          order
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Maximum number of items to return in the list
        in: query
        name: limit
        schema:
          type: integer
      - description: Number of items to skip over in the list. Useful for pagination.
        in: query
        name: offset
        schema:
          type: integer
      - description: Search term for filtering a list of items. Only items with a
          field containing the search term will be returned.
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceItems'
          description: Conferences list
      summary: List conference
      tags:
      - conferences
    post:
      description: "**Required ACL:** `confd.conferences.create` All conferences have\
        \ the same menu. Please consult the asterisk [documentation](https://raw.githubusercontent.com/asterisk/asterisk/master/configs/samples/confbridge.conf.sample)\
        \ for definitions: ``` * = playback_and_continue 1 = toggle_mute 4 = decrease_listening_volume\
        \ 5 = reset_listening_volume 6 = increase_listening_volume 7 = decrease_talking_volume\
        \ 8 = reset_talking_volume 9 = increase_talking_volume ```\nAnd the following\
        \ options are added to the admin user:\n``` 2 = admin_toggle_conference_lock\
        \ 3 = admin_kick_last 0 = admin_toggle_mute_participants' ``` "
      operationId: create_conference
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conference'
        description: Conference to create
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference'
          description: Conference created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when creating the resource
      summary: Create conference
      tags:
      - conferences
      x-codegen-request-body-name: body
  /conferences/{conference_id}:
    delete:
      description: "**Required ACL:** `confd.conferences.{conference_id}.delete`"
      operationId: delete_conference
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Conference's ID
        in: path
        name: conference_id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Resource was deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when deleting the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Delete conference
      tags:
      - conferences
    get:
      description: "**Required ACL:** `confd.conferences.{conference_id}.read`"
      operationId: get_conference
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Conference's ID
        in: path
        name: conference_id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference'
          description: Conference
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Get conference
      tags:
      - conferences
    put:
      description: "**Required ACL:** `confd.conferences.{conference_id}.update`"
      operationId: update_conference
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Conference's ID
        in: path
        name: conference_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conference'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update conference
      tags:
      - conferences
      x-codegen-request-body-name: body
  /conferences/{conference_id}/extensions/{extension_id}:
    delete:
      description: "**Required ACL:** `confd.conferences.{conference_id}.extensions.{extension_id}.delete`"
      operationId: dissociate_conference_extension
      parameters:
      - description: Conference's ID
        in: path
        name: conference_id
        required: true
        schema:
          type: integer
      - in: path
        name: extension_id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Conference and Extension dissociated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred during the operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Dissociate conference and extension
      tags:
      - conferences
      - extensions
    put:
      description: "**Required ACL:** `confd.conferences.{conference_id}.extensions.{extension_id}.update`"
      operationId: associate_conference_extension
      parameters:
      - description: Conference's ID
        in: path
        name: conference_id
        required: true
        schema:
          type: integer
      - in: path
        name: extension_id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Conference and Extension associated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred during the operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Associate conference and extension
      tags:
      - conferences
      - extensions
  /configuration/live_reload:
    get:
      description: '**Required ACL:** `confd.configuration.live_reload.read`'
      operationId: get_configuration
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveReload'
          description: Live reload status
      summary: Get live reload status
      tags:
      - configuration
    put:
      description: '**Required ACL:** `confd.configuration.live_reload.update`'
      operationId: update_configuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveReload'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
      summary: Update live reload status
      tags:
      - configuration
      x-codegen-request-body-name: body
  /contexts:
    get:
      description: '**Required ACL:** `confd.contexts.read`'
      operationId: list_contexts
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Should the query include sub-tenants
        in: query
        name: recurse
        schema:
          default: false
          type: boolean
      - description: Name of the field to use for sorting the list of items returned.
        in: query
        name: order
        schema:
          type: string
      - description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
          order
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Maximum number of items to return in the list
        in: query
        name: limit
        schema:
          type: integer
      - description: Number of items to skip over in the list. Useful for pagination.
        in: query
        name: offset
        schema:
          type: integer
      - description: Search term for filtering a list of items. Only items with a
          field containing the search term will be returned.
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextItems'
          description: Contexts list
      summary: List contexts
      tags:
      - contexts
    post:
      description: '**Required ACL:** `confd.contexts.create`'
      operationId: create_context
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Context'
        description: Context to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Context'
          description: Context created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when creating the resource
      summary: Create context
      tags:
      - contexts
      x-codegen-request-body-name: body
  /contexts/{context_id}:
    delete:
      description: "**Required ACL:** `confd.contexts.{context_id}.delete`"
      operationId: delete_context
      parameters:
      - description: context's ID
        in: path
        name: context_id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Resource was deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when deleting the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Delete context
      tags:
      - contexts
    get:
      description: "**Required ACL:** `confd.contexts.{context_id}.read`"
      operationId: get_context
      parameters:
      - description: context's ID
        in: path
        name: context_id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Context'
          description: Context
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Get context
      tags:
      - contexts
    put:
      description: "**Required ACL:** `confd.contexts.{context_id}.update`"
      operationId: update_context
      parameters:
      - description: context's ID
        in: path
        name: context_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Context'
        required: true
      responses:
        "204":
          content: {}
          description: Resource was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred when updating the resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Update context
      tags:
      - contexts
      x-codegen-request-body-name: body
  /contexts/{context_id}/contexts:
    put:
      description: "**Required ACL:** `confd.contexts.{context_id}.contexts.update`"
      operationId: associate_context_contexts
      parameters:
      - description: context's ID
        in: path
        name: context_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContextsId'
        description: Contexts to associated
        required: true
      responses:
        "204":
          content: {}
          description: Context and Contexts associated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred during the operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Include contexts inside context
      tags:
      - contexts
      x-codegen-request-body-name: body
  /contexts/{context_id}/ranges/{range_type}:
    get:
      description: |
        **Required ACL:** `confd.contexts.{context_id}.ranges.{range_type}.read`

        List the extension range for a given context and resource type. When filtering
        using the `availability=available` query string the range will be split into multiple
        sub-ranges to only contain extension numbers that are available.

        If a given extension exists but is not assigned to any resource it will still
        be considered to be unavailable and therefore will not be included in the list
        of available extension
      operationId: list_contexts_range
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Name of the field to use for sorting the list of items returned.
        in: query
        name: order
        schema:
          type: string
      - description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
          order
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Maximum number of items to return in the list
        in: query
        name: limit
        schema:
          type: integer
      - description: Number of items to skip over in the list. Useful for pagination.
        in: query
        name: offset
        schema:
          type: integer
      - description: Search term for filtering a list of items. Only items with a
          field containing the search term will be returned.
        in: query
        name: search
        schema:
          type: string
      - description: The extension range destination type
        in: path
        name: range_type
        required: true
        schema:
          enum:
          - user
          - group
          - queue
          - conference
          - incall
[...]
