/*
accent-confd

Confd exposes an API for managing core resources on a Accent server such as users, extensions, devices, voicemails, queues, etc. Resources can be associated together to provide additional functionality. For example: By associating a voicemail with a user, calls will automatically fallback on to the voicemail when the user cannot answer.  Implementation notes ====================  Errors ------  Responses containing errors will have a status code in the 400 or 500 class. A list of error messages will be returned in the body of the response as a JSON-encoded array:  ~~~ [     \"Input error - User not found\",     \"Resource error - User not associated to a line\" ] ~~~   Updating resources via PUT --------------------------  When updating a resource, all fields become optional. In other words, only values that have been changed need to be sent to the server. Please note that this behavior may change in future versions of the API.

API version: 1.1
Contact: help@accentvoice.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package confd

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type ParkingLotsAPI interface {

	/*
		AssociateParkingLotExtension Associate parking_lot and extension

		**Required ACL:** `confd.parkinglots.{parking_lot_id}.extensions.{extension_id}.update`

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param parkingLotId Parking Lot's ID
		@param extensionId
		@return ParkingLotsAPIAssociateParkingLotExtensionRequest
	*/
	AssociateParkingLotExtension(ctx context.Context, parkingLotId int32, extensionId int32) ParkingLotsAPIAssociateParkingLotExtensionRequest

	// AssociateParkingLotExtensionExecute executes the request
	AssociateParkingLotExtensionExecute(r ParkingLotsAPIAssociateParkingLotExtensionRequest) (*http.Response, error)

	/*
		CreateParkingLot Create parking lot

		**Required ACL:** `confd.parkinglots.create`

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ParkingLotsAPICreateParkingLotRequest
	*/
	CreateParkingLot(ctx context.Context) ParkingLotsAPICreateParkingLotRequest

	// CreateParkingLotExecute executes the request
	//  @return ParkingLot
	CreateParkingLotExecute(r ParkingLotsAPICreateParkingLotRequest) (*ParkingLot, *http.Response, error)

	/*
		DeleteParkingLot Delete parking lot

		**Required ACL:** `confd.parkinglots.{parking_lot_id}.delete`

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param parkingLotId Parking Lot's ID
		@return ParkingLotsAPIDeleteParkingLotRequest
	*/
	DeleteParkingLot(ctx context.Context, parkingLotId int32) ParkingLotsAPIDeleteParkingLotRequest

	// DeleteParkingLotExecute executes the request
	DeleteParkingLotExecute(r ParkingLotsAPIDeleteParkingLotRequest) (*http.Response, error)

	/*
		DissociateParkingLotExtension Dissociate parking lot and extension

		**Required ACL:** `confd.parkinglots.{parking_lot_id}.extensions.{extension_id}.delete`

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param parkingLotId Parking Lot's ID
		@param extensionId
		@return ParkingLotsAPIDissociateParkingLotExtensionRequest
	*/
	DissociateParkingLotExtension(ctx context.Context, parkingLotId int32, extensionId int32) ParkingLotsAPIDissociateParkingLotExtensionRequest

	// DissociateParkingLotExtensionExecute executes the request
	DissociateParkingLotExtensionExecute(r ParkingLotsAPIDissociateParkingLotExtensionRequest) (*http.Response, error)

	/*
		GetParkingLot Get parking lot

		**Required ACL:** `confd.parkinglots.{parking_lot_id}.read`

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param parkingLotId Parking Lot's ID
		@return ParkingLotsAPIGetParkingLotRequest
	*/
	GetParkingLot(ctx context.Context, parkingLotId int32) ParkingLotsAPIGetParkingLotRequest

	// GetParkingLotExecute executes the request
	//  @return ParkingLot
	GetParkingLotExecute(r ParkingLotsAPIGetParkingLotRequest) (*ParkingLot, *http.Response, error)

	/*
		ListParkingLots List parking lots

		**Required ACL:** `confd.parkinglots.read`

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ParkingLotsAPIListParkingLotsRequest
	*/
	ListParkingLots(ctx context.Context) ParkingLotsAPIListParkingLotsRequest

	// ListParkingLotsExecute executes the request
	//  @return ParkingLotItems
	ListParkingLotsExecute(r ParkingLotsAPIListParkingLotsRequest) (*ParkingLotItems, *http.Response, error)

	/*
		UpdateParkingLot Update parking lot

		**Required ACL:** `confd.parkinglots.{parking_lot_id}.update`

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param parkingLotId Parking Lot's ID
		@return ParkingLotsAPIUpdateParkingLotRequest
	*/
	UpdateParkingLot(ctx context.Context, parkingLotId int32) ParkingLotsAPIUpdateParkingLotRequest

	// UpdateParkingLotExecute executes the request
	UpdateParkingLotExecute(r ParkingLotsAPIUpdateParkingLotRequest) (*http.Response, error)
}

// ParkingLotsAPIService ParkingLotsAPI service
type ParkingLotsAPIService service

type ParkingLotsAPIAssociateParkingLotExtensionRequest struct {
	ctx          context.Context
	ApiService   ParkingLotsAPI
	parkingLotId int32
	extensionId  int32
}

func (r ParkingLotsAPIAssociateParkingLotExtensionRequest) Execute() (*http.Response, error) {
	return r.ApiService.AssociateParkingLotExtensionExecute(r)
}

/*
AssociateParkingLotExtension Associate parking_lot and extension

**Required ACL:** `confd.parkinglots.{parking_lot_id}.extensions.{extension_id}.update`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param parkingLotId Parking Lot's ID
	@param extensionId
	@return ParkingLotsAPIAssociateParkingLotExtensionRequest
*/
func (a *ParkingLotsAPIService) AssociateParkingLotExtension(ctx context.Context, parkingLotId int32, extensionId int32) ParkingLotsAPIAssociateParkingLotExtensionRequest {
	return ParkingLotsAPIAssociateParkingLotExtensionRequest{
		ApiService:   a,
		ctx:          ctx,
		parkingLotId: parkingLotId,
		extensionId:  extensionId,
	}
}

// Execute executes the request
func (a *ParkingLotsAPIService) AssociateParkingLotExtensionExecute(r ParkingLotsAPIAssociateParkingLotExtensionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParkingLotsAPIService.AssociateParkingLotExtension")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/parkinglots/{parking_lot_id}/extensions/{extension_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"parking_lot_id"+"}", url.PathEscape(parameterValueToString(r.parkingLotId, "parkingLotId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extension_id"+"}", url.PathEscape(parameterValueToString(r.extensionId, "extensionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["accent_auth_token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v []string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ParkingLotsAPICreateParkingLotRequest struct {
	ctx          context.Context
	ApiService   ParkingLotsAPI
	body         *ParkingLot
	accentTenant *string
}

// Parking lot to create
func (r ParkingLotsAPICreateParkingLotRequest) Body(body ParkingLot) ParkingLotsAPICreateParkingLotRequest {
	r.body = &body
	return r
}

// The tenant&#39;s UUID, defining the ownership of a given resource.
func (r ParkingLotsAPICreateParkingLotRequest) AccentTenant(accentTenant string) ParkingLotsAPICreateParkingLotRequest {
	r.accentTenant = &accentTenant
	return r
}

func (r ParkingLotsAPICreateParkingLotRequest) Execute() (*ParkingLot, *http.Response, error) {
	return r.ApiService.CreateParkingLotExecute(r)
}

/*
CreateParkingLot Create parking lot

**Required ACL:** `confd.parkinglots.create`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ParkingLotsAPICreateParkingLotRequest
*/
func (a *ParkingLotsAPIService) CreateParkingLot(ctx context.Context) ParkingLotsAPICreateParkingLotRequest {
	return ParkingLotsAPICreateParkingLotRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ParkingLot
func (a *ParkingLotsAPIService) CreateParkingLotExecute(r ParkingLotsAPICreateParkingLotRequest) (*ParkingLot, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ParkingLot
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParkingLotsAPIService.CreateParkingLot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/parkinglots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accentTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accent-Tenant", r.accentTenant, "")
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["accent_auth_token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ParkingLotsAPIDeleteParkingLotRequest struct {
	ctx          context.Context
	ApiService   ParkingLotsAPI
	parkingLotId int32
	accentTenant *string
}

// The tenant&#39;s UUID, defining the ownership of a given resource.
func (r ParkingLotsAPIDeleteParkingLotRequest) AccentTenant(accentTenant string) ParkingLotsAPIDeleteParkingLotRequest {
	r.accentTenant = &accentTenant
	return r
}

func (r ParkingLotsAPIDeleteParkingLotRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteParkingLotExecute(r)
}

/*
DeleteParkingLot Delete parking lot

**Required ACL:** `confd.parkinglots.{parking_lot_id}.delete`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param parkingLotId Parking Lot's ID
	@return ParkingLotsAPIDeleteParkingLotRequest
*/
func (a *ParkingLotsAPIService) DeleteParkingLot(ctx context.Context, parkingLotId int32) ParkingLotsAPIDeleteParkingLotRequest {
	return ParkingLotsAPIDeleteParkingLotRequest{
		ApiService:   a,
		ctx:          ctx,
		parkingLotId: parkingLotId,
	}
}

// Execute executes the request
func (a *ParkingLotsAPIService) DeleteParkingLotExecute(r ParkingLotsAPIDeleteParkingLotRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParkingLotsAPIService.DeleteParkingLot")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/parkinglots/{parking_lot_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"parking_lot_id"+"}", url.PathEscape(parameterValueToString(r.parkingLotId, "parkingLotId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accentTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accent-Tenant", r.accentTenant, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["accent_auth_token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v []string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ParkingLotsAPIDissociateParkingLotExtensionRequest struct {
	ctx          context.Context
	ApiService   ParkingLotsAPI
	parkingLotId int32
	extensionId  int32
}

func (r ParkingLotsAPIDissociateParkingLotExtensionRequest) Execute() (*http.Response, error) {
	return r.ApiService.DissociateParkingLotExtensionExecute(r)
}

/*
DissociateParkingLotExtension Dissociate parking lot and extension

**Required ACL:** `confd.parkinglots.{parking_lot_id}.extensions.{extension_id}.delete`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param parkingLotId Parking Lot's ID
	@param extensionId
	@return ParkingLotsAPIDissociateParkingLotExtensionRequest
*/
func (a *ParkingLotsAPIService) DissociateParkingLotExtension(ctx context.Context, parkingLotId int32, extensionId int32) ParkingLotsAPIDissociateParkingLotExtensionRequest {
	return ParkingLotsAPIDissociateParkingLotExtensionRequest{
		ApiService:   a,
		ctx:          ctx,
		parkingLotId: parkingLotId,
		extensionId:  extensionId,
	}
}

// Execute executes the request
func (a *ParkingLotsAPIService) DissociateParkingLotExtensionExecute(r ParkingLotsAPIDissociateParkingLotExtensionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParkingLotsAPIService.DissociateParkingLotExtension")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/parkinglots/{parking_lot_id}/extensions/{extension_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"parking_lot_id"+"}", url.PathEscape(parameterValueToString(r.parkingLotId, "parkingLotId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extension_id"+"}", url.PathEscape(parameterValueToString(r.extensionId, "extensionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["accent_auth_token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v []string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ParkingLotsAPIGetParkingLotRequest struct {
	ctx          context.Context
	ApiService   ParkingLotsAPI
	parkingLotId int32
	accentTenant *string
}

// The tenant&#39;s UUID, defining the ownership of a given resource.
func (r ParkingLotsAPIGetParkingLotRequest) AccentTenant(accentTenant string) ParkingLotsAPIGetParkingLotRequest {
	r.accentTenant = &accentTenant
	return r
}

func (r ParkingLotsAPIGetParkingLotRequest) Execute() (*ParkingLot, *http.Response, error) {
	return r.ApiService.GetParkingLotExecute(r)
}

/*
GetParkingLot Get parking lot

**Required ACL:** `confd.parkinglots.{parking_lot_id}.read`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param parkingLotId Parking Lot's ID
	@return ParkingLotsAPIGetParkingLotRequest
*/
func (a *ParkingLotsAPIService) GetParkingLot(ctx context.Context, parkingLotId int32) ParkingLotsAPIGetParkingLotRequest {
	return ParkingLotsAPIGetParkingLotRequest{
		ApiService:   a,
		ctx:          ctx,
		parkingLotId: parkingLotId,
	}
}

// Execute executes the request
//
//	@return ParkingLot
func (a *ParkingLotsAPIService) GetParkingLotExecute(r ParkingLotsAPIGetParkingLotRequest) (*ParkingLot, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ParkingLot
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParkingLotsAPIService.GetParkingLot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/parkinglots/{parking_lot_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"parking_lot_id"+"}", url.PathEscape(parameterValueToString(r.parkingLotId, "parkingLotId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accentTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accent-Tenant", r.accentTenant, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["accent_auth_token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v []string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ParkingLotsAPIListParkingLotsRequest struct {
	ctx          context.Context
	ApiService   ParkingLotsAPI
	accentTenant *string
	recurse      *bool
	order        *string
	direction    *string
	limit        *int32
	offset       *int32
	search       *string
}

// The tenant&#39;s UUID, defining the ownership of a given resource.
func (r ParkingLotsAPIListParkingLotsRequest) AccentTenant(accentTenant string) ParkingLotsAPIListParkingLotsRequest {
	r.accentTenant = &accentTenant
	return r
}

// Should the query include sub-tenants
func (r ParkingLotsAPIListParkingLotsRequest) Recurse(recurse bool) ParkingLotsAPIListParkingLotsRequest {
	r.recurse = &recurse
	return r
}

// Name of the field to use for sorting the list of items returned.
func (r ParkingLotsAPIListParkingLotsRequest) Order(order string) ParkingLotsAPIListParkingLotsRequest {
	r.order = &order
	return r
}

// Sort list of items in &#39;asc&#39; (ascending) or &#39;desc&#39; (descending) order
func (r ParkingLotsAPIListParkingLotsRequest) Direction(direction string) ParkingLotsAPIListParkingLotsRequest {
	r.direction = &direction
	return r
}

// Maximum number of items to return in the list
func (r ParkingLotsAPIListParkingLotsRequest) Limit(limit int32) ParkingLotsAPIListParkingLotsRequest {
	r.limit = &limit
	return r
}

// Number of items to skip over in the list. Useful for pagination.
func (r ParkingLotsAPIListParkingLotsRequest) Offset(offset int32) ParkingLotsAPIListParkingLotsRequest {
	r.offset = &offset
	return r
}

// Search term for filtering a list of items. Only items with a field containing the search term will be returned.
func (r ParkingLotsAPIListParkingLotsRequest) Search(search string) ParkingLotsAPIListParkingLotsRequest {
	r.search = &search
	return r
}

func (r ParkingLotsAPIListParkingLotsRequest) Execute() (*ParkingLotItems, *http.Response, error) {
	return r.ApiService.ListParkingLotsExecute(r)
}

/*
ListParkingLots List parking lots

**Required ACL:** `confd.parkinglots.read`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ParkingLotsAPIListParkingLotsRequest
*/
func (a *ParkingLotsAPIService) ListParkingLots(ctx context.Context) ParkingLotsAPIListParkingLotsRequest {
	return ParkingLotsAPIListParkingLotsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ParkingLotItems
func (a *ParkingLotsAPIService) ListParkingLotsExecute(r ParkingLotsAPIListParkingLotsRequest) (*ParkingLotItems, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ParkingLotItems
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParkingLotsAPIService.ListParkingLots")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/parkinglots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.recurse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recurse", r.recurse, "")
	} else {
		var defaultValue bool = false
		r.recurse = &defaultValue
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accentTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accent-Tenant", r.accentTenant, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["accent_auth_token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ParkingLotsAPIUpdateParkingLotRequest struct {
	ctx          context.Context
	ApiService   ParkingLotsAPI
	body         *ParkingLot
	parkingLotId int32
	accentTenant *string
}

func (r ParkingLotsAPIUpdateParkingLotRequest) Body(body ParkingLot) ParkingLotsAPIUpdateParkingLotRequest {
	r.body = &body
	return r
}

// The tenant&#39;s UUID, defining the ownership of a given resource.
func (r ParkingLotsAPIUpdateParkingLotRequest) AccentTenant(accentTenant string) ParkingLotsAPIUpdateParkingLotRequest {
	r.accentTenant = &accentTenant
	return r
}

func (r ParkingLotsAPIUpdateParkingLotRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateParkingLotExecute(r)
}

/*
UpdateParkingLot Update parking lot

**Required ACL:** `confd.parkinglots.{parking_lot_id}.update`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param parkingLotId Parking Lot's ID
	@return ParkingLotsAPIUpdateParkingLotRequest
*/
func (a *ParkingLotsAPIService) UpdateParkingLot(ctx context.Context, parkingLotId int32) ParkingLotsAPIUpdateParkingLotRequest {
	return ParkingLotsAPIUpdateParkingLotRequest{
		ApiService:   a,
		ctx:          ctx,
		parkingLotId: parkingLotId,
	}
}

// Execute executes the request
func (a *ParkingLotsAPIService) UpdateParkingLotExecute(r ParkingLotsAPIUpdateParkingLotRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParkingLotsAPIService.UpdateParkingLot")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/parkinglots/{parking_lot_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"parking_lot_id"+"}", url.PathEscape(parameterValueToString(r.parkingLotId, "parkingLotId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accentTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accent-Tenant", r.accentTenant, "")
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["accent_auth_token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v []string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
