openapi: 3.0.1
info:
  contact:
    email: help@accentvoice.io
    name: Accent Team
    url: https://accentvoice.io/
  description: Consult call logs from a REST API
  title: accent-call-logd
  version: 1.0.0
  x-logo:
    altText: Accent Logo
    backgroundColor: '#FAFAFA'
    url: https://accentvoice.io/images/logo-black.svg
servers:
- url: http://api.accentvoice.io/1.0
- url: https://api.accentvoice.io/1.0
security:
- accent_auth_token: []
paths:
  /agents/statistics:
    get:
      description: |-
        **Required ACL:** `call-logd.agents.statistics.read`
        Statistics are aggregated by agents over the period specified by the `from` and `until` query parameters.
      operationId: getAgentsStatistics
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: |
          Ignore calls before the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be
          converted according to the `timezone` parameter. If missing, the statistics
          will start at the oldest available call with timezone UTC.
        in: query
        name: from
        schema:
          format: date-time
          type: string
      - description: |
          Ignore calls starting at or after the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be converted
          according to the `timezone` parameter. If missing, the statistics will include the current
          day.
        in: query
        name: until
        schema:
          format: date-time
          type: string
      - description: "The time at which a day starts, inclusively. Accepted format\
          \ is `HH:MM`, minutes are ignored."
        in: query
        name: day_start_time
        schema:
          type: string
      - description: "The time at which a day ends, inclusively. Accepted format is\
          \ `HH:MM`, minutes are ignored."
        in: query
        name: day_end_time
        schema:
          type: string
      - description: The days of the week that should be included. A week starts on
          Monday (1) and ends on Sunday (7).
        explode: false
        in: query
        name: week_days
        schema:
          default: "[1,2,3,4,5,6,7]"
          items:
            maximum: 7
            minimum: 1
            type: integer
          type: array
          uniqueItems: true
        style: form
      - description: |
          Name of the timezone to use for dates and times. Example: America/New_York. Valid timezones
          are defined by the <a href="https://en.wikipedia.org/wiki/Tz_database">Time Zone Database</a>
          version installed on the server.
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentsStatistics'
          description: Get an agent statistics by ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
      summary: Statistics for all agents
      tags:
      - agent_statistics
  /agents/{agent_id}/statistics:
    get:
      description: "**Required ACL:** `call-logd.agents.statistics.{agent_id}.read`\
        \ Statistics for an agent are aggregated by the `interval` query parameter,\
        \ or if not specified or empty, as a unique result over the period. The period\
        \ is specified by the `from` and `until` query parameters. The last result\
        \ returned by this route is always the aggregation of all calls over the whole\
        \ specified period."
      operationId: getAgentStatistics
      parameters:
      - description: ID of the agent.
        in: path
        name: agent_id
        required: true
        schema:
          type: integer
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: |
          Ignore calls before the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be
          converted according to the `timezone` parameter. If missing, the statistics
          will start at the oldest available call with timezone UTC.
        in: query
        name: from
        schema:
          format: date-time
          type: string
      - description: |
          Ignore calls starting at or after the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be converted
          according to the `timezone` parameter. If missing, the statistics will include the current
          day.
        in: query
        name: until
        schema:
          format: date-time
          type: string
      - description: "Aggregation interval. An empty value means no interval, so an\
          \ aggregation on all values."
        in: query
        name: interval
        schema:
          enum:
          - hour
          - day
          - month
          type: string
      - description: "The time at which a day starts, inclusively. Accepted format\
          \ is `HH:MM`, minutes are ignored."
        in: query
        name: day_start_time
        schema:
          type: string
      - description: "The time at which a day ends, inclusively. Accepted format is\
          \ `HH:MM`, minutes are ignored."
        in: query
        name: day_end_time
        schema:
          type: string
      - description: The days of the week that should be included. A week starts on
          Monday (1) and ends on Sunday (7).
        explode: false
        in: query
        name: week_days
        schema:
          default: "[1,2,3,4,5,6,7]"
          items:
            maximum: 7
            minimum: 1
            type: integer
          type: array
          uniqueItems: true
        style: form
      - description: |
          Name of the timezone to use for dates and times. Example: America/New_York. Valid timezones
          are defined by the <a href="https://en.wikipedia.org/wiki/Tz_database">Time Zone Database</a>
          version installed on the server.
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentStatistics'
          description: Get an agent statistics by ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Statistics for a specific agent
      tags:
      - agent_statistics
  /cdr:
    get:
      description: "**Required ACL:** `call-logd.cdr.read`\nThis endpoint allow to\
        \ use `?token={token_uuid}` and `?tenant={tenant_uuid}` query string to bypass\
        \ headers "
      operationId: getCDRs
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: |
          Ignore calls before the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be
          converted according to the `timezone` parameter. If missing, the statistics
          will start at the oldest available call with timezone UTC.
        in: query
        name: from
        schema:
          format: date-time
          type: string
      - description: |
          Ignore calls starting at or after the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be converted
          according to the `timezone` parameter. If missing, the statistics will include the current
          day.
        in: query
        name: until
        schema:
          format: date-time
          type: string
      - description: Maximum number of items to return in the list. Default to 1000
          if not specified.
        in: query
        name: limit
        schema:
          type: integer
      - description: Number of items to skip over in the list. Useful for pagination.
        in: query
        name: offset
        schema:
          type: integer
      - description: "Name of the field to use for sorting the list of items returned.\
          \ Unsupported values: ``end``."
        in: query
        name: order
        schema:
          type: string
      - description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
          order
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Filter list of items
        in: query
        name: search
        schema:
          type: string
      - description: Filter list of items
        in: query
        name: call_direction
        schema:
          enum:
          - internal
          - inbound
          - outbound
          type: string
      - description: Filter by source_extension and destination_extension. A wildcard
          (underscore) can be used at the start and/or the end of the number.
        in: query
        name: number
        schema:
          type: string
      - description: "Filter by tags. Each tag MUST be separated by a coma (,). Many\
          \ tag will perform a logical AND."
        explode: false
        in: query
        name: tags
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Filter by user_uuid. Many uuid can be specified. Each uuid MUST\
          \ be separated by a comma (,). Many uuid will perform a logical OR."
        explode: false
        in: query
        name: user_uuid
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Ignore CDR created before the given CDR ID.
        in: query
        name: from_id
        schema:
          type: integer
      - description: Should the query include sub-tenants
        in: query
        name: recurse
        schema:
          default: false
          type: boolean
      - description: Will only return one result for the selected field
        in: query
        name: distinct
        schema:
          enum:
          - peer_exten
          type: string
      - description: Filter by recorded status.
        in: query
        name: recorded
        schema:
          type: boolean
      - description: Overrides the Content-Type header. This is used to be able to
          have a downloadable link. Allowed values are "csv" and "json"
        in: query
        name: format
        schema:
          enum:
          - csv
          - json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CDRList'
            text/csv; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CDRList'
          description: List CDR
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/csv; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
      summary: List CDR
      tags:
      - cdr
  /cdr/recordings/media:
    delete:
      description: '**Required ACL:** `call-logd.cdr.recordings.media.delete`'
      operationId: deleteCDRRecordingsMedia
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/deleteCDRRecordingsMedia_request'
        description: The CDR IDs list from which to delete recording media
        required: true
      responses:
        "204":
          content: {}
          description: The CDRs recording media were deleted successfully
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Delete multiple CDRs recording media
      tags:
      - cdr
      x-codegen-request-body-name: body
  /cdr/recordings/media/export:
    post:
      description: '**Required ACL:** `call-logd.cdr.recordings.media.export.create`
        This endpoint creates a new export and returns its UUID. '
      operationId: createCDRRecordingsMediaExport
      parameters:
      - description: |
          Ignore calls before the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be
          converted according to the `timezone` parameter. If missing, the statistics
          will start at the oldest available call with timezone UTC.
        in: query
        name: from
        schema:
          format: date-time
          type: string
      - description: |
          Ignore calls starting at or after the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be converted
          according to the `timezone` parameter. If missing, the statistics will include the current
          day.
        in: query
        name: until
        schema:
          format: date-time
          type: string
      - description: Filter list of items
        in: query
        name: search
        schema:
          type: string
      - description: Filter list of items
        in: query
        name: call_direction
        schema:
          enum:
          - internal
          - inbound
          - outbound
          type: string
      - description: Filter by source_extension and destination_extension. A wildcard
          (underscore) can be used at the start and/or the end of the number.
        in: query
        name: number
        schema:
          type: string
      - description: "Filter by tags. Each tag MUST be separated by a coma (,). Many\
          \ tag will perform a logical AND."
        explode: false
        in: query
        name: tags
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Filter by user_uuid. Many uuid can be specified. Each uuid MUST\
          \ be separated by a comma (,). Many uuid will perform a logical OR."
        explode: false
        in: query
        name: user_uuid
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Ignore CDR created before the given CDR ID.
        in: query
        name: from_id
        schema:
          type: integer
      - description: Should the query include sub-tenants
        in: query
        name: recurse
        schema:
          default: false
          type: boolean
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: E-mail address
        in: query
        name: email
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/createCDRRecordingsMediaExport_request'
        description: The CDR IDs list from which to create an export
        required: false
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createCDRRecordingsMediaExport_202_response'
          description: Creation of multiple recording media export started
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Create an export for the recording media of multiple CDRs
      tags:
      - cdr
      - exports
      x-codegen-request-body-name: body
  /cdr/{cdr_id}:
    get:
      description: "**Required ACL:** `call-logd.cdr.{cdr_id}.read`"
      operationId: getCDR
      parameters:
      - description: ID of the CDR
        in: path
        name: cdr_id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CDR'
            text/csv; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CDR'
          description: Get a CDR by ID
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/csv; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Get a CDR by ID
      tags:
      - cdr
  /cdr/{cdr_id}/recordings/{recording_uuid}/media:
    delete:
      description: "**Required ACL:** `call-logd.cdr.{cdr_id}.recordings.{recording_uuid}.media.delete`"
      operationId: deleteCDRRecordingMedia
      parameters:
      - description: ID of the CDR
        in: path
        name: cdr_id
        required: true
        schema:
          type: integer
      - description: UUID of the recording
        in: path
        name: recording_uuid
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: The recording was deleted successfully
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Delete a recording media
      tags:
      - cdr
    get:
      description: "**Required ACL:** `call-logd.cdr.{cdr_id}.recordings.{recording_uuid}.media.read`\n\
        This endpoint allow to use `?token={token_uuid}` and `?tenant={tenant_uuid}`\
        \ query string to bypass headers "
      operationId: getCDRRecordingMedia
      parameters:
      - description: ID of the CDR
        in: path
        name: cdr_id
        required: true
        schema:
          type: integer
      - description: UUID of the recording
        in: path
        name: recording_uuid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Get a recording media
        "404":
          content:
            audio/wav:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Get a recording media
      tags:
      - cdr
  /config:
    get:
      description: '**Required ACL:** `call_logd.config.read`'
      operationId: getConfig
      responses:
        "200":
          content: {}
          description: The configuration of the service
      summary: Show the current configuration
      tags:
      - config
    patch:
      description: '**Required ACL:** `call_logd.config.update` Changes are not persistent
        across service restart. '
      operationId: updateConfig
      requestBody:
        content:
          '*/*':
            schema:
              items:
                $ref: '#/components/schemas/ConfigPatchItem'
              type: array
        description: See https://en.wikipedia.org/wiki/JSON_Patch.
        required: true
      responses:
        "200":
          content: {}
          description: The updated configuration of the service
        "400":
          content: {}
          description: The given confiuration is invalid
      summary: Update the current configuration.
      tags:
      - config
      x-codegen-request-body-name: ConfigPatch
  /exports/{export_uuid}:
    get:
      description: "**Required ACL:** `call-logd.exports.{export_uuid}.read`"
      operationId: getExport
      parameters:
      - description: UUID of the given export
        in: path
        name: export_uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
          description: Get an export by UUID
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Get an export by the given UUID
      tags:
      - exports
  /exports/{export_uuid}/download:
    get:
      description: "**Required ACL:** `call-logd.exports.{export_uuid}.download.read`\
        \ This endpoint allow to use `?token={token_uuid}` and `?tenant={tenant_uuid}`\
        \ query string to bypass headers "
      operationId: getExportDownload
      parameters:
      - description: UUID of the given export
        in: path
        name: export_uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Download an export by UUID
        "202":
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not done yet
        "404":
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Download an export as a ZIP archive by the given UUID
      tags:
      - exports
  /queues/statistics:
    get:
      description: "**Required ACL:** `call-logd.queues.statistics.read`\nStatistics\
        \ are aggregated by queues over the period specified by the `from` and `until`\
        \ query parameters.\n**Notice**: Statistics are generated every 6 hours "
      operationId: getQueuesStatistics
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: |
          Ignore calls before the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be
          converted according to the `timezone` parameter. If missing, the statistics
          will start at the oldest available call with timezone UTC.
        in: query
        name: from
        schema:
          format: date-time
          type: string
      - description: |
          Ignore calls starting at or after the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be converted
          according to the `timezone` parameter. If missing, the statistics will include the current
          day.
        in: query
        name: until
        schema:
          format: date-time
          type: string
      - description: The number of seconds representing a good quality of service.
        in: query
        name: qos_threshold
        schema:
          type: integer
      - description: "The time at which a day starts, inclusively. Accepted format\
          \ is `HH:MM`, minutes are ignored."
        in: query
        name: day_start_time
        schema:
          type: string
      - description: "The time at which a day ends, inclusively. Accepted format is\
          \ `HH:MM`, minutes are ignored."
        in: query
        name: day_end_time
        schema:
          type: string
      - description: The days of the week that should be included. A week starts on
          Monday (1) and ends on Sunday (7).
        explode: false
        in: query
        name: week_days
        schema:
          default: "[1,2,3,4,5,6,7]"
          items:
            maximum: 7
            minimum: 1
            type: integer
          type: array
          uniqueItems: true
        style: form
      - description: |
          Name of the timezone to use for dates and times. Example: America/New_York. Valid timezones
          are defined by the <a href="https://en.wikipedia.org/wiki/Tz_database">Time Zone Database</a>
          version installed on the server.
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueuesStatistics'
          description: Get aggregated statistics for all queues.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
      summary: Statistics for all queues
      tags:
      - queue_statistics
  /queues/{queue_id}/statistics:
    get:
      description: "**Required ACL:** `call-logd.queues.statistics.{queue_id}.read`\
        \ Statistics for a queue are aggregated by the `interval` query parameter,\
        \ or if not\nspecified or empty, as a unique result over the period. The period\
        \ is specified by the\n`from` and `until` query parameters. The last result\
        \ returned by this route is always the\naggregation of all calls over the\
        \ whole specified period.\n**Notice**: Statistics are generated every 6 hours "
      operationId: getQueueStatistics
      parameters:
      - description: ID of the queue.
        in: path
        name: queue_id
        required: true
        schema:
          type: integer
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: |
          Ignore calls before the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be
          converted according to the `timezone` parameter. If missing, the statistics
          will start at the oldest available call with timezone UTC.
        in: query
        name: from
        schema:
          format: date-time
          type: string
      - description: |
          Ignore calls starting at or after the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be converted
          according to the `timezone` parameter. If missing, the statistics will include the current
          day.
        in: query
        name: until
        schema:
          format: date-time
          type: string
      - description: "Aggregation interval. An empty value means no interval, so an\
          \ aggregation on all values."
        in: query
        name: interval
        schema:
          enum:
          - hour
          - day
          - month
          type: string
      - description: The number of seconds representing a good quality of service.
        in: query
        name: qos_threshold
        schema:
          type: integer
      - description: "The time at which a day starts, inclusively. Accepted format\
          \ is `HH:MM`, minutes are ignored."
        in: query
        name: day_start_time
        schema:
          type: string
      - description: "The time at which a day ends, inclusively. Accepted format is\
          \ `HH:MM`, minutes are ignored."
        in: query
        name: day_end_time
        schema:
          type: string
      - description: The days of the week that should be included. A week starts on
          Monday (1) and ends on Sunday (7).
        explode: false
        in: query
        name: week_days
        schema:
          default: "[1,2,3,4,5,6,7]"
          items:
            maximum: 7
            minimum: 1
            type: integer
          type: array
          uniqueItems: true
        style: form
      - description: |
          Name of the timezone to use for dates and times. Example: America/New_York. Valid timezones
          are defined by the <a href="https://en.wikipedia.org/wiki/Tz_database">Time Zone Database</a>
          version installed on the server.
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueStatistics'
          description: Get a queue statistics by ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: Statistics for a specific queue
      tags:
      - queue_statistics
  /queues/{queue_id}/statistics/qos:
    get:
      description: "**Required ACL:** `call-logd.queues.statistics.{queue_id}.qos.read`\n\
        QoS thresholds implicitly include a starting 0 and ending to infinite (null).\n\
        Statistics for a queue are aggregated by the `interval` query parameter, or\
        \ if not\nspecified or empty, as a unique result over the period. The period\
        \ is specified by the\n`from` and `until` query parameters. The last result\
        \ returned by this route is always the\naggregation of all calls over the\
        \ whole specified period.\n**Notice**: Statistics are generated every 6 hours "
      operationId: getQueueQoSStatistics
      parameters:
      - description: ID of the queue.
        in: path
        name: queue_id
        required: true
        schema:
          type: integer
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: |
          Ignore calls before the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be
          converted according to the `timezone` parameter. If missing, the statistics
          will start at the oldest available call with timezone UTC.
        in: query
        name: from
        schema:
          format: date-time
          type: string
      - description: |
          Ignore calls starting at or after the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be converted
          according to the `timezone` parameter. If missing, the statistics will include the current
          day.
        in: query
        name: until
        schema:
          format: date-time
          type: string
      - description: "Aggregation interval. An empty value means no interval, so an\
          \ aggregation on all values."
        in: query
        name: interval
        schema:
          enum:
          - hour
          - day
          - month
          type: string
      - description: The steps of quality of service times used for the interval generation.
        explode: false
        in: query
        name: qos_thresholds
        schema:
          items:
            minimum: 1
            type: integer
          type: array
          uniqueItems: true
        style: form
      - description: "The time at which a day starts, inclusively. Accepted format\
          \ is `HH:MM`, minutes are ignored."
        in: query
        name: day_start_time
        schema:
          type: string
      - description: "The time at which a day ends, inclusively. Accepted format is\
          \ `HH:MM`, minutes are ignored."
        in: query
        name: day_end_time
        schema:
          type: string
      - description: The days of the week that should be included. A week starts on
          Monday (1) and ends on Sunday (7).
        explode: false
        in: query
        name: week_days
        schema:
          default: "[1,2,3,4,5,6,7]"
          items:
            maximum: 7
            minimum: 1
            type: integer
          type: array
          uniqueItems: true
        style: form
      - description: |
          Name of the timezone to use for dates and times. Example: America/New_York. Valid timezones
          are defined by the <a href="https://en.wikipedia.org/wiki/Tz_database">Time Zone Database</a>
          version installed on the server.
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueQoSStatistics'
          description: Get a queue QoS statistics by ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource requested was not found on the server
      summary: QoS statistics for a specific queue
      tags:
      - queue_statistics
  /retention:
    get:
      description: '**Required ACL:** `call-logd.retention.read`'
      operationId: getRetention
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retention'
          description: Retention
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
      summary: Retention configuration
      tags:
      - retention
    put:
      description: '**Required ACL:** `call-logd.retention.update` **WARNING** This
        endpoint reset undefined keys to `null`. '
      operationId: updateRetention
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Retention'
        description: The retention configuration to apply
        required: true
      responses:
        "204":
          content: {}
          description: Retention was updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
      summary: Update retention configuration
      tags:
      - retention
      x-codegen-request-body-name: body
  /status:
    get:
      description: '**Required ACL:** `call-logd.status.read`'
      operationId: getStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusSummary'
          description: The internal infos of accent-call-logd
      summary: Print infos about internal status of accent-call-logd
      tags:
      - status
  /users/me/cdr:
    get:
      description: "**Required ACL:** `call-logd.users.me.cdr.read`\nThis endpoint\
        \ allow to use `?token={token_uuid}` and `?tenant={tenant_uuid}` query string\
        \ to bypass headers "
      operationId: getCurrentUserCDR
      parameters:
      - description: |
          Ignore calls before the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be
          converted according to the `timezone` parameter. If missing, the statistics
          will start at the oldest available call with timezone UTC.
        in: query
        name: from
        schema:
          format: date-time
          type: string
      - description: |
          Ignore calls starting at or after the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be converted
          according to the `timezone` parameter. If missing, the statistics will include the current
          day.
        in: query
        name: until
        schema:
          format: date-time
          type: string
      - description: Maximum number of items to return in the list. Default to 1000
          if not specified.
        in: query
        name: limit
        schema:
          type: integer
      - description: Number of items to skip over in the list. Useful for pagination.
        in: query
        name: offset
        schema:
          type: integer
      - description: "Name of the field to use for sorting the list of items returned.\
          \ Unsupported values: ``end``."
        in: query
        name: order
        schema:
          type: string
      - description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
          order
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Filter list of items
        in: query
        name: search
        schema:
          type: string
      - description: Filter list of items
        in: query
        name: call_direction
        schema:
          enum:
          - internal
          - inbound
          - outbound
          type: string
      - description: Filter by source_extension and destination_extension. A wildcard
          (underscore) can be used at the start and/or the end of the number.
        in: query
        name: number
        schema:
          type: string
      - description: Ignore CDR created before the given CDR ID.
        in: query
        name: from_id
        schema:
          type: integer
      - description: "Filter by user_uuid. Many uuid can be specified. Each uuid MUST\
          \ be separated by a comma (,). Many uuid will perform a logical OR."
        explode: false
        in: query
        name: user_uuid
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Will only return one result for the selected field
        in: query
        name: distinct
        schema:
          enum:
          - peer_exten
          type: string
      - description: Filter by recorded status.
        in: query
        name: recorded
        schema:
          type: boolean
      - description: Overrides the Content-Type header. This is used to be able to
          have a downloadable link. Allowed values are "csv" and "json"
        in: query
        name: format
        schema:
          enum:
          - csv
          - json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CDRList'
            text/csv; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CDRList'
          description: List CDR
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/csv; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
      summary: List CDR of the authenticated user
      tags:
      - cdr
      - users
  /users/{user_uuid}/cdr:
    get:
      description: "**Required ACL:** `call-logd.users.{user_uuid}.cdr.read`\nThis\
        \ endpoint allow to use `?token={token_uuid}` and `?tenant={tenant_uuid}`\
        \ query string to bypass headers "
      operationId: getUserCDR
      parameters:
      - description: UUID of the given user
        in: path
        name: user_uuid
        required: true
        schema:
          type: string
      - description: |
          Ignore calls before the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be
          converted according to the `timezone` parameter. If missing, the statistics
          will start at the oldest available call with timezone UTC.
        in: query
        name: from
        schema:
          format: date-time
          type: string
      - description: |
          Ignore calls starting at or after the given date. Format is
          <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be converted
          according to the `timezone` parameter. If missing, the statistics will include the current
          day.
        in: query
        name: until
        schema:
          format: date-time
          type: string
      - description: Maximum number of items to return in the list. Default to 1000
          if not specified.
        in: query
        name: limit
        schema:
          type: integer
      - description: Number of items to skip over in the list. Useful for pagination.
        in: query
        name: offset
        schema:
          type: integer
      - description: "Name of the field to use for sorting the list of items returned.\
          \ Unsupported values: ``end``."
        in: query
        name: order
        schema:
          type: string
      - description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
          order
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Filter list of items
        in: query
        name: search
        schema:
          type: string
      - description: Filter list of items
        in: query
        name: call_direction
        schema:
          enum:
          - internal
          - inbound
          - outbound
          type: string
      - description: Filter by source_extension and destination_extension. A wildcard
          (underscore) can be used at the start and/or the end of the number.
        in: query
        name: number
        schema:
          type: string
      - description: Ignore CDR created before the given CDR ID.
        in: query
        name: from_id
        schema:
          type: integer
      - description: Will only return one result for the selected field
        in: query
        name: distinct
        schema:
          enum:
          - peer_exten
          type: string
      - description: Filter by recorded status.
        in: query
        name: recorded
        schema:
          type: boolean
      - description: Overrides the Content-Type header. This is used to be able to
          have a downloadable link. Allowed values are "csv" and "json"
        in: query
        name: format
        schema:
          enum:
          - csv
          - json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CDRList'
            text/csv; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CDRList'
          description: List CDR
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/csv; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
      summary: List CDR of the given user
      tags:
      - cdr
      - users
components:
  parameters:
    TokenID:
      description: The token's ID
      in: query
      name: token
      schema:
        type: string
    call_direction:
      description: Filter list of items
      in: query
      name: call_direction
      schema:
        enum:
        - internal
        - inbound
        - outbound
        type: string
    cdr_id:
      description: ID of the CDR
      in: path
      name: cdr_id
      required: true
      schema:
        type: integer
    day_end_time:
      description: "The time at which a day ends, inclusively. Accepted format is\
        \ `HH:MM`, minutes are ignored."
      in: query
      name: day_end_time
      schema:
        type: string
    day_start_time:
      description: "The time at which a day starts, inclusively. Accepted format is\
        \ `HH:MM`, minutes are ignored."
      in: query
      name: day_start_time
      schema:
        type: string
    direction:
      description: Sort list of items in 'asc' (ascending) or 'desc' (descending)
        order
      in: query
      name: direction
      schema:
        enum:
        - asc
        - desc
        type: string
    distinct:
      description: Will only return one result for the selected field
      in: query
      name: distinct
      schema:
        enum:
        - peer_exten
        type: string
    email:
      description: E-mail address
      in: query
      name: email
      schema:
        type: string
    export_uuid:
      description: UUID of the given export
      in: path
      name: export_uuid
      required: true
      schema:
        type: string
    format:
      description: Overrides the Content-Type header. This is used to be able to have
        a downloadable link. Allowed values are "csv" and "json"
      in: query
      name: format
      schema:
        enum:
        - csv
        - json
        type: string
    from:
      description: |
        Ignore calls before the given date. Format is
        <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be
        converted according to the `timezone` parameter. If missing, the statistics
        will start at the oldest available call with timezone UTC.
      in: query
      name: from
      schema:
        format: date-time
        type: string
    from_id:
      description: Ignore CDR created before the given CDR ID.
      in: query
      name: from_id
      schema:
        type: integer
    interval:
      description: "Aggregation interval. An empty value means no interval, so an\
        \ aggregation on all values."
      in: query
      name: interval
      schema:
        enum:
        - hour
        - day
        - month
        type: string
    limit:
      description: Maximum number of items to return in the list. Default to 1000
        if not specified.
      in: query
      name: limit
      schema:
        type: integer
    number:
      description: Filter by source_extension and destination_extension. A wildcard
        (underscore) can be used at the start and/or the end of the number.
      in: query
      name: number
      schema:
        type: string
    offset:
      description: Number of items to skip over in the list. Useful for pagination.
      in: query
      name: offset
      schema:
        type: integer
    order:
      description: "Name of the field to use for sorting the list of items returned.\
        \ Unsupported values: ``end``."
      in: query
      name: order
      schema:
        type: string
    qos_threshold:
      description: The number of seconds representing a good quality of service.
      in: query
      name: qos_threshold
      schema:
        type: integer
    qos_thresholds:
      description: The steps of quality of service times used for the interval generation.
      explode: false
      in: query
      name: qos_thresholds
      schema:
        items:
          minimum: 1
          type: integer
        type: array
        uniqueItems: true
      style: form
    recorded:
      description: Filter by recorded status.
      in: query
      name: recorded
      schema:
        type: boolean
    recording_uuid:
      description: UUID of the recording
      in: path
      name: recording_uuid
      required: true
      schema:
        type: integer
    recurse:
      description: Should the query include sub-tenants
      in: query
      name: recurse
      schema:
        default: false
        type: boolean
    search:
      description: Filter list of items
      in: query
      name: search
      schema:
        type: string
    tags:
      description: "Filter by tags. Each tag MUST be separated by a coma (,). Many\
        \ tag will perform a logical AND."
      explode: false
      in: query
      name: tags
      schema:
        items:
          type: string
        type: array
      style: form
    tenantuuid:
      description: "The tenant's UUID, defining the ownership of a given resource."
      in: header
      name: Accent-Tenant
      schema:
        type: string
    timezone:
      description: |
        Name of the timezone to use for dates and times. Example: America/New_York. Valid timezones
        are defined by the <a href="https://en.wikipedia.org/wiki/Tz_database">Time Zone Database</a>
        version installed on the server.
      in: query
      name: timezone
      schema:
        default: UTC
        type: string
    until:
      description: |
        Ignore calls starting at or after the given date. Format is
        <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>. Timezone will be converted
        according to the `timezone` parameter. If missing, the statistics will include the current
        day.
      in: query
      name: until
      schema:
        format: date-time
        type: string
    user_uuid:
      description: "Filter by user_uuid. Many uuid can be specified. Each uuid MUST\
        \ be separated by a comma (,). Many uuid will perform a logical OR."
      explode: false
      in: query
      name: user_uuid
      schema:
        items:
          type: string
        type: array
      style: form
    week_days:
      description: The days of the week that should be included. A week starts on
        Monday (1) and ends on Sunday (7).
      explode: false
      in: query
      name: week_days
      schema:
        default: "[1,2,3,4,5,6,7]"
        items:
          maximum: 7
          minimum: 1
          type: integer
        type: array
        uniqueItems: true
      style: form
  requestBodies:
    ConfigPatch:
      content:
        '*/*':
          schema:
            items:
              $ref: '#/components/schemas/ConfigPatchItem'
            type: array
      description: See https://en.wikipedia.org/wiki/JSON_Patch.
      required: true
  responses:
    AnotherServiceUnavailable:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: "Another service is unavailable (e.g. accent-auth, ...)"
    InvalidRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Invalid request
    NotDoneYetError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Not done yet
    NotFoundError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The resource requested was not found on the server
  schemas:
    AgentStatistic:
      example:
        agent_id: 0
        agent_number: agent_number
        tenant_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        login_time: 1
        pause_time: 5
        wrapup_time: 5
        from: from
        until: until
        conversation_time: 6
      properties:
        agent_id:
          description: ID of the corresponding agent.
          type: integer
        agent_number:
          description: The number of this agent
          type: string
        conversation_time:
          description: The time spent in conversation in seconds
          type: integer
        from:
          description: Start of the statistic interval.
          type: string
        login_time:
          description: The time spent logged-in in seconds
          type: integer
        pause_time:
          description: The time spent in pause in seconds
          type: integer
        tenant_uuid:
          description: Tenant UUID of the corresponding queue.
          format: uuid
          type: string
        until:
          description: End of the statistic interval.
          type: string
        wrapup_time:
          description: The time spent in wrapup in seconds
          type: integer
      type: object
    AgentStatistics:
      example:
        total: 0
        items:
        - agent_id: 0
          agent_number: agent_number
          tenant_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          login_time: 1
          pause_time: 5
          wrapup_time: 5
          from: from
          until: until
          conversation_time: 6
        - agent_id: 0
          agent_number: agent_number
          tenant_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          login_time: 1
          pause_time: 5
          wrapup_time: 5
          from: from
          until: until
          conversation_time: 6
      properties:
        items:
          items:
            $ref: '#/components/schemas/AgentStatistic'
          type: array
        total:
          type: integer
      type: object
    AgentsStatistics:
      example:
        total: 2
        items:
        - agent_id: 0
          agent_number: agent_number
          tenant_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          login_time: 1
          pause_time: 5
          wrapup_time: 5
          from: from
          until: until
          conversation_time: 6
        - agent_id: 0
          agent_number: agent_number
          tenant_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          login_time: 1
          pause_time: 5
          wrapup_time: 5
          from: from
          until: until
          conversation_time: 6
      properties:
        items:
          items:
            $ref: '#/components/schemas/AgentStatistic'
          type: array
        total:
          type: integer
      type: object
    CDR:
      example:
        source_user_uuid: source_user_uuid
        destination_tenant_uuid: destination_tenant_uuid
        source_internal_extension: source_internal_extension
        destination_internal_context: destination_internal_context
        destination_name: destination_name
        destination_internal_tenant_uuid: destination_internal_tenant_uuid
        destination_line_id: 6
        source_internal_context: source_internal_context
        destination_extension: destination_extension
        requested_tenant_uuid: requested_tenant_uuid
        duration: 1
        source_extension: source_extension
        source_tenant_uuid: source_tenant_uuid
        source_line_id: 5
        end: 2000-01-23T04:56:07.000+00:00
        requested_context: requested_context
        requested_internal_tenant_uuid: requested_internal_tenant_uuid
        destination_internal_extension: destination_internal_extension
        id: 5
        requested_internal_extension: requested_internal_extension
        source_name: source_name
        requested_extension: requested_extension
        source_internal_tenant_uuid: source_internal_tenant_uuid
        source_internal_name: source_internal_name
        answered: true
        call_direction: inbound
        start: 2000-01-23T04:56:07.000+00:00
        tags:
        - tags
        - tags
        requested_name: requested_name
        answer: 2000-01-23T04:56:07.000+00:00
        recordings:
        - start_time: 2000-01-23T04:56:07.000+00:00
          deleted: true
          filename: filename
          end_time: 2000-01-23T04:56:07.000+00:00
          uuid: uuid
        - start_time: 2000-01-23T04:56:07.000+00:00
          deleted: true
          filename: filename
          end_time: 2000-01-23T04:56:07.000+00:00
          uuid: uuid
        destination_details: "{}"
        requested_internal_context: requested_internal_context
        destination_user_uuid: destination_user_uuid
      properties:
        answer:
          format: date-time
          type: string
        answered:
          type: boolean
        call_direction:
          enum:
          - inbound
          - internal
          - outbound
          type: string
        destination_details:
          description: "Contains the `type` of the called destination; which can be\
            \ either `user`, `conference`, `meeting`, or `unknown` by default. Also\
            \ contains useful information about the destination (`id` and `name`)."
          properties: {}
          type: object
        destination_extension:
          type: string
        destination_internal_context:
          type: string
        destination_internal_extension:
          description: the internal extension of the line that answers
          type: string
        destination_internal_tenant_uuid:
          type: string
        destination_line_id:
          type: integer
        destination_name:
          type: string
        destination_tenant_uuid:
          type: string
        destination_user_uuid:
          type: string
        duration:
          description: "Duration of the call, in seconds."
          type: integer
        end:
          format: date-time
          type: string
        id:
          type: integer
        recordings:
          items:
            $ref: '#/components/schemas/Recording'
          type: array
        requested_context:
          type: string
        requested_extension:
          type: string
        requested_internal_context:
          type: string
        requested_internal_extension:
          description: the internal extension of the first line to ring
          type: string
        requested_internal_tenant_uuid:
          type: string
        requested_name:
          type: string
        requested_tenant_uuid:
          type: string
        source_extension:
          type: string
        source_internal_context:
          type: string
        source_internal_extension:
          description: the internal extension of the line that placed the call
          type: string
        source_internal_name:
          type: string
        source_internal_tenant_uuid:
          type: string
        source_line_id:
          type: integer
        source_name:
          type: string
        source_tenant_uuid:
          type: string
        source_user_uuid:
          type: string
        start:
          format: date-time
          type: string
        tags:
          items:
            type: string
          type: array
      type: object
    CDRList:
      example:
        total: 2
        filtered: 0
        items:
        - source_user_uuid: source_user_uuid
          destination_tenant_uuid: destination_tenant_uuid
          source_internal_extension: source_internal_extension
          destination_internal_context: destination_internal_context
          destination_name: destination_name
          destination_internal_tenant_uuid: destination_internal_tenant_uuid
          destination_line_id: 6
          source_internal_context: source_internal_context
          destination_extension: destination_extension
          requested_tenant_uuid: requested_tenant_uuid
          duration: 1
          source_extension: source_extension
          source_tenant_uuid: source_tenant_uuid
          source_line_id: 5
          end: 2000-01-23T04:56:07.000+00:00
          requested_context: requested_context
          requested_internal_tenant_uuid: requested_internal_tenant_uuid
          destination_internal_extension: destination_internal_extension
          id: 5
          requested_internal_extension: requested_internal_extension
          source_name: source_name
          requested_extension: requested_extension
          source_internal_tenant_uuid: source_internal_tenant_uuid
          source_internal_name: source_internal_name
          answered: true
          call_direction: inbound
          start: 2000-01-23T04:56:07.000+00:00
          tags:
          - tags
          - tags
          requested_name: requested_name
          answer: 2000-01-23T04:56:07.000+00:00
          recordings:
          - start_time: 2000-01-23T04:56:07.000+00:00
            deleted: true
            filename: filename
            end_time: 2000-01-23T04:56:07.000+00:00
            uuid: uuid
          - start_time: 2000-01-23T04:56:07.000+00:00
            deleted: true
            filename: filename
            end_time: 2000-01-23T04:56:07.000+00:00
            uuid: uuid
          destination_details: "{}"
          requested_internal_context: requested_internal_context
          destination_user_uuid: destination_user_uuid
        - source_user_uuid: source_user_uuid
          destination_tenant_uuid: destination_tenant_uuid
          source_internal_extension: source_internal_extension
          destination_internal_context: destination_internal_context
          destination_name: destination_name
          destination_internal_tenant_uuid: destination_internal_tenant_uuid
          destination_line_id: 6
          source_internal_context: source_internal_context
          destination_extension: destination_extension
          requested_tenant_uuid: requested_tenant_uuid
          duration: 1
          source_extension: source_extension
          source_tenant_uuid: source_tenant_uuid
          source_line_id: 5
          end: 2000-01-23T04:56:07.000+00:00
          requested_context: requested_context
          requested_internal_tenant_uuid: requested_internal_tenant_uuid
          destination_internal_extension: destination_internal_extension
          id: 5
          requested_internal_extension: requested_internal_extension
          source_name: source_name
          requested_extension: requested_extension
          source_internal_tenant_uuid: source_internal_tenant_uuid
          source_internal_name: source_internal_name
          answered: true
          call_direction: inbound
          start: 2000-01-23T04:56:07.000+00:00
          tags:
          - tags
          - tags
          requested_name: requested_name
          answer: 2000-01-23T04:56:07.000+00:00
          recordings:
          - start_time: 2000-01-23T04:56:07.000+00:00
            deleted: true
            filename: filename
            end_time: 2000-01-23T04:56:07.000+00:00
            uuid: uuid
          - start_time: 2000-01-23T04:56:07.000+00:00
            deleted: true
            filename: filename
            end_time: 2000-01-23T04:56:07.000+00:00
            uuid: uuid
          destination_details: "{}"
          requested_internal_context: requested_internal_context
          destination_user_uuid: destination_user_uuid
      properties:
        filtered:
          type: integer
        items:
          items:
            $ref: '#/components/schemas/CDR'
          type: array
        total:
          type: integer
      type: object
    ComponentWithStatus:
      example:
        status: null
      properties:
        status:
          $ref: '#/components/schemas/StatusValue'
      type: object
    ConfigPatchItem:
      example:
        op: op
        path: path
        value: "{}"
      properties:
        op:
          description: "Patch operation. Supported operations: `replace`."
          type: string
        path:
          description: "JSON path to operate on. Supported paths: `/debug`."
          type: string
        value:
          description: The new value for the operation. Type of value is dependent
            of `path`
          properties: {}
          type: object
      type: object
    Error:
      description: Error message for the client
      example:
        error_id: error_id
        details: "{}"
        message: message
        timestamp: 7.061401241503109
      properties:
        details:
          description: Additional information about the error. The keys are specific
            to each error.
          properties: {}
          type: object
        error_id:
          description: Identifier of the type of error. It is more precise than the
            HTTP status code.
          type: string
        message:
          description: Human readable explanation of the error
          type: string
        timestamp:
          description: Time when the error occured
          format: timestamp
          type: number
      title: Error
      type: object
    Export:
      example:
        user_uuid: user_uuid
        filename: filename
        tenant_uuid: tenant_uuid
        uuid: uuid
        requested_at: 2000-01-23T04:56:07.000+00:00
        status: pending
      properties:
        filename:
          type: string
        requested_at:
          format: date-time
          type: string
        status:
          enum:
          - pending
          - processing
          - finished
          - deleted
          - error
          type: string
        tenant_uuid:
          type: string
        user_uuid:
          type: string
        uuid:
          type: string
      type: object
    QueueQoSStatistic:
      example:
        queue_name: queue_name
        quality_of_service:
        - min: 5
          answered: 6
          max: 1
          abandoned: 0
        - min: 5
          answered: 6
          max: 1
          abandoned: 0
        tenant_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        from: from
        until: until
        queue_id: 5
      properties:
        from:
          description: Start of the statistic interval.
          type: string
        quality_of_service:
          items:
            $ref: '#/components/schemas/QueueQoSStatistic_quality_of_service_inner'
          type: array
        queue_id:
          description: ID of the corresponding queue.
          type: integer
        queue_name:
          description: Name of the corresponding queue.
          type: string
        tenant_uuid:
          description: Tenant UUID of the corresponding queue.
          format: uuid
          type: string
        until:
          description: End of the statistic interval.
          type: string
      type: object
    QueueQoSStatistics:
      example:
        total: 2
        items:
        - queue_name: queue_name
          quality_of_service:
          - min: 5
            answered: 6
            max: 1
            abandoned: 0
          - min: 5
            answered: 6
            max: 1
            abandoned: 0
          tenant_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          from: from
          until: until
          queue_id: 5
        - queue_name: queue_name
          quality_of_service:
          - min: 5
            answered: 6
            max: 1
            abandoned: 0
          - min: 5
            answered: 6
            max: 1
            abandoned: 0
          tenant_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          from: from
          until: until
          queue_id: 5
      properties:
        items:
          items:
            $ref: '#/components/schemas/QueueQoSStatistic'
          type: array
        total:
          type: integer
      type: object
    QueueStatistic:
      example:
        answered: 6
        answered_rate: 1.4658129
        received: 2
        saturated: 4
        not_answered: 7
        queue_name: queue_name
        average_waiting_time: 5
        blocked: 5
        quality_of_service: 9.301444
        tenant_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        closed: 2
        from: from
        until: until
        abandoned: 0
        queue_id: 3
      properties:
        abandoned:
          description: Number of calls that were abandoned while they were waiting
            for an answer.
          type: integer
        answered:
          description: Number of calls answered by an agent.
          type: integer
        answered_rate:
          description: The number of answered called over (received calls - closed
            calls)
          format: float
          type: number
        average_waiting_time:
          description: The average waiting time of calls
          type: integer
        blocked:
          description: "Number of calls received when no agent was available, when\
            \ there was no agent to take the call, when the join an empty queue condition\
            \ is reached, or when the drop callers if no agent condition is reached."
          type: integer
        closed:
          description: Number of calls received when the queue was closed.
          type: integer
        from:
          description: Start of the statistic interval.
          type: string
        not_answered:
          description: Number of calls that reached the ring timeout delay.
          type: integer
        quality_of_service:
          description: Percentage based on the number of calls answered in less than
            the defined quality of service threshold over the number of answered calls.
          format: float
          type: number
        queue_id:
          description: ID of the corresponding queue.
          type: integer
        queue_name:
          description: Name of the corresponding queue.
          type: string
        received:
          description: Total number of calls received in the interval.
          type: integer
        saturated:
          description: Number of calls received when the queue was full or when one
            of the diversion parameter was reached.
          type: integer
        tenant_uuid:
          description: Tenant UUID of the corresponding queue.
          format: uuid
          type: string
        until:
          description: End of the statistic interval.
          type: string
      type: object
    QueueStatistics:
      example:
        total: 0
        items:
        - answered: 6
          answered_rate: 1.4658129
          received: 2
          saturated: 4
          not_answered: 7
          queue_name: queue_name
          average_waiting_time: 5
          blocked: 5
          quality_of_service: 9.301444
          tenant_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          closed: 2
          from: from
          until: until
          abandoned: 0
          queue_id: 3
        - answered: 6
          answered_rate: 1.4658129
          received: 2
          saturated: 4
          not_answered: 7
          queue_name: queue_name
          average_waiting_time: 5
          blocked: 5
          quality_of_service: 9.301444
          tenant_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          closed: 2
          from: from
          until: until
          abandoned: 0
          queue_id: 3
      properties:
        items:
          items:
            $ref: '#/components/schemas/QueueStatistic'
          type: array
        total:
          type: integer
      type: object
    QueuesStatistics:
      example:
        total: 7
        items:
        - answered: 6
          answered_rate: 1.4658129
          received: 2
          saturated: 4
          not_answered: 7
          queue_name: queue_name
          average_waiting_time: 5
          blocked: 5
          quality_of_service: 9.301444
          tenant_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          closed: 2
          from: from
          until: until
          abandoned: 0
          queue_id: 3
        - answered: 6
          answered_rate: 1.4658129
          received: 2
          saturated: 4
          not_answered: 7
          queue_name: queue_name
          average_waiting_time: 5
          blocked: 5
          quality_of_service: 9.301444
          tenant_uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          closed: 2
          from: from
          until: until
          abandoned: 0
          queue_id: 3
      properties:
        items:
          items:
            $ref: '#/components/schemas/QueueStatistic'
          type: array
        total:
          type: integer
      type: object
    Recording:
      example:
        start_time: 2000-01-23T04:56:07.000+00:00
        deleted: true
        filename: filename
        end_time: 2000-01-23T04:56:07.000+00:00
        uuid: uuid
      properties:
        deleted:
          type: boolean
        end_time:
          format: date-time
          type: string
        filename:
          type: string
        start_time:
          format: date-time
          type: string
        uuid:
          type: string
      type: object
    Retention:
      example:
        cdr_days: 0
        default_recording_days: 5
        recording_days: 2
        default_export_days: 1
        default_cdr_days: 6
        export_days: 5
      properties:
        cdr_days:
          type: integer
        default_cdr_days:
          readOnly: true
          type: integer
        default_export_days:
          readOnly: true
          type: integer
        default_recording_days:
          readOnly: true
          type: integer
        export_days:
          type: integer
        recording_days:
          type: integer
      type: object
    StatusSummary:
      example:
        task_queue:
          status: null
        bus_consumer:
          status: null
        service_token:
          status: null
      properties:
        bus_consumer:
          $ref: '#/components/schemas/ComponentWithStatus'
        service_token:
          $ref: '#/components/schemas/ComponentWithStatus'
        task_queue:
          $ref: '#/components/schemas/ComponentWithStatus'
      type: object
    StatusValue:
      enum:
      - fail
      - ok
      type: string
    deleteCDRRecordingsMedia_request:
      properties:
        cdr_ids:
          items:
            type: integer
          type: array
      type: object
    createCDRRecordingsMediaExport_request:
      properties:
        cdr_ids:
          items:
            type: string
          type: array
      type: object
    createCDRRecordingsMediaExport_202_response:
      example:
        export_uuid: export_uuid
      properties:
        export_uuid:
          type: string
      type: object
    QueueQoSStatistic_quality_of_service_inner:
      example:
        min: 5
        answered: 6
        max: 1
        abandoned: 0
      properties:
        abandoned:
          description: Number of calls that were abandoned while they were waiting
            for an answer.
          type: integer
        answered:
          description: Number of calls answered by an agent.
          type: integer
        max:
          description: Maximum of the QoS interval
          type: integer
        min:
          description: Minimum of the QoS interval
          type: integer
      type: object
  securitySchemes:
    accent_auth_token:
      in: header
      name: X-Auth-Token
      type: apiKey
x-accent-name: call-logs
x-accent-port: 9298
x-original-swagger-version: "2.0"
