/*
accent-auth

Accent's authentication service

API version: 0.1
Contact: help@accentvoice.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package auth

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type ExternalAPI interface {

	/*
		DeleteExternalAuthConfig Delete the client id and client secret

		**Required ACL**: `auth.{auth_type}.external.config.delete`

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param authType External auth type name
		@return ApiDeleteExternalAuthConfigRequest
	*/
	DeleteExternalAuthConfig(ctx context.Context, authType string) ApiDeleteExternalAuthConfigRequest

	// DeleteExternalAuthConfigExecute executes the request
	DeleteExternalAuthConfigExecute(r ApiDeleteExternalAuthConfigRequest) (*http.Response, error)

	/*
		GetExternalAuthConfig Retrieve the client id and client secret

		**Required ACL**: `auth.{auth_type}.external.config.read`

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param authType External auth type name
		@return ApiGetExternalAuthConfigRequest
	*/
	GetExternalAuthConfig(ctx context.Context, authType string) ApiGetExternalAuthConfigRequest

	// GetExternalAuthConfigExecute executes the request
	//  @return ExternalConfig
	GetExternalAuthConfigExecute(r ApiGetExternalAuthConfigRequest) (*ExternalConfig, *http.Response, error)

	/*
		GetExternalAuthUsers Retrieves the list of connected users to this external source

		**Required ACL**: `auth.{auth_type}.external.users`

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param authType External auth type name
		@return ApiGetExternalAuthUsersRequest
	*/
	GetExternalAuthUsers(ctx context.Context, authType string) ApiGetExternalAuthUsersRequest

	// GetExternalAuthUsersExecute executes the request
	//  @return ExternalAuthUserList
	GetExternalAuthUsersExecute(r ApiGetExternalAuthUsersRequest) (*ExternalAuthUserList, *http.Response, error)

	/*
		GetUserExternalAuth Retrieves the list of the users external auth data

		**Required ACL**: `auth.users.{user_uuid}.external.read` This list should not contain any sensible information

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param userUuid The UUID of the user
		@return ApiGetUserExternalAuthRequest
	*/
	GetUserExternalAuth(ctx context.Context, userUuid string) ApiGetUserExternalAuthRequest

	// GetUserExternalAuthExecute executes the request
	//  @return ExternalAuthList
	GetUserExternalAuthExecute(r ApiGetUserExternalAuthRequest) (*ExternalAuthList, *http.Response, error)

	/*
		PostExternalAuthConfig Add configuration for the given auth_type

		**Required ACL**: `auth.{auth_type}.external.config.create`

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param authType External auth type name
		@return ApiPostExternalAuthConfigRequest
	*/
	PostExternalAuthConfig(ctx context.Context, authType string) ApiPostExternalAuthConfigRequest

	// PostExternalAuthConfigExecute executes the request
	PostExternalAuthConfigExecute(r ApiPostExternalAuthConfigRequest) (*http.Response, error)

	/*
		UpdateExternalAuthConfig Update configuration for the given auth_type

		**Required ACL**: `auth.{auth_type}.external.config.edit`

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param authType External auth type name
		@return ApiUpdateExternalAuthConfigRequest
	*/
	UpdateExternalAuthConfig(ctx context.Context, authType string) ApiUpdateExternalAuthConfigRequest

	// UpdateExternalAuthConfigExecute executes the request
	UpdateExternalAuthConfigExecute(r ApiUpdateExternalAuthConfigRequest) (*http.Response, error)
}

// ExternalAPIService ExternalAPI service
type ExternalAPIService service

type ApiDeleteExternalAuthConfigRequest struct {
	ctx          context.Context
	ApiService   ExternalAPI
	authType     string
	accentTenant *string
}

// The tenant&#39;s UUID, defining the ownership of a given resource.
func (r ApiDeleteExternalAuthConfigRequest) AccentTenant(accentTenant string) ApiDeleteExternalAuthConfigRequest {
	r.accentTenant = &accentTenant
	return r
}

func (r ApiDeleteExternalAuthConfigRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteExternalAuthConfigExecute(r)
}

/*
DeleteExternalAuthConfig Delete the client id and client secret

**Required ACL**: `auth.{auth_type}.external.config.delete`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param authType External auth type name
	@return ApiDeleteExternalAuthConfigRequest
*/
func (a *ExternalAPIService) DeleteExternalAuthConfig(ctx context.Context, authType string) ApiDeleteExternalAuthConfigRequest {
	return ApiDeleteExternalAuthConfigRequest{
		ApiService: a,
		ctx:        ctx,
		authType:   authType,
	}
}

// Execute executes the request
func (a *ExternalAPIService) DeleteExternalAuthConfigExecute(r ApiDeleteExternalAuthConfigRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExternalAPIService.DeleteExternalAuthConfig")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/external/{auth_type}/config"
	localVarPath = strings.Replace(localVarPath, "{"+"auth_type"+"}", url.PathEscape(parameterValueToString(r.authType, "authType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accentTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accent-Tenant", r.accentTenant, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetExternalAuthConfigRequest struct {
	ctx          context.Context
	ApiService   ExternalAPI
	authType     string
	accentTenant *string
}

// The tenant&#39;s UUID, defining the ownership of a given resource.
func (r ApiGetExternalAuthConfigRequest) AccentTenant(accentTenant string) ApiGetExternalAuthConfigRequest {
	r.accentTenant = &accentTenant
	return r
}

func (r ApiGetExternalAuthConfigRequest) Execute() (*ExternalConfig, *http.Response, error) {
	return r.ApiService.GetExternalAuthConfigExecute(r)
}

/*
GetExternalAuthConfig Retrieve the client id and client secret

**Required ACL**: `auth.{auth_type}.external.config.read`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param authType External auth type name
	@return ApiGetExternalAuthConfigRequest
*/
func (a *ExternalAPIService) GetExternalAuthConfig(ctx context.Context, authType string) ApiGetExternalAuthConfigRequest {
	return ApiGetExternalAuthConfigRequest{
		ApiService: a,
		ctx:        ctx,
		authType:   authType,
	}
}

// Execute executes the request
//
//	@return ExternalConfig
func (a *ExternalAPIService) GetExternalAuthConfigExecute(r ApiGetExternalAuthConfigRequest) (*ExternalConfig, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ExternalConfig
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExternalAPIService.GetExternalAuthConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/external/{auth_type}/config"
	localVarPath = strings.Replace(localVarPath, "{"+"auth_type"+"}", url.PathEscape(parameterValueToString(r.authType, "authType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accentTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accent-Tenant", r.accentTenant, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetExternalAuthUsersRequest struct {
	ctx          context.Context
	ApiService   ExternalAPI
	authType     string
	accentTenant *string
	recurse      *bool
	limit        *int32
	offset       *int32
}

// The tenant&#39;s UUID, defining the ownership of a given resource.
func (r ApiGetExternalAuthUsersRequest) AccentTenant(accentTenant string) ApiGetExternalAuthUsersRequest {
	r.accentTenant = &accentTenant
	return r
}

// Should the query include sub-tenants
func (r ApiGetExternalAuthUsersRequest) Recurse(recurse bool) ApiGetExternalAuthUsersRequest {
	r.recurse = &recurse
	return r
}

// The limit defines the number of individual objects that are returned
func (r ApiGetExternalAuthUsersRequest) Limit(limit int32) ApiGetExternalAuthUsersRequest {
	r.limit = &limit
	return r
}

// The offset defines the offsets the start by the number specified
func (r ApiGetExternalAuthUsersRequest) Offset(offset int32) ApiGetExternalAuthUsersRequest {
	r.offset = &offset
	return r
}

func (r ApiGetExternalAuthUsersRequest) Execute() (*ExternalAuthUserList, *http.Response, error) {
	return r.ApiService.GetExternalAuthUsersExecute(r)
}

/*
GetExternalAuthUsers Retrieves the list of connected users to this external source

**Required ACL**: `auth.{auth_type}.external.users`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param authType External auth type name
	@return ApiGetExternalAuthUsersRequest
*/
func (a *ExternalAPIService) GetExternalAuthUsers(ctx context.Context, authType string) ApiGetExternalAuthUsersRequest {
	return ApiGetExternalAuthUsersRequest{
		ApiService: a,
		ctx:        ctx,
		authType:   authType,
	}
}

// Execute executes the request
//
//	@return ExternalAuthUserList
func (a *ExternalAPIService) GetExternalAuthUsersExecute(r ApiGetExternalAuthUsersRequest) (*ExternalAuthUserList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ExternalAuthUserList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExternalAPIService.GetExternalAuthUsers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/external/{auth_type}/users"
	localVarPath = strings.Replace(localVarPath, "{"+"auth_type"+"}", url.PathEscape(parameterValueToString(r.authType, "authType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.recurse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recurse", r.recurse, "")
	} else {
		var defaultValue bool = false
		r.recurse = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accentTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accent-Tenant", r.accentTenant, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetUserExternalAuthRequest struct {
	ctx        context.Context
	ApiService ExternalAPI
	userUuid   string
	order      *string
	direction  *string
	limit      *int32
	offset     *int32
	search     *string
}

// Name of the field to use for sorting the list of items returned.
func (r ApiGetUserExternalAuthRequest) Order(order string) ApiGetUserExternalAuthRequest {
	r.order = &order
	return r
}

// Sort list of items in &#39;asc&#39; (ascending) or &#39;desc&#39; (descending) order
func (r ApiGetUserExternalAuthRequest) Direction(direction string) ApiGetUserExternalAuthRequest {
	r.direction = &direction
	return r
}

// The limit defines the number of individual objects that are returned
func (r ApiGetUserExternalAuthRequest) Limit(limit int32) ApiGetUserExternalAuthRequest {
	r.limit = &limit
	return r
}

// The offset defines the offsets the start by the number specified
func (r ApiGetUserExternalAuthRequest) Offset(offset int32) ApiGetUserExternalAuthRequest {
	r.offset = &offset
	return r
}

// Search term for filtering a list of items. Only items with a field containing the search term will be returned.
func (r ApiGetUserExternalAuthRequest) Search(search string) ApiGetUserExternalAuthRequest {
	r.search = &search
	return r
}

func (r ApiGetUserExternalAuthRequest) Execute() (*ExternalAuthList, *http.Response, error) {
	return r.ApiService.GetUserExternalAuthExecute(r)
}

/*
GetUserExternalAuth Retrieves the list of the users external auth data

**Required ACL**: `auth.users.{user_uuid}.external.read` This list should not contain any sensible information

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userUuid The UUID of the user
	@return ApiGetUserExternalAuthRequest
*/
func (a *ExternalAPIService) GetUserExternalAuth(ctx context.Context, userUuid string) ApiGetUserExternalAuthRequest {
	return ApiGetUserExternalAuthRequest{
		ApiService: a,
		ctx:        ctx,
		userUuid:   userUuid,
	}
}

// Execute executes the request
//
//	@return ExternalAuthList
func (a *ExternalAPIService) GetUserExternalAuthExecute(r ApiGetUserExternalAuthRequest) (*ExternalAuthList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ExternalAuthList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExternalAPIService.GetUserExternalAuth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user_uuid}/external"
	localVarPath = strings.Replace(localVarPath, "{"+"user_uuid"+"}", url.PathEscape(parameterValueToString(r.userUuid, "userUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["accent_auth_token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostExternalAuthConfigRequest struct {
	ctx          context.Context
	ApiService   ExternalAPI
	config       *ExternalConfig
	authType     string
	accentTenant *string
}

// JSON object holding configuration for the given authentication type
func (r ApiPostExternalAuthConfigRequest) Config(config ExternalConfig) ApiPostExternalAuthConfigRequest {
	r.config = &config
	return r
}

// The tenant&#39;s UUID, defining the ownership of a given resource.
func (r ApiPostExternalAuthConfigRequest) AccentTenant(accentTenant string) ApiPostExternalAuthConfigRequest {
	r.accentTenant = &accentTenant
	return r
}

func (r ApiPostExternalAuthConfigRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostExternalAuthConfigExecute(r)
}

/*
PostExternalAuthConfig Add configuration for the given auth_type

**Required ACL**: `auth.{auth_type}.external.config.create`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param authType External auth type name
	@return ApiPostExternalAuthConfigRequest
*/
func (a *ExternalAPIService) PostExternalAuthConfig(ctx context.Context, authType string) ApiPostExternalAuthConfigRequest {
	return ApiPostExternalAuthConfigRequest{
		ApiService: a,
		ctx:        ctx,
		authType:   authType,
	}
}

// Execute executes the request
func (a *ExternalAPIService) PostExternalAuthConfigExecute(r ApiPostExternalAuthConfigRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExternalAPIService.PostExternalAuthConfig")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/external/{auth_type}/config"
	localVarPath = strings.Replace(localVarPath, "{"+"auth_type"+"}", url.PathEscape(parameterValueToString(r.authType, "authType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.config == nil {
		return nil, reportError("config is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accentTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accent-Tenant", r.accentTenant, "")
	}
	// body params
	localVarPostBody = r.config
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiUpdateExternalAuthConfigRequest struct {
	ctx          context.Context
	ApiService   ExternalAPI
	config       *ExternalConfig
	authType     string
	accentTenant *string
}

// JSON object holding configuration for the given authentication type
func (r ApiUpdateExternalAuthConfigRequest) Config(config ExternalConfig) ApiUpdateExternalAuthConfigRequest {
	r.config = &config
	return r
}

// The tenant&#39;s UUID, defining the ownership of a given resource.
func (r ApiUpdateExternalAuthConfigRequest) AccentTenant(accentTenant string) ApiUpdateExternalAuthConfigRequest {
	r.accentTenant = &accentTenant
	return r
}

func (r ApiUpdateExternalAuthConfigRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateExternalAuthConfigExecute(r)
}

/*
UpdateExternalAuthConfig Update configuration for the given auth_type

**Required ACL**: `auth.{auth_type}.external.config.edit`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param authType External auth type name
	@return ApiUpdateExternalAuthConfigRequest
*/
func (a *ExternalAPIService) UpdateExternalAuthConfig(ctx context.Context, authType string) ApiUpdateExternalAuthConfigRequest {
	return ApiUpdateExternalAuthConfigRequest{
		ApiService: a,
		ctx:        ctx,
		authType:   authType,
	}
}

// Execute executes the request
func (a *ExternalAPIService) UpdateExternalAuthConfigExecute(r ApiUpdateExternalAuthConfigRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExternalAPIService.UpdateExternalAuthConfig")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/external/{auth_type}/config"
	localVarPath = strings.Replace(localVarPath, "{"+"auth_type"+"}", url.PathEscape(parameterValueToString(r.authType, "authType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.config == nil {
		return nil, reportError("config is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accentTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accent-Tenant", r.accentTenant, "")
	}
	// body params
	localVarPostBody = r.config
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
