openapi: 3.0.1
info:
  contact:
    email: help@accentvoice.io
    name: Accent Team
    url: https://accentvoice.io/
  description: Control your calls from a REST API
  title: accent-calld
  version: 1.0.0
  x-logo:
    altText: Accent Logo
    backgroundColor: '#FAFAFA'
    url: https://accentvoice.io/images/logo-black.svg
servers:
- url: http://api.accentvoice.io/1.0
- url: https://api.accentvoice.io/1.0
security:
- accent_auth_token: []
paths:
  /applications/{application_uuid}:
    get:
      description: "**Required ACL:** `calld.applications.{application_uuid}.read`"
      operationId: getApplication
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: Application
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Show an application
      tags:
      - applications
  /applications/{application_uuid}/calls:
    get:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.read`"
      operationId: getApplicationCalls
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCalls'
          description: Application
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: List calls from the application
      tags:
      - applications
    post:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.create`"
      operationId: createApplicationCalls
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApplicationCallRequestToExten'
        description: node parameters
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCall'
          description: The new call ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Make a new call to the application
      tags:
      - applications
      x-codegen-request-body-name: body
  /applications/{application_uuid}/calls/{call_id}:
    delete:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.{call_id}.delete`"
      operationId: deleteApplicationCall
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Call has been hung up
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Hangup a call from the application
      tags:
      - applications
  /applications/{application_uuid}/calls/{call_id}/answer:
    put:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.{call_id}.answer.update`"
      operationId: answerApplicationCall
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now answered
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Answer a call
      tags:
      - applications
  /applications/{application_uuid}/calls/{call_id}/dtmf:
    put:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.{call_id}.dtmf.update"
      operationId: sendApplicationCallDTMF
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      - description: Digits to send via DTMF. Must contain only `0-9*#`.
        in: query
        name: digits
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The digits have been sent
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Simulate a user pressing DTMF keys
      tags:
      - applications
  /applications/{application_uuid}/calls/{call_id}/hold/start:
    put:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.{call_id}.hold.start.update`"
      operationId: holdApplicationCall
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now on hold
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Place a call on hold
      tags:
      - applications
  /applications/{application_uuid}/calls/{call_id}/hold/stop:
    put:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.{call_id}.hold.stop.update"
      operationId: resumeApplicationCall
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call has been resumed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Resume a call that has been placed on hold
      tags:
      - applications
  /applications/{application_uuid}/calls/{call_id}/moh/stop:
    put:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.{call_id}.moh.{moh_uuid}.stop.update"
      operationId: stopApplicationCallMOH
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The MOH has been stopped
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Stops playing a music on hold
      tags:
      - applications
  /applications/{application_uuid}/calls/{call_id}/moh/{moh_uuid}/start:
    put:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.{call_id}.moh.{moh_uuid}.start.update`\n\
        Starts playing a music on hold on a call. If the music on hold is interrupted\
        \ for a playback or another\naction, the music on hold will not restart automatically\
        \ after the interruption. "
      operationId: startApplicationCallMOH
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      - description: UUID of the music on hold
        in: path
        name: moh_uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The MOH has been started
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "No such application, call or moh"
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Starts playing a music on hold
      tags:
      - applications
  /applications/{application_uuid}/calls/{call_id}/mute/start:
    put:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.{call_id}.mute.start.update`"
      operationId: muteApplicationCall
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now muted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Mute a call
      tags:
      - applications
  /applications/{application_uuid}/calls/{call_id}/mute/stop:
    put:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.{call_id}.mute.stop.update`"
      operationId: unmuteApplicationCall
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now unmuted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Unmute a call
      tags:
      - applications
  /applications/{application_uuid}/calls/{call_id}/playbacks:
    post:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.{call_id}.playbacks.create`\n\
        URI examples: * sound:tt-weasels * digits:4188001234 * number:321 * characters:abc\
        \ * tone:ring * recording:my-recording "
      operationId: playApplicationCall
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApplicationPlayback'
        description: playback parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPlayback'
          description: Play has been sent
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such playback
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Play file to the call
      tags:
      - applications
      x-codegen-request-body-name: body
  /applications/{application_uuid}/calls/{call_id}/progress/start:
    put:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.{call_id}.progress.start.update`\
        \ The progress ringing tone is the sound heard by a caller while the other\
        \ party is ringing. "
      operationId: startApplicationCallProgress
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now playing the progress ringing tone
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Play the progress ringing tone
      tags:
      - applications
  /applications/{application_uuid}/calls/{call_id}/progress/stop:
    put:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.{call_id}.progress.stop.update`\
        \ The progress ringing tone is the sound heard by a caller while the other\
        \ party is ringing. Limitation: this only works when the ringing tone is played\
        \ by Accent through audio media (e.g. when using `/progress` after `/answer`).\
        \ If the phone is emitting the ringing tone directly to the user, then it\
        \ cannot be stopped, and the response code will still be 204. "
      operationId: stopApplicationCallProgress
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call has stopped playing the progress ringing tone
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Stop playing the progress ringing tone.
      tags:
      - applications
  /applications/{application_uuid}/calls/{call_id}/snoops:
    post:
      description: "**Required ACL:** `calld.applications.{application_uuid}.calls.{call_id}.snoops.create`\n\
        The whisper mode indicate which part of the snooped channel can hear the snooper.\
        \ Given Alice calls Bob and Charles snoops on Bob * none: No one can hear\
        \ the snooper * both: Alice and Bob can hear Charles * in: Alice can hear\
        \ Charles * out: Bob can hear Charles "
      operationId: snoopApplicationCall
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApplicationSnoop'
        description: snoop parameters
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSnoop'
          description: Snoop started
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call or Invalid whisper mode
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Start snooping on a call
      tags:
      - applications
      x-codegen-request-body-name: body
  /applications/{application_uuid}/nodes:
    get:
      description: "**Required ACL:** `calld.applications.{application_uuid}.nodes.read`"
      operationId: getApplicationNodes
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNodes'
          description: Application
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: List nodes from the application
      tags:
      - applications
    post:
      description: "**Required ACL:** `calld.applications.{application_uuid}.nodes.create`"
      operationId: createApplicationNode
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApplicationNodeRequest'
        description: node parameters
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNode'
          description: The new node ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Make a new node and add calls
      tags:
      - applications
      x-codegen-request-body-name: body
  /applications/{application_uuid}/nodes/{node_uuid}:
    delete:
      description: "**Required ACL:** `calld.applications.{application_uuid}.nodes.{node_uuid}.delete`\
        \ **Not implemented** "
      operationId: deleteApplicationNode
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: UUID of the node
        in: path
        name: node_uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Call has been hung up
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or node
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Delete node and hangup all calls
      tags:
      - applications
    get:
      description: "**Required ACL:** `calld.applications.{application_uuid}.nodes.{node_uuid}.read`"
      operationId: getNode
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: UUID of the node
        in: path
        name: node_uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNode'
          description: ApplicationNode
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or node
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Show a node
      tags:
      - applications
  /applications/{application_uuid}/nodes/{node_uuid}/calls:
    post:
      description: "**Required ACL:** `calld.applications.{application_uuid}.nodes.{node_uuid}.calls.create`"
      operationId: createApplicationCallToNode
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: UUID of the node
        in: path
        name: node_uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApplicationCallRequestToExten'
        description: Call parameters
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCall'
          description: The new call ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or node
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Make a new call to the node
      tags:
      - applications
      x-codegen-request-body-name: body
  /applications/{application_uuid}/nodes/{node_uuid}/calls/user:
    post:
      description: "**Required ACL:** `calld.applications.{application_uuid}.nodes.{node_uuid}.calls.user.create`"
      operationId: createApplicationCallToUser
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: UUID of the node
        in: path
        name: node_uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApplicationCallRequestToUser'
        description: Parameters for the new call
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCall'
          description: The new call ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or node
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Initiate a call to a user and insert it in the node
      tags:
      - applications
      x-codegen-request-body-name: body
  /applications/{application_uuid}/nodes/{node_uuid}/calls/{call_id}:
    delete:
      description: "**Required ACL:** `calld.applications.{application_uuid}.nodes.{node_uuid}.calls.{call_id}.delete`"
      operationId: deleteApplicationCallFromNode
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: UUID of the node
        in: path
        name: node_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Call has been removed from the node
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or node or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Remove call from the node
      tags:
      - applications
    put:
      description: "**Required ACL:** `calld.applications.{application_uuid}.nodes.{node_uuid}.calls.{call_id}.update`"
      operationId: insertApplicationCallToNode
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: UUID of the node
        in: path
        name: node_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Call has been added to the node
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or node or call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Insert call to the node
      tags:
      - applications
  /applications/{application_uuid}/playbacks/{playback_uuid}:
    delete:
      description: "**Required ACL:** `calld.applications.{application_uuid}.playbacks.{playback_uuid}.delete`"
      operationId: deletePlayback
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: ID of the playback
        in: path
        name: playback_uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Playback has been stopped and removed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or playback
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Stop and remove playback
      tags:
      - applications
  /applications/{application_uuid}/snoops:
    get:
      description: "**Required ACL:** `calld.applications.{application_uuid}.snoops.read`"
      operationId: listApplicationSnoops
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSnoops'
          description: Snoop list
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: List active snoops
      tags:
      - applications
  /applications/{application_uuid}/snoops/{snoop_uuid}:
    delete:
      description: "**Required ACL:** `calld.applications.{application_uuid}.snoops.{snoop_uuid}.delete`"
      operationId: stopSnoop
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: UUID of the snoop
        in: path
        name: snoop_uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Snooping has been stopped
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or snoop
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Stop snooping
      tags:
      - applications
    get:
      description: "**Required ACL:** `calld.applications.{application_uuid}.snoops.{snoop_uuid}.read`"
      operationId: getSnoop
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: UUID of the snoop
        in: path
        name: snoop_uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSnoop'
          description: Snoop parameters
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or snoop
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: View snooping parameters
      tags:
      - applications
    put:
      description: "**Required ACL:** `calld.applications.{application_uuid}.snoops.{snoop_uuid}.update`"
      operationId: updateSnoop
      parameters:
      - description: UUID of the application
        in: path
        name: application_uuid
        required: true
        schema:
          type: string
      - description: UUID of the snoop
        in: path
        name: snoop_uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApplicationSnoopPut'
        description: snoop parameters
        required: true
      responses:
        "204":
          content: {}
          description: Snooping has been modifier
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such application or snoop
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Change snooping parameters
      tags:
      - applications
      x-codegen-request-body-name: body
  /calls:
    get:
      description: '**Required ACL:** `calld.calls.read`'
      operationId: listCalls
      parameters:
      - description: "Filter calls by Stasis application, e.g. switchboard."
        in: query
        name: application
        schema:
          type: string
      - description: "Filter calls by Stasis application instance, e.g. switchboard-sales,green.\
          \ Args must be separated by commas (,). `application_instance` is ignored\
          \ if `application` is not set."
        in: query
        name: application_instance
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listCalls_200_response'
          description: List currently active calls
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: List calls
      tags:
      - calls
    post:
      description: '**Required ACL:** `calld.calls.create` Create a new call from
        a phone to an extension. '
      operationId: createCall
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CallRequest'
        description: Call parameters
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
          description: The new call ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Make a new call
      tags:
      - calls
      x-codegen-request-body-name: body
  /calls/{call_id}:
    delete:
      description: "**Required ACL:** `calld.calls.{call_id}.delete`"
      operationId: deleteCall
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Call has been hung up
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Hangup a call
      tags:
      - calls
    get:
      description: "**Required ACL:** `calld.calls.{call_id}.read`"
      operationId: getCall
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
          description: Call
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Show a call
      tags:
      - calls
  /calls/{call_id}/answer:
    put:
      description: "**Required ACL:** `calld.calls.{call_id}.answer.update` This works\
        \ **only** if the phone brand has a corresponding phoned plugin to handle\
        \ the event. "
      operationId: answerCall
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now answered
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Answer a call
      tags:
      - calls
  /calls/{call_id}/dtmf:
    put:
      description: "**Required ACL:** `calld.calls.{call_id}.dtmf.update"
      operationId: sendCallDTMF
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      - description: Digits to send via DTMF. Must contain only `0-9*#`.
        in: query
        name: digits
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The digits have been sent
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Simulate a user pressing DTMF keys
      tags:
      - calls
  /calls/{call_id}/hold/start:
    put:
      description: "**Required ACL:** `calld.calls.{call_id}.hold.start.update` This\
        \ works **only** if the phone brand has a corresponding phoned plugin to handle\
        \ the event. "
      operationId: holdCall
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now held
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Hold a call
      tags:
      - calls
  /calls/{call_id}/hold/stop:
    put:
      description: "**Required ACL:** `calld.calls.{call_id}.hold.stop.update` This\
        \ works **only** if the phone brand has a corresponding phoned plugin to handle\
        \ the event. "
      operationId: unholdCall
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now unheld
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Unhold a call
      tags:
      - calls
  /calls/{call_id}/mute/start:
    put:
      description: "**Required ACL:** `calld.calls.{call_id}.mute.start.update`"
      operationId: muteCall
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now muted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Mute a call
      tags:
      - calls
  /calls/{call_id}/mute/stop:
    put:
      description: "**Required ACL:** `calld.calls.{call_id}.mute.stop.update`"
      operationId: unmuteCall
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now unmuted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Unmute a call
      tags:
      - calls
  /calls/{call_id}/record/start:
    put:
      description: "**Required ACL:** `calld.calls.{call_id}.record.start.update`"
      operationId: startRecording
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Recording has started for the call
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Start recording a call
      tags:
      - calls
  /calls/{call_id}/record/stop:
    put:
      description: "**Required ACL:** `calld.calls.{call_id}.record.stop.update`"
      operationId: stopRecording
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Recording has stopped for the call
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Stop recording a call
      tags:
      - calls
  /calls/{call_id}/user/{user_uuid}:
    put:
      description: "**Required ACL:** `calld.calls.{call_id}.user.{user_uuid}.update`"
      operationId: connectCallToUser
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      - description: UUID of the user
        in: path
        name: user_uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ConnectCallToUserRequest'
        description: options affecting the call to the targeted user
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
          description: The new call of the user (ringing side)
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Connect a call to a user
      tags:
      - calls
      x-codegen-request-body-name: body
  /conferences/{conference_id}/participants:
    get:
      description: "**Required ACL:** `calld.conferences.{conference_id}.participants.read`"
      operationId: listConferenceParticipants
      parameters:
      - description: Unique identifier of the conference
        in: path
        name: conference_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantList'
          description: The list of participant is returned
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified conference does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: List participants of a conference
      tags:
      - conferences
  /conferences/{conference_id}/participants/{participant_id}:
    delete:
      description: "**Required ACL:** `calld.conferences.{conference_id}.participants.{participant_id}.delete`"
      operationId: kickParticipant
      parameters:
      - description: Unique identifier of the conference
        in: path
        name: conference_id
        required: true
        schema:
          type: string
      - description: Unique identifier of the participant
        in: path
        name: participant_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The participant was kicked from the conference
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified conference does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Kick participant from a conference
      tags:
      - conferences
  /conferences/{conference_id}/participants/{participant_id}/mute:
    put:
      description: "**Required ACL:** `calld.conferences.{conference_id}.participants.{participant_id}.mute.update`"
      operationId: muteParticipant
      parameters:
      - description: Unique identifier of the conference
        in: path
        name: conference_id
        required: true
        schema:
          type: string
      - description: Unique identifier of the participant
        in: path
        name: participant_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The participant was muted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified conference does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Mute a participant in a conference
      tags:
      - conferences
  /conferences/{conference_id}/participants/{participant_id}/unmute:
    put:
      description: "**Required ACL:** `calld.conferences.{conference_id}.participants.{participant_id}.unmute.update`"
      operationId: unmuteParticipant
      parameters:
      - description: Unique identifier of the conference
        in: path
        name: conference_id
        required: true
        schema:
          type: string
      - description: Unique identifier of the participant
        in: path
        name: participant_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The participant was unmuted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified conference does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Unmute a participant in a conference
      tags:
      - conferences
  /conferences/{conference_id}/record:
    delete:
      description: "**Required ACL:** `calld.conferences.{conference_id}.record.delete`"
      operationId: stopConferenceRecording
      parameters:
      - description: Unique identifier of the conference
        in: path
        name: conference_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The conference recording stopped
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The conference is already not being recorded
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified conference does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Stop recording a conference
      tags:
      - conferences
    post:
      description: "**Required ACL:** `calld.conferences.{conference_id}.record.create`"
      operationId: startConferenceRecording
      parameters:
      - description: Unique identifier of the conference
        in: path
        name: conference_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The conference recording started
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The conference is already being recorded or there are no participants
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified conference does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Record a conference
      tags:
      - conferences
  /config:
    get:
      description: '**Required ACL:** `calld.config.read`'
      operationId: getConfig
      responses:
        "200":
          content: {}
          description: The configuration of the service
      summary: Show the current configuration
      tags:
      - config
    patch:
      description: '**Required ACL:** `calld.config.update` Changes are not persistent
        across service restart. '
      operationId: patchConfig
      requestBody:
        content:
          '*/*':
            schema:
              items:
                $ref: '#/components/schemas/ConfigPatchItem'
              type: array
        description: See https://en.wikipedia.org/wiki/JSON_Patch.
        required: true
      responses:
        "200":
          content: {}
          description: The updated configuration of the service
        "400":
          content: {}
          description: The given confiuration is invalid
      summary: Update the current configuration.
      tags:
      - config
      x-codegen-request-body-name: ConfigPatch
  /faxes:
    post:
      description: '**Required ACL:** `calld.faxes.create`'
      operationId: sendFax
      parameters:
      - description: Context of the recipient of the fax
        in: query
        name: context
        required: true
        schema:
          type: string
      - description: Extension of the recipient of the fax
        in: query
        name: extension
        required: true
        schema:
          type: string
      - description: "Caller ID that will be presented to the recipient of the fax.\
          \ Example: \"my-name <+15551112222>\""
        in: query
        name: caller_id
        schema:
          default: Accent Fax
          type: string
      - description: Extension to compose before sending fax. Useful for fax in IVR
        in: query
        name: ivr_extension
        schema:
          type: string
      - description: Time waiting before sending fax when destination has answered
          (in seconds)
        in: query
        name: wait_time
        schema:
          type: integer
      requestBody:
        content:
          application/pdf:
            schema:
              format: binary
              type: string
        description: "The fax file content, in PDF format"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fax'
          description: Fax send request accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Send a fax
      tags:
      - faxes
      x-codegen-request-body-name: fax_content
  /guests/me/meetings/{meeting_uuid}/status:
    get:
      description: Returns the status of a meeting that should be visible to a guest.
      operationId: getGuestMeetingStatus
      parameters:
      - description: Unique identifier of the meeting
        in: path
        name: meeting_uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingStatus'
          description: The status of a meeting is returned
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified meeting does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Get the status of a meeting
      tags:
      - meetings
  /lines:
    get:
      description: |
        **Required ACL:** `calld.lines.read`

        List the status of line endpoints that are configured on Asterisk

        Supported technologies:

          * SIP

        Lines with unsupported technologies will be listed but there status
        will be null
      operationId: listLines
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointLines'
          description: A list of line status
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: List line endpoint statuses
      tags:
      - lines
  /meetings/{meeting_uuid}/participants:
    get:
      description: "**Required ACL:** `calld.meetings.{meeting_uuid}.participants.read`"
      operationId: listMeetingParticipants
      parameters:
      - description: Unique identifier of the meeting
        in: path
        name: meeting_uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantList'
          description: The list of participant is returned
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified meeting does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: List participants of a meeting
      tags:
      - meetings
  /meetings/{meeting_uuid}/participants/{participant_id}:
    delete:
      description: "**Required ACL:** `calld.meetings.{meeting_uuid}.participants.delete`"
      operationId: kickMeetingParticipant
      parameters:
      - description: Unique identifier of the meeting
        in: path
        name: meeting_uuid
        required: true
        schema:
          type: string
      - description: Unique identifier of the participant
        in: path
        name: participant_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The participant was kicked
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified meeting or participant does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Kick a participant from a meeting
      tags:
      - meetings
  /status:
    get:
      description: '**Required ACL:** `calld.status.read`'
      operationId: getStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusSummary'
          description: The internal infos of accent-calld
      summary: Print infos about internal status of accent-calld
      tags:
      - status
  /switchboards/{switchboard_uuid}/calls/held:
    get:
      description: |2-
         **Required ACL:** `calld.switchboards.{switchboard_uuid}.calls.held.read`

         **Warning:** This endpoint is still in development and may change in the future.
      operationId: listSwitchboardHeldCalls
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Unique identifier of the switchboard
        in: path
        name: switchboard_uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwitchboardHeldCalls'
          description: List of calls
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified switchboard does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: List calls held in the switchboard
      tags:
      - switchboards
  /switchboards/{switchboard_uuid}/calls/held/{call_id}:
    put:
      description: |2-
         **Required ACL:** `calld.switchboards.{switchboard_uuid}.calls.held.{call_id}.update`

         **Warning:** This endpoint is still in development and may change in the future.

         This action will also hangup the previous call talking to the held call, if there was any.
      operationId: holdSwitchboardCall
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Unique identifier of the switchboard
        in: path
        name: switchboard_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Call was held correctly
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified switchboard does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Put the specified call on hold in the switchboard
      tags:
      - switchboards
  /switchboards/{switchboard_uuid}/calls/held/{call_id}/answer:
    put:
      description: |2-
         **Required ACL:** `calld.switchboards.{switchboard_uuid}.calls.held.{call_id}.answer.update`

         **Warning:** This endpoint is still in development and may change in the future.
      operationId: answerHeldCall
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Unique identifier of the switchboard
        in: path
        name: switchboard_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      - description: ID of the line of the user used to make the call. Default is
          the main line of the user.
        in: query
        name: line_id
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallID'
          description: Answerer was correctly originated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified switchboard does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Answer the specified held call
      tags:
      - switchboards
  /switchboards/{switchboard_uuid}/calls/queued:
    get:
      description: |2-
         **Required ACL:** `calld.switchboards.{switchboard_uuid}.calls.queued.read`

         **Warning:** This endpoint is still in development and may change in the future.
      operationId: listSwitchboardQueuedCalls
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Unique identifier of the switchboard
        in: path
        name: switchboard_uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwitchboardQueuedCalls'
          description: List of calls
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified switchboard does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: List calls queued in the switchboard
      tags:
      - switchboards
  /switchboards/{switchboard_uuid}/calls/queued/{call_id}/answer:
    put:
      description: |2-
         **Required ACL:** `calld.switchboards.{switchboard_uuid}.calls.queued.{call_id}.answer.update`

         **Warning:** This endpoint is still in development and may change in the future.
      operationId: answerQueuedCall
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Unique identifier of the switchboard
        in: path
        name: switchboard_uuid
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      - description: ID of the line of the user used to make the call. Default is
          the main line of the user.
        in: query
        name: line_id
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallID'
          description: Answerer was correctly originated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified switchboard does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Answer the specified queued call
      tags:
      - switchboards
  /transfers:
    post:
      description: '**Required ACL:** `calld.transfers.create` The only way to cancel
        the transfer from the initiator is to use `DELETE /transfers/<id>` (i.e. sending
        DTMF `*0` will not work).'
      operationId: initiateTransfer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/TransferRequest'
        description: Parameters of the transfer
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
          description: The transfer being created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: A similar transfer (same initiator) is still in progress.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Initiate a transfer
      tags:
      - transfers
      x-codegen-request-body-name: body
  /transfers/{transfer_id}:
    delete:
      description: "**Required ACL:** `calld.transfers.{transfer_id}.delete`"
      operationId: cancelTransfer
      parameters:
      - description: Unique identifier of the transfer
        in: path
        name: transfer_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Transfer cancelled
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified transfer does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Cancel a transfer
      tags:
      - transfers
    get:
      description: "**Required ACL:** `calld.transfers.{transfer_id}.read`"
      operationId: getTransfer
      parameters:
      - description: Unique identifier of the transfer
        in: path
        name: transfer_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
          description: The details of the transfer
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified transfer does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Get details of a transfer
      tags:
      - transfers
  /transfers/{transfer_id}/complete:
    put:
      description: "**Required ACL:** `calld.transfers.{transfer_id}.complete.update`"
      operationId: completeTransfer
      parameters:
      - description: Unique identifier of the transfer
        in: path
        name: transfer_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The transfer was completed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified transfer does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Complete a transfer
      tags:
      - transfers
  /trunks:
    get:
      description: |
        **Required ACL:** `calld.trunks.read`

        List the status of trunk endpoints that are configured on Asterisk

        Supported technologies:

          * SIP

        Trunks with unsupported technologies will be listed but there status
        will be null
      operationId: listTrunks
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource."
        in: header
        name: Accent-Tenant
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointTrunks'
          description: A list of trunk status
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: List trunk endpoint statuses
      tags:
      - trunks
  /users/me/calls:
    get:
      description: '**Required ACL:** `calld.users.me.calls.read`'
      operationId: listUserCalls
      parameters:
      - description: "Filter calls by Stasis application, e.g. switchboard."
        in: query
        name: application
        schema:
          type: string
      - description: "Filter calls by Stasis application instance, e.g. switchboard-sales,green.\
          \ Args must be separated by commas (,)."
        in: query
        name: application_instance
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listCalls_200_response'
          description: List currently active calls of a user
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: List calls of a user
      tags:
      - calls
      - users
    post:
      description: '**Required ACL:** `calld.users.me.calls.create` The user originator
        of the call is determined from the authentication token. '
      operationId: createUserCall
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UserCallRequest'
        description: Parameters of the call
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
          description: The new call ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Make a new call from a user
      tags:
      - calls
      - users
      x-codegen-request-body-name: body
  /users/me/calls/{call_id}:
    delete:
      description: "**Required ACL:** `calld.users.me.calls.{call_id}.delete` Only\
        \ calls owned by the authenticated user may be hung up."
      operationId: hangupUserCall
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Call has been hung up
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The authenticated user tried to hangup a call owned by someone
            else
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Hangup a call from a user
      tags:
      - calls
      - users
  /users/me/calls/{call_id}/answer:
    put:
      description: "**Required ACL:** `calld.users.me.calls.{call_id}.answer.update`\
        \ Only calls owned by the authenticated user may be answered."
      operationId: answerUserCall
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now answered
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Answer a call from user
      tags:
      - calls
      - users
  /users/me/calls/{call_id}/dtmf:
    put:
      description: "**Required ACL:** `calld.users.me.calls.{call_id}.dtmf.update"
      operationId: sendUserDTMF
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      - description: Digits to send via DTMF. Must contain only `0-9*#`.
        in: query
        name: digits
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The digits have been sent
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Simulate a user pressing DTMF keys
      tags:
      - calls
      - users
  /users/me/calls/{call_id}/hold/start:
    put:
      description: "**Required ACL:** `calld.users.me.calls.{call_id}.hold.start.update`\
        \ Only calls owned by the authenticated user may be held."
      operationId: holdUserCall
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now held
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Hold a call from user
      tags:
      - calls
      - users
  /users/me/calls/{call_id}/hold/stop:
    put:
      description: "**Required ACL:** `calld.users.me.calls.{call_id}.hold.stop.update`\
        \ Only calls owned by the authenticated user may be unheld."
      operationId: unholdUserCall
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now unheld
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Unhold a call from user
      tags:
      - calls
      - users
  /users/me/calls/{call_id}/mute/start:
    put:
      description: "**Required ACL:** `calld.users.me.calls.{call_id}.mute.start.update`\
        \ Only calls owned by the authenticated user may be mute."
      operationId: muteUserCall
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now muted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Mute a call from user
      tags:
      - calls
      - users
  /users/me/calls/{call_id}/mute/stop:
    put:
      description: "**Required ACL:** `calld.users.me.calls.{call_id}.mute.stop.update`\
        \ Only calls owned by the authenticated user may be unmute."
      operationId: unmuteUserCall
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The call is now unmuted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Unmute a call from user
      tags:
      - calls
      - users
  /users/me/calls/{call_id}/record/start:
    put:
      description: "**Required ACL:** `calld.calls.{call_id}.record.start.update`"
      operationId: startCurrentUserRecording
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Recording has started for the call
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Start recording a call
      tags:
      - calls
      - users
  /users/me/calls/{call_id}/record/stop:
    put:
      description: "**Required ACL:** `calld.calls.{call_id}.record.stop.update`"
      operationId: stopCurrentUserRecording
      parameters:
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Recording has stopped for the call
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No such call
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Stop recording a call
      tags:
      - calls
      - users
  /users/me/conferences/adhoc:
    post:
      description: "**Required ACL:** `calld.users.me.conferences.adhoc.create`. An\
        \ adhoc conference allows a user to merge multiple calls in one conversation.\
        \ It acts like a conference room, but has no dedicated extension. The user\
        \ creating the adhoc conference acts as the owner of the conference and controls\
        \ who enters or leaves the conference. The conference will be destroyed when\
        \ the owner leaves the conference."
      operationId: createAdhocConference
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AdhocConferenceCreation'
        description: Parameters of the conference calls
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdhocConference'
          description: Conference adhoc has been created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The host call is already in a conference
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Create an adhoc conference
      tags:
      - adhoc_conferences
      x-codegen-request-body-name: body
  /users/me/conferences/adhoc/{conference_id}:
    delete:
      description: '**Required ACL:** `calld.users.me.conferences.adhoc.delete`. All
        calls in the adhoc conference will be hungup.'
      operationId: deleteAdhocConference
      parameters:
      - description: ID of the adhoc conference
        in: path
        name: conference_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdhocConference'
          description: Conference adhoc has been deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified adhoc conference does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Delete an adhoc conference
      tags:
      - adhoc_conferences
  /users/me/conferences/adhoc/{conference_id}/participants/{call_id}:
    delete:
      description: '**Required ACL:** `calld.users.me.conferences.adhoc.participants.delete`'
      operationId: removeParticipantFromAdhocConference
      parameters:
      - description: ID of the adhoc conference
        in: path
        name: conference_id
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Participant has been removed from the adhoc conference
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified adhoc conference does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Remove a participant from an adhoc conference
      tags:
      - adhoc_conferences
    put:
      description: '**Required ACL:** `calld.users.me.conferences.adhoc.participants.update`'
      operationId: addParticipantToAdhocConference
      parameters:
      - description: ID of the adhoc conference
        in: path
        name: conference_id
        required: true
        schema:
          type: string
      - description: ID of the call
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Participant has been added to the adhoc conference
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified adhoc conference does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: Add a participant into an adhoc conference
      tags:
      - adhoc_conferences
  /users/me/conferences/{conference_id}/participants:
    get:
      description: "**Required ACL:** `calld.users.me.conferences.{conference_id}.participants.read`"
      operationId: listUserConferenceParticipants
      parameters:
      - description: Unique identifier of the conference
        in: path
        name: conference_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantList'
          description: The list of participant is returned
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified conference does not exist
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Another service is unavailable (e.g. accent-auth, accent-confd,\
            \ Asterisk, ...)"
      summary: List participants of a conference as a user
      tags:
      - conferences
      - users
  /users/me/faxes:
    post:
      description: '**Required ACL:** `calld.users.me.faxes.create`'
      operationId: sendUserFax
      parameters:
      - description: Extension of the recipient of the fax
        in: query
        name: extension
        required: true
        schema:
          type: string
      - description: "Caller ID that will be presented to the recipient of the fax.\
          \ Example: \"my-name <+15551112222>\""
        in: query
        name: caller_id
        schema:
          default: Accent Fax
          type: string
      - description: Extension to compose before sending fax. Useful for fax in IVR
        in: query
        name: ivr_extension
        schema:
          type: string
      - description: Time waiting before sending fax when destination has answered
          (in seconds)
        in: query
        name: wait_time
        schema:
          type: integer
      requestBody:
        content:
          application/pdf:
            schema:
              format: binary
              type: string
        description: "The fax file content, in PDF format"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fax'
          description: Fax send request accepted
        "400":
          content:
[...]
