openapi: 3.0.1
info:
  contact:
    email: help@accentvoice.io
    name: Accent Team
    url: https://accentvoice.io/
  description: Provisioning application REST API
  title: accent-provd
  version: "0.2"
  x-logo:
    altText: Accent Logo
    backgroundColor: '#FAFAFA'
    url: https://accentvoice.io/images/logo-black.svg
servers:
- url: http://api.accentvoice.io/0.2
- url: https://api.accentvoice.io/0.2
security:
- accent_auth_token: []
paths:
  /:
    get:
      description: '**Required ACL:** `provd.read` The provd manager resource represents
        the main entry point to the accent-provd REST API '
      operationId: getProvd
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/LinksObject'
          description: OK
      summary: Get the Provd Manager resource
      tags:
      - provd
  /cfg_mgr:
    get:
      description: '**Required ACL:** `provd.cfg_mgr.read` The configuration manager
        resource represents the entry point to the accent-provd configuration REST
        API '
      operationId: getCfgMgr
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/LinksObject'
            links:
              example:
              - href: /cfg_mgr/configs
                rel: cfg.configs
              - href: /cfg_mgr/autocreate
                rel: cfg.autocreate
          description: Links to the different configuration resources
      summary: Get the Config Manager resource
      tags:
      - configs
  /cfg_mgr/autocreate:
    post:
      description: '**Required ACL:** `provd.cfg_mgr.autocreate.create` Create a new
        config based on the config that has the autocreate role '
      operationId: postCfgMgrAutocreate
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/EmptyObject'
        description: Empty object body
        required: false
      responses:
        "201":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/IdObject'
          description: "Configuration created. If the ``id`` field was not given,\
            \ then the ID was automatically generated by the server."
          headers:
            Location:
              description: Location of the newly created configuration.
              schema:
                type: string
      summary: Create an autocreate configuration
      tags:
      - configs
      x-codegen-request-body-name: body
  /cfg_mgr/configs:
    get:
      description: '**Required ACL:** `provd.cfg_mgr.configs.read`'
      operationId: getCfgMgrConfigs
      parameters:
      - description: |
          A selector, encoded in JSON, describing which entries should be returned. All entries are returned if not specified.

          Example: `{"ip":"10.34.1.110"}`
        in: query
        name: q
        schema:
          type: string
      - description: |
          A list of fields, separated by comma.

          Example: `mac,ip`
        in: query
        name: fields
        schema:
          type: string
      - description: |
          An integer specifing the number of entries to skip.

          Example: 10
        in: query
        name: skip
        schema:
          type: integer
      - description: |
          The key on which to sort the results.

          Example: `id`
        in: query
        name: sort
        schema:
          type: string
      - description: The order of sort
        in: query
        name: sort_ord
        schema:
          enum:
          - ASC
          - DESC
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ConfigsObject'
          description: List of configurations
      summary: List and find configurations
      tags:
      - configs
    post:
      description: '**Required ACL:** `provd.cfg_mgr.configs.create`'
      operationId: postCfgMgrConfigs
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/ConfigObject'
        description: Body of a configuration parameter
        required: false
      responses:
        "201":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/IdObject'
          description: "Configuration created. If the ``id`` field was not given,\
            \ then the ID was automatically generated by the server."
          headers:
            Location:
              description: Location of the newly created configuration.
              schema:
                type: string
      summary: Create a configuration
      tags:
      - configs
      x-codegen-request-body-name: body
  /cfg_mgr/configs/{config_id}:
    delete:
      description: "**Required ACL:** `provd.cfg_mgr.configs.{config_id}.delete`"
      operationId: deleteCfgMgrConfigsConfigId
      parameters:
      - description: Configuration ID
        in: path
        name: config_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No content
        "403":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The operation is not permitted for this resource.
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Delete a configuration
      tags:
      - configs
    get:
      description: "**Required ACL:** `provd.cfg_mgr.configs.{config_id}.read`"
      operationId: getCfgMgrConfig
      parameters:
      - description: Configuration ID
        in: path
        name: config_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ConfigObject'
          description: A complete configuration response
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get a configuration
      tags:
      - configs
    put:
      description: "**Required ACL:** `provd.cfg_mgr.configs.{config_id}.update`"
      operationId: putCfgMgrConfig
      parameters:
      - description: Configuration ID
        in: path
        name: config_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/ConfigObject'
        description: Body of a configuration parameter
        required: false
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
        "500":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. The IP or MAC address may be malformed
      summary: Update a configuration
      tags:
      - configs
      x-codegen-request-body-name: body
  /cfg_mgr/configs/{config_id}/raw:
    get:
      description: "**Required ACL:** `provd.cfg_mgr.configs.{config_id}.raw.read`"
      operationId: getCfgMgrRawConfig
      parameters:
      - description: Configuration ID
        in: path
        name: config_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/RawConfigurationObject'
          description: A raw configuration response
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get a raw configuration
      tags:
      - configs
  /configure:
    get:
      description: '**Required ACL:** `provd.configure.read`'
      operationId: getConfigure
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/GeneralConfigsObject'
          description: OK
      summary: Get the general provd configuration
      tags:
      - provd
  /configure/NAT:
    put:
      description: '**Required ACL:** `provd.configure.nat.update`'
      operationId: putConfigureNAT
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/Nat'
        description: Configuration parameter body definition
        required: false
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Update the configuration's NAT
      tags:
      - provd
      x-codegen-request-body-name: body
  /configure/ftp_proxy:
    put:
      description: '**Required ACL:** `provd.configure.ftp_proxy.update`'
      operationId: putConfigureFtpProxy
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/FtpProxy'
        description: Configuration parameter body definition
        required: false
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Update the configuration's ftp_proxy
      tags:
      - provd
      x-codegen-request-body-name: body
  /configure/http_proxy:
    put:
      description: '**Required ACL:** `provd.configure.http_proxy.update`'
      operationId: putConfigureHttpProxy
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/HttpProxy'
        description: Configuration parameter body definition
        required: false
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Update the configuration's http_proxy
      tags:
      - provd
      x-codegen-request-body-name: body
  /configure/https_proxy:
    put:
      description: '**Required ACL:** `provd.configure.https_proxy.update`'
      operationId: putConfigureHttpsProxy
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/HttpsProxy'
        description: Configuration parameter body definition
        required: false
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Update the configuration's https_proxy
      tags:
      - provd
      x-codegen-request-body-name: body
  /configure/locale:
    put:
      description: '**Required ACL:** `provd.configure.locale.update`'
      operationId: putConfigureLocale
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/Locale'
        description: Configuration parameter body definition
        required: false
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Update the configuration's locale
      tags:
      - provd
      x-codegen-request-body-name: body
  /configure/plugin_server:
    put:
      description: '**Required ACL:** `provd.configure.plugin_server.update`'
      operationId: putConfigurePluginServer
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/PluginServer'
        description: Configuration parameter body definition
        required: false
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Update the configuration's plugin_server
      tags:
      - provd
      x-codegen-request-body-name: body
  /configure/provisioning_key:
    put:
      description: "**Required ACL:** `provd.configure.{tenant_uuid}.provisioning_key.update`"
      operationId: putConfigureProvisioningKey
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource"
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/ProvisioningKey'
        description: Configuration parameter body definition
        required: false
      responses:
        "204":
          content: {}
          description: No content
        "400":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: "Bad request. The device ID, IP or MAC may be invalid"
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Update the tenant provisioning key
      tags:
      - provd
      x-codegen-request-body-name: body
  /configure/{param_id}:
    get:
      description: "'**Required ACL:** `provd.configure.{param_id}.read`' Accent-Tenant\
        \ header is only valid for `provisioning_key` "
      operationId: getConfigureParamId
      parameters:
      - description: Configuration parameter ID
        in: path
        name: param_id
        required: true
        schema:
          type: string
      - description: "The tenant's UUID, defining the ownership of a given resource"
        in: header
        name: Accent-Tenant
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/Param'
          description: OK
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get the configuration parameter value
      tags:
      - provd
    put:
      description: "**Required ACL:** `provd.configure.{param_id}.update`"
      operationId: putConfigureParamId
      parameters:
      - description: Configuration parameter ID
        in: path
        name: param_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/Param'
        description: Configuration parameter body definition
        required: false
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Set the value of a parameter
      tags:
      - provd
      x-codegen-request-body-name: body
  /dev_mgr:
    get:
      description: '**Required ACL:** `provd.dev_mgr.read` The device manager resource
        represents the entry point to the accent-provd device REST API '
      operationId: getDevMgr
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/LinksObject'
            links:
              example:
              - href: /dev_mgr/synchronize
                rel: dev.synchronize
              - href: /dev_mgr/reconfigure
                rel: dev.reconfigure
              - href: /dev_mgr/dhcpinfo
                rel: dev.dhcpinfo
              - href: /dev_mgr/devices
                rel: dev.devices
          description: Links to the different devices resources
      summary: Get the Device Manager resource
      tags:
      - devices
  /dev_mgr/devices:
    get:
      description: '**Required ACL:** `provd.dev_mgr.devices.read`'
      operationId: getDevMgrDevices
      parameters:
      - description: |
          A selector, encoded in JSON, describing which entries should be returned. All entries are returned if not specified.

          Example: `{"ip":"10.34.1.110"}`
        in: query
        name: q
        schema:
          type: string
      - description: |
          A list of fields, separated by comma.

          Example: `mac,ip`
        in: query
        name: fields
        schema:
          type: string
      - description: |
          An integer specifing the number of entries to skip.

          Example: 10
        in: query
        name: skip
        schema:
          type: integer
      - description: |
          The key on which to sort the results.

          Example: `id`
        in: query
        name: sort
        schema:
          type: string
      - description: The order of sort
        in: query
        name: sort_ord
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - description: "The tenant's UUID, defining the ownership of a given resource"
        in: header
        name: Accent-Tenant
        schema:
          type: string
      - description: Should the query include sub-tenants
        in: query
        name: recurse
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/DevicesList'
          description: A list of devices
      summary: List and find devices
      tags:
      - devices
    post:
      description: '**Required ACL:** `provd.dev_mgr.devices.create`'
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource"
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/DeviceObject'
        description: Device to create
        required: false
      responses:
        "201":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/IdObject'
          description: Device creation response
          headers:
            Location:
              description: Location of the newly created device
              schema:
                type: string
        "400":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: "Bad request. The device ID, IP or MAC may be invalid"
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Create a device
      tags:
      - devices
      x-codegen-request-body-name: device
  /dev_mgr/devices/{device_id}:
    delete:
      description: "**Required ACL:** `provd.dev_mgr.devices.{device_id}.delete`"
      operationId: deleteDevMgrDevice
      parameters:
      - description: Device ID
        in: path
        name: device_id
        required: true
        schema:
          type: string
      - description: "The tenant's UUID, defining the ownership of a given resource"
        in: header
        name: Accent-Tenant
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Delete a device
      tags:
      - devices
    get:
      description: "**Required ACL:** `provd.dev_mgr.devices.{device_id}.read` Get\
        \ a device using its ID "
      operationId: getDevMgrDevice
      parameters:
      - description: Device ID
        in: path
        name: device_id
        required: true
        schema:
          type: string
      - description: "The tenant's UUID, defining the ownership of a given resource"
        in: header
        name: Accent-Tenant
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/DeviceObject'
          description: A complete device response
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get a device by ID
      tags:
      - devices
    put:
      description: "**Required ACL:** `provd.dev_mgr.devices.{device_id}.update` Every\
        \ field must be specified, otherwise they will be omitted "
      operationId: putDevMgrDevice
      parameters:
      - description: Device ID
        in: path
        name: device_id
        required: true
        schema:
          type: string
      - description: "The tenant's UUID, defining the ownership of a given resource"
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/DeviceObject'
        description: Device information to update
        required: false
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
        "500":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Internal Server Error. The IP or MAC address may be malformed
      summary: Update a device
      tags:
      - devices
      x-codegen-request-body-name: device
  /dev_mgr/dhcpinfo:
    post:
      description: '**Required ACL:** `provd.dev_mgr.dhcpinfo.create` The provisioning
        server either creates a new device or changes the information of the device
        with the same MAC address '
      operationId: postDevMgrDhcpinfo
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource"
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/DHCPInfoObject'
        description: DHCP request information
        required: false
      responses:
        "204":
          content: {}
          description: No content
      summary: Push DHCP request information
      tags:
      - devices
      x-codegen-request-body-name: body
  /dev_mgr/reconfigure:
    post:
      description: '**Required ACL:** `provd.dev_mgr.reconfigure.create` Regenerate
        the configuration file for the specified device '
      operationId: postDevMgrReconfigure
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource"
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/IdObject'
        description: Device ID body definition
        required: false
      responses:
        "204":
          content: {}
          description: No content
        "400":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: "Bad request. The device ID, IP or MAC may be invalid"
      summary: Reconfigure a device
      tags:
      - devices
      x-codegen-request-body-name: body
  /dev_mgr/synchronize:
    post:
      description: '**Required ACL:** `provd.dev_mgr.synchronize.create`'
      operationId: postDevMgrSynchronize
      parameters:
      - description: "The tenant's UUID, defining the ownership of a given resource"
        in: header
        name: Accent-Tenant
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/IdObject'
        description: Device ID body definition
        required: false
      responses:
        "201":
          content: {}
          description: Device synchronized
          headers:
            Location:
              description: Location of the OperationInProgress resource
              schema:
                type: string
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Synchronize a device
      tags:
      - devices
      x-codegen-request-body-name: body
  /dev_mgr/synchronize/{operation_id}:
    delete:
      description: "**Required ACL:** `provd.operation.delete` This does not cancel\
        \ the underlying operation; it only deletes the monitor Every monitor that\
        \ is created should be deleted, else they won't be freed by the process and\
        \ they will accumulate, taking memory "
      operationId: deleteDevMgrSynchronize
      parameters:
      - description: Operation In Progress ID
        in: path
        name: operation_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Delete the Operation In Progress
      tags:
      - devices
    get:
      description: '**Required ACL:** `provd.operation.read`'
      operationId: getDevMgrSynchronize
      parameters:
      - description: Operation In Progress ID
        in: path
        name: operation_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/OperationInProgressObject'
          description: OK
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get the status of a synchronize Operation In Progress
      tags:
      - devices
  /pg_mgr:
    get:
      description: '**Required ACL:** `provd.pg_mgr.read` The plugin manager resource
        represents the entry point to the accent-provd plugin REST API '
      operationId: getPgMgr
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/LinksObject'
            links:
              example:
              - href: /pg_mgr/install
                rel: srv.install
              - href: /pg_mgr/plugins
                rel: pg.plugins
              - href: /pg_mgr/reload
                rel: pg.reload
          description: Links to the different plugin resources
      summary: Get the Plugin Manager resource
      tags:
      - plugins
  /pg_mgr/install:
    get:
      description: '**Required ACL:** `provd.pg_mgr.install.read`'
      operationId: getPgMgrInstall
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/LinksObject'
            links:
              example:
              - href: /pg_mgr/install/install
                rel: srv.install.install
              - href: /pg_mgr/install/uninstall
                rel: srv.install.uninstall
              - href: /pg_mgr/install/installed
                rel: srv.install.installed
              - href: /pg_mgr/install/installable
                rel: srv.install.installable
              - href: /pg_mgr/install/upgrade
                rel: srv.install.upgrade
              - href: /pg_mgr/install/update
                rel: srv.install.update
          description: OK
      summary: Get the installation service resources
      tags:
      - plugins
  /pg_mgr/install/install:
    post:
      description: '**Required ACL:** `provd.pg_mgr.install.install.create`'
      operationId: postPgMgrInstallPlugin
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/IdObject'
        description: Package ID body definition
        required: false
      responses:
        "201":
          content: {}
          description: Operation in progress
          headers:
            Location:
              description: Location of the OperationInProgress resource
              schema:
                type: string
        "400":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Invalid JSON document
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Install a plugin
      tags:
      - plugins
      x-codegen-request-body-name: body
  /pg_mgr/install/install/{operation_id}:
    delete:
      description: "**Required ACL:** `provd.operation.delete` This does not cancel\
        \ the underlying operation; it only deletes the monitor Every monitor that\
        \ is created should be deleted, else they won't be freed by the process and\
        \ they will accumulate, taking memory "
      operationId: deletePgMgrInstall
      parameters:
      - description: Operation In Progress ID
        in: path
        name: operation_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Delete the Operation In Progress
      tags:
      - plugins
    get:
      description: '**Required ACL:** `provd.operation.read`'
      operationId: getPgMgrInstallStatus
      parameters:
      - description: Operation In Progress ID
        in: path
        name: operation_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/OperationInProgressObject'
          description: OK
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get the status of a plugin installation Operation In Progress
      tags:
      - plugins
  /pg_mgr/install/installable:
    get:
      description: '**Required ACL:** `provd.pg_mgr.install.installable.read`'
      operationId: getPgMgrInstallable
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/PackageList'
          description: OK
      summary: Get the installable plugins list
      tags:
      - plugins
  /pg_mgr/install/installed:
    get:
      description: '**Required ACL:** `provd.pg_mgr.install.installed.read`'
      operationId: getPgMgrInstalled
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/PackageList'
          description: OK
      summary: Get the installed plugins list
      tags:
      - plugins
  /pg_mgr/install/uninstall:
    post:
      description: '**Required ACL:** `provd.pg_mgr.install.uninstall.create`'
      operationId: postPgMgrUninstallPlugin
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/IdObject'
        description: Package ID body definition
        required: false
      responses:
        "204":
          content: {}
          description: No content
        "400":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Invalid JSON document
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Uninstall a plugin
      tags:
      - plugins
      x-codegen-request-body-name: body
  /pg_mgr/install/update:
    post:
      description: '**Required ACL:** `provd.pg_mgr.install.update.create`'
      operationId: postPgMgrUpdateList
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/EmptyObject'
        description: Empty object body
        required: false
      responses:
        "201":
          content: {}
          description: Operation in progress
          headers:
            Location:
              description: Location of the OperationInProgress resource
              schema:
                type: string
        "400":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Invalid JSON document
      summary: Update the List of installable plugins
      tags:
      - plugins
      x-codegen-request-body-name: body
  /pg_mgr/install/update/{operation_id}:
    delete:
      description: "**Required ACL:** `provd.operation.delete` This does not cancel\
        \ the underlying operation; it only deletes the monitor Every monitor that\
        \ is created should be deleted, else they won't be freed by the process and\
        \ they will accumulate, taking memory "
      operationId: deletePgMgrMonitor
      parameters:
      - description: Operation In Progress ID
        in: path
        name: operation_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Delete the Operation In Progress
      tags:
      - plugins
    get:
      description: '**Required ACL:** `provd.operation.read`'
      operationId: getPgMgrUpdateStatus
      parameters:
      - description: Operation In Progress ID
        in: path
        name: operation_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/OperationInProgressObject'
          description: OK
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get the status of a plugin database update Operation In Progress
      tags:
      - plugins
  /pg_mgr/install/upgrade:
    post:
      description: '**Required ACL:** `provd.pg_mgr.install.upgrade.create`'
      operationId: postPgMgrUpgradePlugin
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/IdObject'
        description: Package ID body definition
        required: false
      responses:
        "201":
          content: {}
          description: Operation in progress
          headers:
            Location:
              description: Location of the OperationInProgress resource
              schema:
                type: string
        "400":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Invalid JSON document
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Upgrade a plugin
      tags:
      - plugins
      x-codegen-request-body-name: body
  /pg_mgr/install/upgrade/{operation_id}:
    delete:
      description: "**Required ACL:** `provd.operation.delete` This does not cancel\
        \ the underlying operation; it only deletes the monitor Every monitor that\
        \ is created should be deleted, else they won't be freed by the process and\
        \ they will accumulate, taking memory "
      operationId: deletePgMgrUpgradeMonitor
      parameters:
      - description: Operation In Progress ID
        in: path
        name: operation_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Delete the Operation In Progress
      tags:
      - plugins
    get:
      description: '**Required ACL:** `provd.operation.read`'
      operationId: getPgMgrUpgradeStatus
      parameters:
      - description: Operation In Progress ID
        in: path
        name: operation_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/OperationInProgressObject'
          description: OK
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get the status of a plugin upgrade Operation In Progress
      tags:
      - plugins
  /pg_mgr/plugins:
    get:
      description: '**Required ACL:** `provd.pg_mgr.plugins.read`'
      operationId: getPgMgrPlugins
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/PluginsObject'
            plugins:
              example:
                accent-aastra-3.3.1-SP4:
                  links:
                  - href: /pg_mgr/plugins/accent-aastra-3.3.1-SP4
                    rel: pg.plugin
                accent-cisco-sccp-9.0.3:
                  links:
                  - href: /pg_mgr/plugins/accent-cisco-sccp-9.0.3
                    rel: pg.plugin
          description: List of all the installed plugins and their resources
      summary: List the installed plugins
      tags:
      - plugins
  /pg_mgr/plugins/{plugin_id}:
    get:
      description: "**Required ACL:** `provd.pg_mgr.plugins.{plugin_id}.read`"
      operationId: getPgMgrPlugin
      parameters:
      - description: Plugin ID
        in: path
        name: plugin_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/LinksObject'
            links:
              example:
              - href: /pg_mgr/plugins/accent-aastra-3.3.1-SP4
                rel: pg.plugin
          description: OK
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get the resources of a specific plugin
      tags:
      - plugins
  /pg_mgr/plugins/{plugin_id}/info:
    get:
      description: "**Required ACL:** `provd.pg_mgr.plugins.{plugin_id}.info.read`"
      operationId: getPgMgrPluginInfo
      parameters:
      - description: Plugin ID
        in: path
        name: plugin_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/PluginInfo'
            plugin_info:
              example:
                capabilities:
                  Aastra, 6730i, 3.3.1.5089:
                    sip.lines: 6
                  Aastra, 6731i, 3.3.1.2235:
                    sip.lines: 6
                    switchboard: true
                description: "Plugin for Aastra 6730i, 6731i, ..."
                version: "1.1"
          description: OK
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get the information of a plugin
      tags:
      - plugins
  /pg_mgr/plugins/{plugin_id}/install:
    get:
      description: "**Required ACL:** `provd.pg_mgr.plugins.{plugin_id}.install.read`"
      operationId: getPgMgrPluginInstall
      parameters:
      - description: Plugin ID
        in: path
        name: plugin_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/LinksObject'
            links:
              example:
              - href: /pg_mgr/plugins/test-plugin/install/install
                rel: srv.install.install
              - href: /pg_mgr/plugins/test-plugin/install/uninstall
                rel: srv.install.uninstall
              - href: /pg_mgr/plugins/test-plugin/install/installed
                rel: srv.install.installed
              - href: /pg_mgr/plugins/test-plugin/install/installable
                rel: srv.install.installable
          description: OK
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get the package installation service resources
      tags:
      - plugins
  /pg_mgr/plugins/{plugin_id}/install/install:
    post:
      description: "**Required ACL:** `provd.pg_mgr.plugins.{plugin_id}.install.install.create`"
      operationId: postPgMgrPluginInstallPlugin
      parameters:
      - description: Plugin ID
        in: path
        name: plugin_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/IdObject'
        description: Package ID body definition
        required: false
      responses:
        "201":
          content: {}
          description: Operation in progress
          headers:
            Location:
              description: Location of the OperationInProgress resource
              schema:
                type: string
        "400":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Invalid JSON document
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Install a package
      tags:
      - plugins
      x-codegen-request-body-name: body
  /pg_mgr/plugins/{plugin_id}/install/install/{operation_id}:
    delete:
      description: "**Required ACL:** `provd.operation.delete` This does not cancel\
        \ the underlying operation; it only deletes the monitor Every monitor that\
        \ is created should be deleted, else they won't be freed by the process and\
        \ they will accumulate, taking memory "
      operationId: deletePgMgrInstallMonitor
      parameters:
      - description: Plugin ID
        in: path
        name: plugin_id
        required: true
        schema:
          type: string
      - description: Operation In Progress ID
        in: path
        name: operation_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Delete the Operation In Progress
      tags:
      - plugins
    get:
      description: '**Required ACL:** `provd.operation.read`'
      operationId: getPgMgrPluginInstallStatus
      parameters:
      - description: Plugin ID
        in: path
        name: plugin_id
        required: true
        schema:
          type: string
      - description: Operation In Progress ID
        in: path
        name: operation_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/OperationInProgressObject'
          description: OK
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get the status of a package installation Operation In Progress
      tags:
      - plugins
  /pg_mgr/plugins/{plugin_id}/install/installable:
    get:
      description: "**Required ACL:** `provd.pg_mgr.plugins.{plugin_id}.install.installable.read`"
      operationId: getPgMgrInstallableList
      parameters:
      - description: Plugin ID
        in: path
        name: plugin_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/PackageList'
          description: OK
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get the installable packages list
      tags:
      - plugins
  /pg_mgr/plugins/{plugin_id}/install/installed:
    get:
      description: "**Required ACL:** `provd.pg_mgr.plugins.{plugin_id}.install.installed.read`"
      operationId: getPgMgrInstalledList
      parameters:
      - description: Plugin ID
        in: path
        name: plugin_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/PackageList'
          description: OK
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get the installed packages list
      tags:
      - plugins
  /pg_mgr/plugins/{plugin_id}/install/uninstall:
    post:
      description: "**Required ACL:** `provd.pg_mgr.plugins.{plugin_id}.install.uninstall.create`"
      operationId: postPgMgrPluginUninstallPlugin
      parameters:
      - description: Plugin ID
        in: path
        name: plugin_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/IdObject'
        description: Package ID body definition
        required: false
      responses:
        "204":
          content: {}
          description: No content
        "400":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Invalid JSON document
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
        "415":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unsupported media type. This error occurs if you forgot to
            include the Content-Type header
      summary: Uninstall a package
      tags:
      - plugins
      x-codegen-request-body-name: body
  /pg_mgr/plugins/{plugin_id}/install/upgrade/{operation_id}:
    delete:
      description: "**Required ACL:** `provd.operation.delete` This does not cancel\
        \ the underlying operation; it only deletes the monitor Every monitor that\
        \ is created should be deleted, else they won't be freed by the process and\
        \ they will accumulate, taking memory "
      operationId: deletePgMgrPluginUpgradeMonitor
      parameters:
      - description: Plugin ID
        in: path
        name: plugin_id
        required: true
        schema:
          type: string
      - description: Operation In Progress ID
        in: path
        name: operation_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No content
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Delete the Operation In Progress
      tags:
      - plugins
    get:
      description: '**Required ACL:** `provd.operation.read`'
      operationId: getPgMgrPluginUpgradeStatus
      parameters:
      - description: Plugin ID
        in: path
        name: plugin_id
        required: true
        schema:
          type: string
      - description: Operation In Progress ID
        in: path
        name: operation_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/OperationInProgressObject'
          description: OK
        "404":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: No such resource. The provided id does not exist
      summary: Get the status of a package upgrade Operation In Progress
      tags:
      - plugins
  /pg_mgr/reload:
    post:
      description: "**Required ACL:** `provd.pg_mgr.reload.create` This is mostly\
        \ useful during plugin development, after changing the code of the plugin,\
        \ instead of restarting the accent-provd application "
      operationId: postPgMgrReload
      requestBody:
        content:
          application/vnd.accent.provd+json:
            schema:
              $ref: '#/components/schemas/IdObject'
        description: Plugin ID body definition
        required: false
      responses:
        "204":
          content: {}
          description: No content
      summary: Reload a plugin
      tags:
      - plugins
      x-codegen-request-body-name: body
  /status:
    get:
      description: '**Required ACL:** `provd.status.read`'
      operationId: getStatus
      responses:
        "200":
          content:
            application/vnd.accent.provd+json:
              schema:
                $ref: '#/components/schemas/StatusSummary'
          description: The internal infos of accent-provd
      summary: Print infos about internal status of accent-provd
      tags:
      - status
components:
  parameters:
    ConfigId:
      description: Configuration ID
      in: path
      name: config_id
      required: true
      schema:
        type: string
    DeviceId:
      description: Device ID
      in: path
      name: device_id
      required: true
      schema:
        type: string
    OperationId:
      description: Operation In Progress ID
      in: path
      name: operation_id
      required: true
      schema:
        type: string
    ParamId:
      description: Configuration parameter ID
      in: path
      name: param_id
      required: true
      schema:
        type: string
    PluginId:
      description: Plugin ID
      in: path
      name: plugin_id
      required: true
      schema:
        type: string
    Recurse:
      description: Should the query include sub-tenants
      in: query
      name: recurse
      schema:
        default: false
        type: boolean
    SearchFields:
      description: |
        A list of fields, separated by comma.

        Example: `mac,ip`
      in: query
      name: fields
      schema:
        type: string
    SearchQuery:
      description: |
        A selector, encoded in JSON, describing which entries should be returned. All entries are returned if not specified.

        Example: `{"ip":"10.34.1.110"}`
      in: query
      name: q
      schema:
        type: string
    Skip:
      description: |
        An integer specifing the number of entries to skip.

        Example: 10
      in: query
      name: skip
      schema:
        type: integer
    SortEntries:
      description: |
        The key on which to sort the results.

        Example: `id`
      in: query
      name: sort
      schema:
        type: string
    SortOrder:
      description: The order of sort
      in: query
      name: sort_ord
      schema:
        enum:
        - ASC
        - DESC
        type: string
    TenantUUID:
      description: "The tenant's UUID, defining the ownership of a given resource"
      in: header
      name: Accent-Tenant
      schema:
        type: string
  requestBodies:
    ConfigParam:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/ConfigObject'
      description: Body of a configuration parameter
      required: false
    DeviceDHCPInfo:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/DHCPInfoObject'
      description: DHCP request information
      required: false
    DeviceIdBody:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/IdObject'
      description: Device ID body definition
      required: false
    EmptyBody:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/EmptyObject'
      description: Empty object body
      required: false
    PackageIdBody:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/IdObject'
      description: Package ID body definition
      required: false
    ParamBody:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/Param'
      description: Configuration parameter body definition
      required: false
    PluginIdBody:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/IdObject'
      description: Plugin ID body definition
      required: false
  responses:
    BadRequestError:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
      description: "Bad request. The device ID, IP or MAC may be invalid"
    ConfigCreationResponse:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/IdObject'
      description: "Configuration created. If the ``id`` field was not given, then\
        \ the ID was automatically generated by the server."
      headers:
        Location:
          description: Location of the newly created configuration.
          schema:
            type: string
    ConfigUniqueResponse:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/ConfigObject'
      description: A complete configuration response
    ConfigsResponse:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/ConfigsObject'
      description: List of configurations
    DeviceCreationResponse:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/IdObject'
      description: Device creation response
      headers:
        Location:
          description: Location of the newly created device
          schema:
            type: string
    DeviceUniqueResponse:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/DeviceObject'
      description: A complete device response
    DevicesResponse:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/DevicesList'
      description: A list of devices
    ForbiddenResponse:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
      description: The operation is not permitted for this resource.
    InternalServerError:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
      description: Internal Server Error. The IP or MAC address may be malformed
    InvalidJSONError:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
      description: Invalid JSON document
    NoContentResponse:
      content: {}
      description: No content
    NoSuchResourceError:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
      description: No such resource. The provided id does not exist
    OperationInProgressResponse:
      content: {}
      description: Operation in progress
      headers:
        Location:
          description: Location of the OperationInProgress resource
          schema:
            type: string
    UnsupportedMediaError:
      content:
        application/vnd.accent.provd+json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
      description: Unsupported media type. This error occurs if you forgot to include
        the Content-Type header
  schemas:
    CapabilitiesObject:
      additionalProperties:
        additionalProperties:
          type: string
        type: object
      type: object
    ComponentWithStatus:
      properties:
        status:
          $ref: '#/components/schemas/StatusValue'
      type: object
    Config:
      description: A complete configuration
      example:
        deletable: true
        id: abcdef123456890
        parent_ids:
        - base
        raw_config:
          sip_lines:
            "1":
              auth_username: "100"
              display_name: Foo
              password: "100"
              username: "100"
      properties:
        deletable:
          type: boolean
        id:
          description: The unique configuration id
          type: string
        parent_ids:
          items:
            description: ID of a parent of the configuration
            type: string
          type: array
        raw_config:
          $ref: '#/components/schemas/RawConfigurationObject'
      type: object
    ConfigObject:
      description: A configuration object
      properties:
        config:
          $ref: '#/components/schemas/Config'
      type: object
    ConfigsObject:
      properties:
        configs:
          items:
            $ref: '#/components/schemas/Config'
          type: array
      type: object
    DHCPInfo:
      properties:
        ip:
          description: The IP address of the device
          type: string
        mac:
          description: The MAC address of the device
          type: string
        op:
          description: The operation to perform
          enum:
          - commit
          type: string
        options:
          items:
            description: |
              The option string. The first 3 characters are the option number, the following pairs of dot-separated hexadecimal numbers are the option value characters.
            type: string
          type: array
      type: object
    DHCPInfoObject:
      properties:
        dhcp_info:
          $ref: '#/components/schemas/DHCPInfo'
      type: object
    Device:
      description: A device schema
      properties:
        added:
          description: Indicated how the device was added
          type: string
        config:
          description: "ID of the device configuration. Generally the same as the\
            \ device ID, except when in autoprov"
          type: string
        configured:
          readOnly: true
          type: boolean
        description:
          type: string
        id:
          description: Device ID
          type: string
        ip:
          description: IP address (10.0.0.0)
          type: string
        is_new:
          description: "Indicates if the device is a new device, ie in the master\
            \ tenant"
          readOnly: true
          type: boolean
        mac:
          description: MAC address (aa:bb:cc:dd:ee:ff)
          type: string
        model:
          description: Device model
          type: string
        plugin:
          description: Provisioning plugin used by the device
          type: string
        remote_state_sip_username:
          type: string
        tenant_uuid:
          description: "The tenant UUID, defining the ownership of this device"
          readOnly: true
          type: string
        vendor:
          description: Vendor name
          type: string
        version:
          description: Firmware version
          type: string
      type: object
    DeviceObject:
      description: A device object
      properties:
        device:
          $ref: '#/components/schemas/Device'
      type: object
    DevicesList:
      description: A list of devices
      properties:
        devices:
          items:
            $ref: '#/components/schemas/Device'
          type: array
      type: object
    EmptyObject:
      description: Empty body
      type: object
    ErrorMessage:
      description: Error message response
      type: string
    FtpProxy:
      example:
        param:
          value: http://root:secret@example.com:8082
      properties:
        param:
          description: "The proxy for FTP requests. Format is `http://[user:password@]host:port`"
          type: string
      title: FTP proxy configuration
      type: object
    GeneralConfigObject:
      properties:
        description:
          type: string
        id:
          type: string
        links:
          $ref: '#/components/schemas/LinksObject'
        value:
          type: string
      type: object
    GeneralConfigsObject:
      properties:
        params:
          items:
            $ref: '#/components/schemas/GeneralConfigObject'
          type: array
      type: object
    HttpProxy:
      example:
        param:
          value: http://root:secret@example.com:8080
      properties:
        param:
          description: "The proxy for HTTP requests. Format is `http://[user:password@]host:port`"
          type: string
      title: HTTP proxy configuration
      type: object
    HttpsProxy:
      example:
        param:
          value: example.com:8081
      properties:
        param:
          description: The proxy for HTTPS requests. Format is `host:port`
          type: string
      title: HTTPS proxy configuration
      type: object
    IdObject:
      example:
        id: abcdef1234567890
      properties:
        id:
          type: string
      type: object
    LinkObject:
      description: Link Object
      properties:
        href:
          description: Location of the resource
          type: string
        rel:
          description: Relation to the resource
          type: string
      type: object
    LinksObject:
      description: Links object
      properties:
        links:
          description: Links to different resources
          items:
            $ref: '#/components/schemas/LinkObject'
          type: array
      type: object
    Locale:
      example:
        param:
          value: en_US
      properties:
        param:
          description: "The current locale. For example: `en_US`"
          type: string
      title: Locale configuration
      type: object
    Nat:
      example:
        param:
          value: "1"
      properties:
        param:
          description: Set to `1` if all the devices are behind a NAT
          type: string
      title: NAT configuration
      type: object
    OperationInProgressObject:
      properties:
        status:
          description: |
            The ``status`` field describes the current status of the operation. The format is
            ``[label|]state[;current[/end]](\(sub_oips\))*``. Here are some examples:

            * progress
            * download|progress
            * download|progress;10
            * download|progress;10/100
            * download|progress(file_1|progress;20/100)(file_2|waiting;0/50)
            * download|progress;20/150(file_1|progress)(file_2|waiting)
            * op|progress(op1|progress(op11|progress)(op12|waiting))(op2|progress)

            The state of an operation is either ``waiting``, ``progress``, ``success`` or ``fail``.
          type: string
      type: object
    Package:
      properties:
        capabilities:
          additionalProperties:
            additionalProperties:
              type: string
            type: object
          type: object
        description:
          type: string
        dsize:
          type: integer
        sha1sum:
          type: string
        version:
          type: string
      type: object
    PackageList:
      properties:
        pkgs:
          additionalProperties:
            $ref: '#/components/schemas/Package'
          type: object
      type: object
    PackageObject:
      additionalProperties:
        $ref: '#/components/schemas/Package'
      type: object
    Param:
      description: A configuration parameter
      example:
        param:
          value: http://provd.accent.community/plugins/2/stable
      properties:
        param:
          $ref: '#/components/schemas/ParamObject'
      type: object
    ParamObject:
      properties:
        value:
          type: string
      type: object
    PluginInfo:
      properties:
        plugin_info:
          $ref: '#/components/schemas/PluginInfoObject'
      type: object
    PluginInfoObject:
      properties:
        capabilities:
          additionalProperties:
            additionalProperties:
              type: string
            type: object
          type: object
        description:
          type: string
        version:
          type: string
      type: object
    PluginServer:
      example:
        param:
          value: http://provd.accent.community/plugins/2/stable/
      properties:
        param:
          description: The plugins repository URL
          type: string
      title: Plugin server configuration
      type: object
    Plugins:
      additionalProperties:
        $ref: '#/components/schemas/LinksObject'
      type: object
    PluginsObject:
      properties:
        plugins:
          additionalProperties:
            $ref: '#/components/schemas/LinksObject'
          type: object
      type: object
    ProvisioningKey:
      description: Provisioning Key configuration
      example:
        param:
          value: a1b2c3d4e5f6g7h8
      properties:
        param:
          description: Provisioning key used to authenticate request to fetch provisioning
            configuration file
          type: string
      type: object
    RawConfigurationObject:
      example:
        raw_config:
          sip_lines:
            "1":
              auth_username: "100"
              display_name: Foo
              password: "100"
              username: "100"
      properties:
        raw_config:
          properties: {}
          type: object
      type: object
    StatusSummary:
      properties:
        rest_api:
          $ref: '#/components/schemas/ComponentWithStatus'
      type: object
    StatusValue:
      enum:
      - fail
      - ok
      type: string
  securitySchemes:
    accent_auth_token:
      in: header
      name: X-Auth-Token
      type: apiKey
x-accent-name: provd
x-accent-port: 8666
x-original-swagger-version: "2.0"
