/*
accent-call-logd

Consult call logs from a REST API

API version: 1.0.0
Contact: help@accentvoice.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package calllogd

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


type AgentStatisticsAPI interface {

	/*
	GetAgentStatistics Statistics for a specific agent

	**Required ACL:** `call-logd.agents.statistics.{agent_id}.read` Statistics for an agent are aggregated by the `interval` query parameter, or if not specified or empty, as a unique result over the period. The period is specified by the `from` and `until` query parameters. The last result returned by this route is always the aggregation of all calls over the whole specified period.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentId ID of the agent.
	@return AgentStatisticsAPIGetAgentStatisticsRequest
	*/
	GetAgentStatistics(ctx context.Context, agentId int32) AgentStatisticsAPIGetAgentStatisticsRequest

	// GetAgentStatisticsExecute executes the request
	//  @return AgentStatistics
	GetAgentStatisticsExecute(r AgentStatisticsAPIGetAgentStatisticsRequest) (*AgentStatistics, *http.Response, error)

	/*
	GetAgentsStatistics Statistics for all agents

	**Required ACL:** `call-logd.agents.statistics.read`
Statistics are aggregated by agents over the period specified by the `from` and `until` query parameters.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AgentStatisticsAPIGetAgentsStatisticsRequest
	*/
	GetAgentsStatistics(ctx context.Context) AgentStatisticsAPIGetAgentsStatisticsRequest

	// GetAgentsStatisticsExecute executes the request
	//  @return AgentsStatistics
	GetAgentsStatisticsExecute(r AgentStatisticsAPIGetAgentsStatisticsRequest) (*AgentsStatistics, *http.Response, error)
}

// AgentStatisticsAPIService AgentStatisticsAPI service
type AgentStatisticsAPIService service

type AgentStatisticsAPIGetAgentStatisticsRequest struct {
	ctx context.Context
	ApiService AgentStatisticsAPI
	agentId int32
	accentTenant *string
	from *time.Time
	until *time.Time
	interval *string
	dayStartTime *string
	dayEndTime *string
	weekDays *[]int32
	timezone *string
}

// The tenant&#39;s UUID, defining the ownership of a given resource.
func (r AgentStatisticsAPIGetAgentStatisticsRequest) AccentTenant(accentTenant string) AgentStatisticsAPIGetAgentStatisticsRequest {
	r.accentTenant = &accentTenant
	return r
}

// Ignore calls before the given date. Format is &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO-8601&lt;/a&gt;. Timezone will be converted according to the &#x60;timezone&#x60; parameter. If missing, the statistics will start at the oldest available call with timezone UTC.
func (r AgentStatisticsAPIGetAgentStatisticsRequest) From(from time.Time) AgentStatisticsAPIGetAgentStatisticsRequest {
	r.from = &from
	return r
}

// Ignore calls starting at or after the given date. Format is &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO-8601&lt;/a&gt;. Timezone will be converted according to the &#x60;timezone&#x60; parameter. If missing, the statistics will include the current day.
func (r AgentStatisticsAPIGetAgentStatisticsRequest) Until(until time.Time) AgentStatisticsAPIGetAgentStatisticsRequest {
	r.until = &until
	return r
}

// Aggregation interval. An empty value means no interval, so an aggregation on all values.
func (r AgentStatisticsAPIGetAgentStatisticsRequest) Interval(interval string) AgentStatisticsAPIGetAgentStatisticsRequest {
	r.interval = &interval
	return r
}

// The time at which a day starts, inclusively. Accepted format is &#x60;HH:MM&#x60;, minutes are ignored.
func (r AgentStatisticsAPIGetAgentStatisticsRequest) DayStartTime(dayStartTime string) AgentStatisticsAPIGetAgentStatisticsRequest {
	r.dayStartTime = &dayStartTime
	return r
}

// The time at which a day ends, inclusively. Accepted format is &#x60;HH:MM&#x60;, minutes are ignored.
func (r AgentStatisticsAPIGetAgentStatisticsRequest) DayEndTime(dayEndTime string) AgentStatisticsAPIGetAgentStatisticsRequest {
	r.dayEndTime = &dayEndTime
	return r
}

// The days of the week that should be included. A week starts on Monday (1) and ends on Sunday (7).
func (r AgentStatisticsAPIGetAgentStatisticsRequest) WeekDays(weekDays []int32) AgentStatisticsAPIGetAgentStatisticsRequest {
	r.weekDays = &weekDays
	return r
}

// Name of the timezone to use for dates and times. Example: America/New_York. Valid timezones are defined by the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Tz_database\&quot;&gt;Time Zone Database&lt;/a&gt; version installed on the server.
func (r AgentStatisticsAPIGetAgentStatisticsRequest) Timezone(timezone string) AgentStatisticsAPIGetAgentStatisticsRequest {
	r.timezone = &timezone
	return r
}

func (r AgentStatisticsAPIGetAgentStatisticsRequest) Execute() (*AgentStatistics, *http.Response, error) {
	return r.ApiService.GetAgentStatisticsExecute(r)
}

/*
GetAgentStatistics Statistics for a specific agent

**Required ACL:** `call-logd.agents.statistics.{agent_id}.read` Statistics for an agent are aggregated by the `interval` query parameter, or if not specified or empty, as a unique result over the period. The period is specified by the `from` and `until` query parameters. The last result returned by this route is always the aggregation of all calls over the whole specified period.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param agentId ID of the agent.
 @return AgentStatisticsAPIGetAgentStatisticsRequest
*/
func (a *AgentStatisticsAPIService) GetAgentStatistics(ctx context.Context, agentId int32) AgentStatisticsAPIGetAgentStatisticsRequest {
	return AgentStatisticsAPIGetAgentStatisticsRequest{
		ApiService: a,
		ctx: ctx,
		agentId: agentId,
	}
}

// Execute executes the request
//  @return AgentStatistics
func (a *AgentStatisticsAPIService) GetAgentStatisticsExecute(r AgentStatisticsAPIGetAgentStatisticsRequest) (*AgentStatistics, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentStatistics
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentStatisticsAPIService.GetAgentStatistics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agent_id}/statistics"
	localVarPath = strings.Replace(localVarPath, "{"+"agent_id"+"}", url.PathEscape(parameterValueToString(r.agentId, "agentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "")
	}
	if r.interval != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "interval", r.interval, "")
	}
	if r.dayStartTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "day_start_time", r.dayStartTime, "")
	}
	if r.dayEndTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "day_end_time", r.dayEndTime, "")
	}
	if r.weekDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "week_days", r.weekDays, "csv")
	} else {
		var defaultValue []int32 = []int32{1,2,3,4,5,6,7}
		r.weekDays = &defaultValue
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "")
	} else {
		var defaultValue string = "UTC"
		r.timezone = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accentTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accent-Tenant", r.accentTenant, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["accent_auth_token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentStatisticsAPIGetAgentsStatisticsRequest struct {
	ctx context.Context
	ApiService AgentStatisticsAPI
	accentTenant *string
	from *time.Time
	until *time.Time
	dayStartTime *string
	dayEndTime *string
	weekDays *[]int32
	timezone *string
}

// The tenant&#39;s UUID, defining the ownership of a given resource.
func (r AgentStatisticsAPIGetAgentsStatisticsRequest) AccentTenant(accentTenant string) AgentStatisticsAPIGetAgentsStatisticsRequest {
	r.accentTenant = &accentTenant
	return r
}

// Ignore calls before the given date. Format is &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO-8601&lt;/a&gt;. Timezone will be converted according to the &#x60;timezone&#x60; parameter. If missing, the statistics will start at the oldest available call with timezone UTC.
func (r AgentStatisticsAPIGetAgentsStatisticsRequest) From(from time.Time) AgentStatisticsAPIGetAgentsStatisticsRequest {
	r.from = &from
	return r
}

// Ignore calls starting at or after the given date. Format is &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO-8601&lt;/a&gt;. Timezone will be converted according to the &#x60;timezone&#x60; parameter. If missing, the statistics will include the current day.
func (r AgentStatisticsAPIGetAgentsStatisticsRequest) Until(until time.Time) AgentStatisticsAPIGetAgentsStatisticsRequest {
	r.until = &until
	return r
}

// The time at which a day starts, inclusively. Accepted format is &#x60;HH:MM&#x60;, minutes are ignored.
func (r AgentStatisticsAPIGetAgentsStatisticsRequest) DayStartTime(dayStartTime string) AgentStatisticsAPIGetAgentsStatisticsRequest {
	r.dayStartTime = &dayStartTime
	return r
}

// The time at which a day ends, inclusively. Accepted format is &#x60;HH:MM&#x60;, minutes are ignored.
func (r AgentStatisticsAPIGetAgentsStatisticsRequest) DayEndTime(dayEndTime string) AgentStatisticsAPIGetAgentsStatisticsRequest {
	r.dayEndTime = &dayEndTime
	return r
}

// The days of the week that should be included. A week starts on Monday (1) and ends on Sunday (7).
func (r AgentStatisticsAPIGetAgentsStatisticsRequest) WeekDays(weekDays []int32) AgentStatisticsAPIGetAgentsStatisticsRequest {
	r.weekDays = &weekDays
	return r
}

// Name of the timezone to use for dates and times. Example: America/New_York. Valid timezones are defined by the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Tz_database\&quot;&gt;Time Zone Database&lt;/a&gt; version installed on the server.
func (r AgentStatisticsAPIGetAgentsStatisticsRequest) Timezone(timezone string) AgentStatisticsAPIGetAgentsStatisticsRequest {
	r.timezone = &timezone
	return r
}

func (r AgentStatisticsAPIGetAgentsStatisticsRequest) Execute() (*AgentsStatistics, *http.Response, error) {
	return r.ApiService.GetAgentsStatisticsExecute(r)
}

/*
GetAgentsStatistics Statistics for all agents

**Required ACL:** `call-logd.agents.statistics.read`
Statistics are aggregated by agents over the period specified by the `from` and `until` query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AgentStatisticsAPIGetAgentsStatisticsRequest
*/
func (a *AgentStatisticsAPIService) GetAgentsStatistics(ctx context.Context) AgentStatisticsAPIGetAgentsStatisticsRequest {
	return AgentStatisticsAPIGetAgentsStatisticsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AgentsStatistics
func (a *AgentStatisticsAPIService) GetAgentsStatisticsExecute(r AgentStatisticsAPIGetAgentsStatisticsRequest) (*AgentsStatistics, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentsStatistics
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentStatisticsAPIService.GetAgentsStatistics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/statistics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "")
	}
	if r.dayStartTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "day_start_time", r.dayStartTime, "")
	}
	if r.dayEndTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "day_end_time", r.dayEndTime, "")
	}
	if r.weekDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "week_days", r.weekDays, "csv")
	} else {
		var defaultValue []int32 = []int32{1,2,3,4,5,6,7}
		r.weekDays = &defaultValue
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "")
	} else {
		var defaultValue string = "UTC"
		r.timezone = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accentTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accent-Tenant", r.accentTenant, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["accent_auth_token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
