/*
accent-call-logd

Consult call logs from a REST API

API version: 1.0.0
Contact: help@accentvoice.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package call-logd

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


type UsersAPI interface {

	/*
	GetCurrentUserCDR List CDR of the authenticated user

	**Required ACL:** `call-logd.users.me.cdr.read`
This endpoint allow to use `?token={token_uuid}` and `?tenant={tenant_uuid}` query string to bypass headers 

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsersAPIGetCurrentUserCDRRequest
	*/
	GetCurrentUserCDR(ctx context.Context) UsersAPIGetCurrentUserCDRRequest

	// GetCurrentUserCDRExecute executes the request
	//  @return CDRList
	GetCurrentUserCDRExecute(r UsersAPIGetCurrentUserCDRRequest) (*CDRList, *http.Response, error)

	/*
	GetUserCDR List CDR of the given user

	**Required ACL:** `call-logd.users.{user_uuid}.cdr.read`
This endpoint allow to use `?token={token_uuid}` and `?tenant={tenant_uuid}` query string to bypass headers 

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userUuid UUID of the given user
	@return UsersAPIGetUserCDRRequest
	*/
	GetUserCDR(ctx context.Context, userUuid string) UsersAPIGetUserCDRRequest

	// GetUserCDRExecute executes the request
	//  @return CDRList
	GetUserCDRExecute(r UsersAPIGetUserCDRRequest) (*CDRList, *http.Response, error)
}

// UsersAPIService UsersAPI service
type UsersAPIService service

type UsersAPIGetCurrentUserCDRRequest struct {
	ctx context.Context
	ApiService UsersAPI
	from *time.Time
	until *time.Time
	limit *int32
	offset *int32
	order *string
	direction *string
	search *string
	callDirection *string
	number *string
	fromId *int32
	userUuid *[]string
	distinct *string
	recorded *bool
	format *string
}

// Ignore calls before the given date. Format is &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO-8601&lt;/a&gt;. Timezone will be converted according to the &#x60;timezone&#x60; parameter. If missing, the statistics will start at the oldest available call with timezone UTC. 
func (r UsersAPIGetCurrentUserCDRRequest) From(from time.Time) UsersAPIGetCurrentUserCDRRequest {
	r.from = &from
	return r
}

// Ignore calls starting at or after the given date. Format is &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO-8601&lt;/a&gt;. Timezone will be converted according to the &#x60;timezone&#x60; parameter. If missing, the statistics will include the current day. 
func (r UsersAPIGetCurrentUserCDRRequest) Until(until time.Time) UsersAPIGetCurrentUserCDRRequest {
	r.until = &until
	return r
}

// Maximum number of items to return in the list. Default to 1000 if not specified.
func (r UsersAPIGetCurrentUserCDRRequest) Limit(limit int32) UsersAPIGetCurrentUserCDRRequest {
	r.limit = &limit
	return r
}

// Number of items to skip over in the list. Useful for pagination.
func (r UsersAPIGetCurrentUserCDRRequest) Offset(offset int32) UsersAPIGetCurrentUserCDRRequest {
	r.offset = &offset
	return r
}

// Name of the field to use for sorting the list of items returned. Unsupported values: &#x60;&#x60;end&#x60;&#x60;.
func (r UsersAPIGetCurrentUserCDRRequest) Order(order string) UsersAPIGetCurrentUserCDRRequest {
	r.order = &order
	return r
}

// Sort list of items in &#39;asc&#39; (ascending) or &#39;desc&#39; (descending) order
func (r UsersAPIGetCurrentUserCDRRequest) Direction(direction string) UsersAPIGetCurrentUserCDRRequest {
	r.direction = &direction
	return r
}

// Filter list of items
func (r UsersAPIGetCurrentUserCDRRequest) Search(search string) UsersAPIGetCurrentUserCDRRequest {
	r.search = &search
	return r
}

// Filter list of items
func (r UsersAPIGetCurrentUserCDRRequest) CallDirection(callDirection string) UsersAPIGetCurrentUserCDRRequest {
	r.callDirection = &callDirection
	return r
}

// Filter by source_extension and destination_extension. A wildcard (underscore) can be used at the start and/or the end of the number.
func (r UsersAPIGetCurrentUserCDRRequest) Number(number string) UsersAPIGetCurrentUserCDRRequest {
	r.number = &number
	return r
}

// Ignore CDR created before the given CDR ID.
func (r UsersAPIGetCurrentUserCDRRequest) FromId(fromId int32) UsersAPIGetCurrentUserCDRRequest {
	r.fromId = &fromId
	return r
}

// Filter by user_uuid. Many uuid can be specified. Each uuid MUST be separated by a comma (,). Many uuid will perform a logical OR.
func (r UsersAPIGetCurrentUserCDRRequest) UserUuid(userUuid []string) UsersAPIGetCurrentUserCDRRequest {
	r.userUuid = &userUuid
	return r
}

// Will only return one result for the selected field
func (r UsersAPIGetCurrentUserCDRRequest) Distinct(distinct string) UsersAPIGetCurrentUserCDRRequest {
	r.distinct = &distinct
	return r
}

// Filter by recorded status.
func (r UsersAPIGetCurrentUserCDRRequest) Recorded(recorded bool) UsersAPIGetCurrentUserCDRRequest {
	r.recorded = &recorded
	return r
}

// Overrides the Content-Type header. This is used to be able to have a downloadable link. Allowed values are \&quot;csv\&quot; and \&quot;json\&quot;
func (r UsersAPIGetCurrentUserCDRRequest) Format(format string) UsersAPIGetCurrentUserCDRRequest {
	r.format = &format
	return r
}

func (r UsersAPIGetCurrentUserCDRRequest) Execute() (*CDRList, *http.Response, error) {
	return r.ApiService.GetCurrentUserCDRExecute(r)
}

/*
GetCurrentUserCDR List CDR of the authenticated user

**Required ACL:** `call-logd.users.me.cdr.read`
This endpoint allow to use `?token={token_uuid}` and `?tenant={tenant_uuid}` query string to bypass headers 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return UsersAPIGetCurrentUserCDRRequest
*/
func (a *UsersAPIService) GetCurrentUserCDR(ctx context.Context) UsersAPIGetCurrentUserCDRRequest {
	return UsersAPIGetCurrentUserCDRRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CDRList
func (a *UsersAPIService) GetCurrentUserCDRExecute(r UsersAPIGetCurrentUserCDRRequest) (*CDRList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CDRList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersAPIService.GetCurrentUserCDR")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/me/cdr"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "")
	}
	if r.callDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "call_direction", r.callDirection, "")
	}
	if r.number != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "number", r.number, "")
	}
	if r.fromId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_id", r.fromId, "")
	}
	if r.userUuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_uuid", r.userUuid, "csv")
	}
	if r.distinct != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "distinct", r.distinct, "")
	}
	if r.recorded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recorded", r.recorded, "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv; charset=utf-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["accent_auth_token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsersAPIGetUserCDRRequest struct {
	ctx context.Context
	ApiService UsersAPI
	userUuid string
	from *time.Time
	until *time.Time
	limit *int32
	offset *int32
	order *string
	direction *string
	search *string
	callDirection *string
	number *string
	fromId *int32
	distinct *string
	recorded *bool
	format *string
}

// Ignore calls before the given date. Format is &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO-8601&lt;/a&gt;. Timezone will be converted according to the &#x60;timezone&#x60; parameter. If missing, the statistics will start at the oldest available call with timezone UTC. 
func (r UsersAPIGetUserCDRRequest) From(from time.Time) UsersAPIGetUserCDRRequest {
	r.from = &from
	return r
}

// Ignore calls starting at or after the given date. Format is &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO-8601&lt;/a&gt;. Timezone will be converted according to the &#x60;timezone&#x60; parameter. If missing, the statistics will include the current day. 
func (r UsersAPIGetUserCDRRequest) Until(until time.Time) UsersAPIGetUserCDRRequest {
	r.until = &until
	return r
}

// Maximum number of items to return in the list. Default to 1000 if not specified.
func (r UsersAPIGetUserCDRRequest) Limit(limit int32) UsersAPIGetUserCDRRequest {
	r.limit = &limit
	return r
}

// Number of items to skip over in the list. Useful for pagination.
func (r UsersAPIGetUserCDRRequest) Offset(offset int32) UsersAPIGetUserCDRRequest {
	r.offset = &offset
	return r
}

// Name of the field to use for sorting the list of items returned. Unsupported values: &#x60;&#x60;end&#x60;&#x60;.
func (r UsersAPIGetUserCDRRequest) Order(order string) UsersAPIGetUserCDRRequest {
	r.order = &order
	return r
}

// Sort list of items in &#39;asc&#39; (ascending) or &#39;desc&#39; (descending) order
func (r UsersAPIGetUserCDRRequest) Direction(direction string) UsersAPIGetUserCDRRequest {
	r.direction = &direction
	return r
}

// Filter list of items
func (r UsersAPIGetUserCDRRequest) Search(search string) UsersAPIGetUserCDRRequest {
	r.search = &search
	return r
}

// Filter list of items
func (r UsersAPIGetUserCDRRequest) CallDirection(callDirection string) UsersAPIGetUserCDRRequest {
	r.callDirection = &callDirection
	return r
}

// Filter by source_extension and destination_extension. A wildcard (underscore) can be used at the start and/or the end of the number.
func (r UsersAPIGetUserCDRRequest) Number(number string) UsersAPIGetUserCDRRequest {
	r.number = &number
	return r
}

// Ignore CDR created before the given CDR ID.
func (r UsersAPIGetUserCDRRequest) FromId(fromId int32) UsersAPIGetUserCDRRequest {
	r.fromId = &fromId
	return r
}

// Will only return one result for the selected field
func (r UsersAPIGetUserCDRRequest) Distinct(distinct string) UsersAPIGetUserCDRRequest {
	r.distinct = &distinct
	return r
}

// Filter by recorded status.
func (r UsersAPIGetUserCDRRequest) Recorded(recorded bool) UsersAPIGetUserCDRRequest {
	r.recorded = &recorded
	return r
}

// Overrides the Content-Type header. This is used to be able to have a downloadable link. Allowed values are \&quot;csv\&quot; and \&quot;json\&quot;
func (r UsersAPIGetUserCDRRequest) Format(format string) UsersAPIGetUserCDRRequest {
	r.format = &format
	return r
}

func (r UsersAPIGetUserCDRRequest) Execute() (*CDRList, *http.Response, error) {
	return r.ApiService.GetUserCDRExecute(r)
}

/*
GetUserCDR List CDR of the given user

**Required ACL:** `call-logd.users.{user_uuid}.cdr.read`
This endpoint allow to use `?token={token_uuid}` and `?tenant={tenant_uuid}` query string to bypass headers 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userUuid UUID of the given user
 @return UsersAPIGetUserCDRRequest
*/
func (a *UsersAPIService) GetUserCDR(ctx context.Context, userUuid string) UsersAPIGetUserCDRRequest {
	return UsersAPIGetUserCDRRequest{
		ApiService: a,
		ctx: ctx,
		userUuid: userUuid,
	}
}

// Execute executes the request
//  @return CDRList
func (a *UsersAPIService) GetUserCDRExecute(r UsersAPIGetUserCDRRequest) (*CDRList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CDRList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersAPIService.GetUserCDR")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user_uuid}/cdr"
	localVarPath = strings.Replace(localVarPath, "{"+"user_uuid"+"}", url.PathEscape(parameterValueToString(r.userUuid, "userUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "")
	}
	if r.callDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "call_direction", r.callDirection, "")
	}
	if r.number != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "number", r.number, "")
	}
	if r.fromId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_id", r.fromId, "")
	}
	if r.distinct != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "distinct", r.distinct, "")
	}
	if r.recorded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recorded", r.recorded, "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/csv; charset=utf-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["accent_auth_token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
